{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  Question page
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
    <h1 class="govuk-heading-xl">Start the consultation</h1>
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "evidence-considered",
  id: "evidence-considered",
  label: {
    text: "Evidence considered"
  },
  hint: {
    text: "List all evidence considered alongside the consultation findings"
  }
}) }}
<h2 class="govuk-heading-l">Additional attendees</h2>
<p> The following individual attended the consultation with the claimant</p>
{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Name of individual"
  },
  id: "additional-attendee-name",
  name: "additional-attendee-name"
}) }}
{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Relationship to claimant"
  },
  id: "additional-attendee-relationship",
  name: "additional-attendee-relationship"
}) }}
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Add another attendee",
  classes: "govuk-button--secondary"
}) }}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "By starting this consultation I am confirming that the nature and purpose of the consultation has been explained to the claimant and/or their representative.",
  iconFallbackText: "Warning"
}) }}
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Start now",
  href: "/corecomponents/Research/2Navigation/pip-tasklist/0-tasklist_entry_DONE",
  isStartButton: true
}) }}
  </div>

</div>

</main>
</div>

{% endblock %}
