{% extends "layout.html" %}

{% block pageTitle %}
  Error page
{% endblock %}



{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
    

        <p class="govuk-body">
          There is a problem with generating the report. Trying again is unlikely to fix it. 
        </p>

        <p class="govuk-body">
          Please let us know by following these steps: 
        </p>

        <h2 class="govuk-heading-m">1. Report an incident in DWP Place</h2>

        <p class="govuk-body">
          Go to <a href="https://dwp.service-now.com/itsupport/" target="_blank">DWP Place (opens in new tab)</a> and select the option to ’report an incident’.
        </p>

        <h2 class="govuk-heading-m">2. Include details in the incident</h2>

        <p class="govuk-body">
          Select ’only you‘ for ’who is the incident affecting?’
        </p>

        <p class="govuk-body">
          Copy these details and paste them into the text box that asks you to briefly describe the issue:
        </p>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row govuk-summary-list--no-border">
            <dt class="govuk-summary-list__key">
              Assessment ID
            </dt>
            <!-- <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne</dd> -->

            <dd class="govuk-summary-list__value">1234</dd>

          </div>

          <div class="govuk-summary-list__row govuk-summary-list--no-border">
            <dt class="govuk-summary-list__key">
              Question reference
            </dt>
            <!-- <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne</dd> -->

            <dd class="govuk-summary-list__value">Lorem ipsum</dd>

          </div>
      
          <div class="govuk-summary-list__row govuk-summary-list--no-border">
            <dt class="govuk-summary-list__key">
              Date and time
            </dt>
            <!-- <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne</dd> -->

            <dd class="govuk-summary-list__value">20 April 2020 at 11.30</dd>

          </div>

          <h2 class="govuk-heading-m">3. Take a screenshot and attach it to the incident</h2>

          <p class="govuk-body">
            Take a screenshot of this error page and upload it to the incident as an attachment. There are instructions for how to do this on the <a href="https://support.microsoft.com/en-us/windows/keyboard-shortcut-for-print-screen-601210c0-b3a9-7b58-bc40-bae4dcf5f108" target="_blank">Microsoft website (opens in new tab)</a>.
          </p>
        
          <h2 class="govuk-heading-m">4. Finish reporting the incident</h2>

          <p class="govuk-body">
            After you report the incident, we will use the information you provided to fix the problem. It may take a few days.
          </p>
          
          <p class="govuk-body">
            When you’re done, go to the <a href="" target="_blank">last page you viewed</a>.
          </p>
        
        </dl>

      </div>
    </div>
  


{% endblock %}
