{% extends "layout.html" %}

{% block pageTitle %}
  Error page
{% endblock %}



{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
    

        <p class="govuk-body">
          To improve our service, please report the problem
        </p>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row govuk-summary-list--no-border">
            <dt class="govuk-summary-list__key">
              Assessment ID
            </dt>
            <!-- <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne</dd> -->

            <dd class="govuk-summary-list__value">1234</dd>

          </div>
      
          <div class="govuk-summary-list__row govuk-summary-list--no-border">
            <dt class="govuk-summary-list__key">
              Date and time
            </dt>
            <!-- <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne</dd> -->

            <dd class="govuk-summary-list__value">20 April 2020 at 11.30</dd>

          </div>
        

          <div class="govuk-summary-list__row govuk-summary-list--no-border">
            <dt class="govuk-summary-list__key">
              Question reference
            </dt>
            <!-- <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne</dd> -->

            <dd class="govuk-summary-list__value">Lorem ipsum</dd>

          </div>
        
        </dl>

      </div>
    </div>
  


{% endblock %}
