{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
Assessment has already been completed
{% endblock %}


{% block beforeContent %}
<a href="javascript:window.history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">Assessment has already been conducted</h1>
    

        <p class="govuk-body">
          Return to previous page and update the status.
        </p>
        <!-- <p class="govuk-body">
          To view the report, the status of this assessment may need updating.
        </p> -->


      </div>
    </div>
  


{% endblock %}
