{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  Multiple text fields component
{% endblock %}


{% block content %}


        <div class="govuk-width-container">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-three-quarters">

                <div class="govuk-panel govuk-panel--confirmation">
                  <h1 class="govuk-panel__title">
                    Assessment sign off confirmed
                  </h1>
                  <div class="govuk-panel__body">
                    Application:<br><strong>Completed</strong>
                  </div>
                </div>

              
                <h2 class="govuk-heading-m">What happens next</h2>

                <p class="govuk-body">
                  Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                </p>

              </div>
            </div>

        </div>

<!--

<button class="govuk-button" data-module="govuk-button">
Continue
</button> -->



{% endblock %}
