{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  Error page
{% endblock %}



{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">The page could not be reached.</p>

        <button class="govuk-button" data-module="govuk-button">
          Try again
        </button>
        <br>
        <br>
        <!-- <p class="govuk-body">
          <a class="govuk-link" href="#">Contact the Helpline</a> if this issue continues.
        </p> -->
      </div>
    </div>
  


{% endblock %}
