{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  TextArea component
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
  <!-- <span class="govuk-caption-l">Eating and drinking</span> -->

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
        How does John manage going out to places?
        </h1>
      </legend>
      <div id="sign-in-hint" class="govuk-hint">
        Select which one best matches
      </div>
       <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional">
    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
      Cannot leave their home and goto places
    </label>
  </div>
  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">
    <div class="govuk-form-group">
      <label class="govuk-label" for="contact-by-email">
        Provide more detail
      </label>
      <textarea class="govuk-textarea" id="contact-by-email" name="contact-by-email" rows="5" type="email" spellcheck="false"></textarea>
    </div>

  </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
          <label class="govuk-label govuk-radios__label" for="sign-in-2">
            Can leave their home and go to places they know
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sign-in-3" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-3-item-hint">
          <label class="govuk-label govuk-radios__label" for="sign-in-3">
            Can leave their home and go to new places
          </label>
            </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sign-in-3" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-3-item-hint">
            <label class="govuk-label govuk-radios__label" for="sign-in-3">
              None of the above
            </label>
        </div>
      </div>
    </fieldset>
  </div>

</div>
</div>

<button class="govuk-button" data-module="govuk-button">
  Save
</button>



{% endblock %}
