{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
Review page
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
  <!-- <span class="govuk-caption-l">Eating and drinking</span> -->

        <h1 class="govuk-heading-l">Check evidence before making your recommendation</h1>


        <br>
        <h2 class="govuk-heading-l">Claimant evidence</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Additional attendees
            </dt>
            <dd class="govuk-summary-list__value">
              None
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Condition history
            </dt>
            <dd class="govuk-summary-list__value">
              	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio nec fermentum sodales. Mauris vitae magna sed odio aliquam laoreet id sit amet tortor.
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Medication and side effects
            </dt>
            <dd class="govuk-summary-list__value">
              	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio nec fermentum sodales. Mauris vitae magna sed odio aliquam laoreet id sit amet tortor.
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Social and work history
            </dt>
            <dd class="govuk-summary-list__value">Social & work comment 1<br>Social & work comment 2<br>Social & work comment 3</dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Typical day
            </dt>
            <dd class="govuk-summary-list__value">Typical day comment 1<br>Typical day comment 2<br>Typical day comment 3</dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Informal observations
            </dt>
            <dd class="govuk-summary-list__value">Observation comment 1<br>Observation comment 2</dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
        </dl>


  <h2 class="govuk-heading-l">Physical assessments</h2>
<p class="govuk-body">The details and scope of the physical examination were explained to Joe, including advice not to perform any movements causing pain or discomfort. Claimant gave consent for the process to proceed.</p>





<dl class="govuk-summary-list govuk-!-margin-bottom-9">

  <h2 class="govuk-heading-m">General health</h2>


  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Height (m)
    </dt>
    <dd class="govuk-summary-list__value">
       1.3
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> previous application number</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Weight (Kg) 
    </dt>
    <dd class="govuk-summary-list__value">
      94
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> previous application number</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      BMI 
    </dt>
    <dd class="govuk-summary-list__value">
      25%
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> previous application number</span>
      </a>
    </dd>
  </div>
</dl>


  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <h2 class="govuk-heading-m">Lower back and legs</h2>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
Lower back and legs
    </dt>
    <dd class="govuk-summary-list__value">
Not assessed
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> previous application number</span>
      </a>
    </dd>
  </div>
</dl>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-m"> Neck and arms</h2>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Neck and arms
    </dt>
    <dd class="govuk-summary-list__value">
Not assessed
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> licence period</span>
      </a>
    </dd>
  </div>
  </dl>

  <h2 class="govuk-heading-m"> Cardiovascular and respiratory</h2>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Radial pulse
      </dt>
      <dd class="govuk-summary-list__value">
      Not assessed  </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> licence period</span>
        </a>
      </dd>
    </div>

  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Left Leg Peripheral Circulation
    </dt>
    <!-- <dd class="govuk-summary-list__value">
    Dorsalis pedis pulse: Lorem ipsum  </dd>
    <dd class="govuk-summary-list__actions">
Change
    </dd> -->
  </div>

  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Examination completed
    </dt>
    <dd class="govuk-summary-list__value">
    Dorsalis pedis pulse: Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum  </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> licence period</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Other findings
    </dt>
    <dd class="govuk-summary-list__value">
    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> licence period</span>
      </a>
    </dd>
  </div>


  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Cardiac
    </dt>
    <!-- <dd class="govuk-summary-list__value">
    Dorsalis pedis pulse: Lorem ipsum  </dd>
    <dd class="govuk-summary-list__actions">
Change
    </dd> -->
  </div>

  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Examination completed
    </dt>
    <dd class="govuk-summary-list__value">
      Respiratory rate at rest: Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum  </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> licence period</span>
        </a>
      </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Other findings
    </dt>
    <dd class="govuk-summary-list__value">
    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> licence period</span>
      </a>
    </dd>
  </div>



  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Peak expiration flow rate
    </dt>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Examination completed
    </dt>
    <dd class="govuk-summary-list__value">
      Technique: Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum<br>Value: Lorem ipsum</bt>  </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> licence period</span>
        </a>
      </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Other findings
    </dt>
    <dd class="govuk-summary-list__value">
    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> licence period</span>
      </a>
    </dd>
  </div>


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Breathlessness
      </dt>
      <dd class="govuk-summary-list__value">
      Not assessed  </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> licence period</span>
        </a>
      </dd>
    </div>
 

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Other: chest sounds, wheeze
        </dt>
        <dd class="govuk-summary-list__value">
        Not assessed  </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> licence period</span>
          </a>
        </dd>
      </div>
</dl>


<h2 class="govuk-heading-m"> Vision, speech and hearing</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Vision, speech and hearing
    </dt>
    <dd class="govuk-summary-list__value">
Not assessed
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> licence period</span>
      </a>
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m"> Central nervous system</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Central nervous system
    </dt>
    <dd class="govuk-summary-list__value">
Not assessed
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> licence period</span>
      </a>
    </dd>
  </div>
</dl>


<h2 class="govuk-heading-l">Mental health</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Appearance
  </dt>
  <dd class="govuk-summary-list__value">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> previous application number</span>
    </a>
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
Behaviour
  </dt>
  <dd class="govuk-summary-list__value">Not assessed

  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> previous application number</span>
    </a>
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Speech
  </dt>
  <dd class="govuk-summary-list__value">Not assessed

  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> licence period</span>
    </a>
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Mood
  </dt>
  <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> licence type</span>
    </a>
  </dd>
</div>

<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Cognition general
  </dt>
  <dd class="govuk-summary-list__value">
  Not assessed </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> licence type</span>
    </a>
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Insight
  </dt>
  <dd class="govuk-summary-list__value">
  Not assessed  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> licence type</span>
    </a>
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Thoughts
  </dt>
  <dd class="govuk-summary-list__value">
  Not assessed</dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> licence type</span>
    </a>
  </dd>
</div>


<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Perceptions
  </dt>
  <dd class="govuk-summary-list__value">
Not assessed
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> licence period</span>
    </a>
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Addictions
  </dt>
  <dd class="govuk-summary-list__value">
Not assessed
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> licence period</span>
    </a>
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Cognitive tests
  </dt>
  <dd class="govuk-summary-list__value">
Not assessed
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> licence period</span>
    </a>
  </dd>
</div>
</dl>





        <form action="#" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Make your recommendation
          </button>

        </form>




      </div>
    </div>


{% endblock %}
