{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  TextArea component
{% endblock %}


{% block beforeContent %}

<a href="#" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
  <span class="govuk-caption-l">Review</span>
<h1 class="govuk-heading-l">Informal observations</h1>

  <table class="govuk-table">
    <!-- <caption class="govuk-table__caption">Informal observations</caption> -->
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Statements added</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Actions</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 01 Lorem ipsum Lorem ipsum Lorem ipsum</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 02</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 02</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 01 Lorem ipsum Lorem ipsum Lorem ipsum</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 02</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 02</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 01 Lorem ipsum Lorem ipsum Lorem ipsum</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 02</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 02</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 01 Lorem ipsum Lorem ipsum Lorem ipsum</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 02</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 02</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 01 Lorem ipsum Lorem ipsum Lorem ipsum</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 02</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 02</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 01 Lorem ipsum Lorem ipsum Lorem ipsum</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 02</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 02</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 01 Lorem ipsum Lorem ipsum Lorem ipsum</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 02</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 02</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 01 Lorem ipsum Lorem ipsum Lorem ipsum</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 02</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 02</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 01 Lorem ipsum Lorem ipsum Lorem ipsum</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 02</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">This is an informal observation comment 02</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td>
      </tr>
    </tbody>
  </table>

<br>


  <div class="govuk-form-group">
    <input class="govuk-input govuk-!-width-three-quarters" id="event-name" name="event-name" type="text"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Add statement
      </button>
  </div>


</div>
</div>

<br>


<button class="govuk-button" data-module="govuk-button">
  Save (Button)
</button>



{% endblock %}
