{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  TextArea configurable component
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

  
        <h2 class="govuk-heading-l">Mental health</h2>



<div class="govuk-form-group">
  <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
  <label class="govuk-label" for="more-detail">
    Appearance
    </label>
  
  <div id="more-detail-hint" class="govuk-hint">
    Grooming, Tremulous, Dress general
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5
" aria-describedby="more-detail-hint"></textarea>
</div>


<div class="govuk-form-group">
  <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
  <label class="govuk-label" for="more-detail">
    Addictions
    </label>
  
  <div id="more-detail-hint" class="govuk-hint">
    Sign of drug use, Smells of alcohol, Signs of intoxication
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5
" aria-describedby="more-detail-hint"></textarea>
</div>


<div class="govuk-form-group">
  <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
  <label class="govuk-label" for="more-detail">
    <div class="govuk-form-group">
  <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
  <label class="govuk-label" for="more-detail">
    Behaviour
    </label>
  
  <div id="more-detail-hint" class="govuk-hint">
    Eye contact, Rapport, Arousal, Facial expression, Activity general, Coping at interview
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5
" aria-describedby="more-detail-hint"></textarea>
</div>
    </label>
  


    <div class="govuk-form-group">
      <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
      <label class="govuk-label" for="more-detail">
        Addictions
        </label>
      
      <div id="more-detail-hint" class="govuk-hint">
        Sign of drug use, Smells of alcohol, Signs of intoxication
      </div>
      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>

    <div class="govuk-form-group">
      <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
      <label class="govuk-label" for="more-detail">
        Insight
        </label>
      
      <div id="more-detail-hint" class="govuk-hint">
       Awareness of danger
      </div>
      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>

    <div class="govuk-form-group">
      <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
      <label class="govuk-label" for="more-detail">
        Speech
        </label>
      
      <div id="more-detail-hint" class="govuk-hint">
       Amount, Rate, Volume, Content
      </div>
      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>


    <div class="govuk-form-group">
      <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
      <label class="govuk-label" for="more-detail">
        Mood
        </label>
      
      <div id="more-detail-hint" class="govuk-hint">
       Ideas of self-harm, Demeanour, Affect
      </div>
      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>

    <div class="govuk-form-group">
      <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
      <label class="govuk-label" for="more-detail">
        Perception
        </label>
      
      <div id="more-detail-hint" class="govuk-hint">
       Ilusions, Hallucinations
      </div>
      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>

    <div class="govuk-form-group">
      <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
      <label class="govuk-label" for="more-detail">
        Thoughts
        </label>
      
      <div id="more-detail-hint" class="govuk-hint">
       Delusions, Ruminations, Obsessions
      </div>
      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>

    <div class="govuk-form-group">
      <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
      <label class="govuk-label" for="more-detail">
        Cognition general
        </label>
      
      <div id="more-detail-hint" class="govuk-hint">
       Orientation, General memory, Prompting, Concentration
      </div>
      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>


    <div class="govuk-form-group">
      <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
      <label class="govuk-label" for="more-detail">
        Cognitive tests
        </label>
      
      <div id="more-detail-hint" class="govuk-hint">
       Serial sevens, Calculating change, Follow commands, Attention, Registration, Recall
      </div>
      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>



<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

</div>
</div>

{% endblock %}
