{% extends "layout-key-detail-bar-start1060.html" %}

{% block pageTitle %}
  Condition history tabs
{% endblock %}


{% block beforeContent %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="#" class="active" aria-current="section">Assessment started: 14:00</a>
          </li>
          <li>
            <a href="#">Abandon assessment</a>
          </li>



        </ul>
      </nav>

    </div>
  </div>
</main>
{% endblock %}


{% block content %}
<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
<div class="govuk-grid-column-one-quarter">



  <p><a href="condition_history-tabs_complete" class="govuk-body govuk-!-font-size-16">Condition history</a>&nbsp;&nbsp;&#10004;</p>
  <p><a href="social_complete" class="govuk-body govuk-!-font-size-16">Social and work history</a>&nbsp;&nbsp;&#10004;</p>
  <p><a href="#" class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Typical day</a></p>
  <p><a href="#" class="govuk-body govuk-!-font-size-16">Medication and side effects</a></p>
  <p><a href="#" class="govuk-body govuk-!-font-size-16">Physical assessment</a></p>
  <p><a href="#" class="govuk-body govuk-!-font-size-16">Mental health</a></p>
  <p><a href="#" class="govuk-body govuk-!-font-size-16">Add attendee (optional)</a></p>
  <p><a href="#" class="govuk-body govuk-!-font-size-16">Informal observations (optional)</a></p>









</div>


  <div class="govuk-grid-column-two-thirds-nav">







<div class="govuk-form-group">
  <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
    Typical day
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Provide all details of your typical day
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10
" aria-describedby="more-detail-hint"></textarea>
</div>




{{ govukButton({
  id: "comment",
  name: "comment",
  value: "add-statement",
  text: "Save and continue",
  href: "medication"
}) }}

</div>

</main>

{% endblock %}
