{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  TextArea component
{% endblock %}


{% block beforeContent %}

<a href="javascript:window.history.back();" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        
        <form action="/corecomponents/Research/3Navigation/WCA-tasklist/physical-assessments/Lower-back-and-legs/right-leg" method="post" novalidate>



        <span class="govuk-caption-l">Lower back and legs</span>



        {{ govukCheckboxes({
          idPrefix: "back-legs",
          name: "back-legs",
          fieldset: {
            legend: {
              text: "Select all of the areas you have assessed",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
      
          items: [
            {
              value: "lower-back",
              text: "Lower back",
              checked: checked("back-legs", "lower-back")
            },
            {
              value: "left-leg",
              text: "Left leg",
              checked: checked("back-legs", "left-leg")
            },
            {
              value: "right-leg",
              text: "Right leg"
            }
          ]
        }) }}





      


</div>
</div>

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>



{% endblock %}
