{% extends "corecomponents/Research/3Navigation/pip-leftnav-non-forced/layout-key-detail-bar-start1060-pip-leftnav-nonforced.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block mainContent %}

<form action="/pip/leftnav/pip-left-observations-non/save-and-continue" method="post" novalidate>


  <a href="javascript:window.history.back();" class="govuk-back-link">Back</a>


  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
        Observations
      </label>
    </h1>
    <div id="more-detail-hint" class="govuk-hint">
      Include any observed examinations as appropriate e.g. hearing
    </div>
    <textarea class="govuk-textarea" 
    id="pip-left-observations-non" 
    name="pip-left-observations-non" 
    rows="5" 
    aria-describedby="more-detail-hint">{{ data['pip-left-observations-non'] }}</textarea>
  </div>
  


  <button class="govuk-button" data-module="govuk-button">
    Save
  </button>
{% endblock %}
