{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  TextArea configurable component
{% endblock %}


{% block beforeContent %}

<a href="javascript:window.history.back();" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <form action="/wca/medication/save-and-continue" method="post" novalidate>


<div class="govuk-form-group">
  <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
      Medication and side effects
    </label>
  </h1>

  <textarea class="govuk-textarea" 
  id="medication" 
  name="medication" 
  rows="10
" aria-describedby="more-detail-hint">{{ session['medication'] }}</textarea>
</div>

</div>
</div>

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
<br>
<br>

<!-- <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/wca/medication-progress/save-and-continue">Back to list</a>
  </li> -->


{% endblock %}
