{% extends "layout-key-detail-bar-wca.html" %}
{% block pageTitle %}
TextArea configurable component
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Assessment
        </h2>
        <ul class="app-task-list__items">

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/wca/attendee"
                aria-describedby="eligibility-status">
                Additional attendee
              </a>
            </span>
            {% if session['attendee'] %}
            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Optional</strong>
            {% endif %}
          </li>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/wca/condition-history"
                aria-describedby="eligibility-status">
                Condition history
              </a>
            </span>
            {% if session['condition-history'] %}
            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/wca/social-work" 
              aria-describedby="read-declaration-status">
                Social and work history
              </a>
            </span>
            {% if session['social-work'] %}
            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/wca/statement" aria-describedby="read-declaration-status">
                Typical day
              </a>
            </span>
            {% if data['statements'] and (data['statements'].length > 0) %}
            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/wca/medication" aria-describedby="read-declaration-status">
                Medication and side effects
              </a>
            </span>
            {% if session['medication'] %}
            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            {% endif %}
          </li>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/wca/observestatement" aria-describedby="read-declaration-status">
                Informal observations
              </a>
            </span>
            {% if data['observestatements'] and (data['observestatements'].length > 0) %}
            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            {% endif %}
          </li>

        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Physical assessment (Optional)
        </h2>
        <ul class="app-task-list__items">
          <!-- <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="#" aria-describedby="eligibility-status">
                          Consent required
                        </a>
                      </span>
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
                    </li> -->
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/wca/general-health" aria-describedby="read-declaration-status">
                General health
              </a>
            </span>
            {% if session['general-health'] %}
            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="read-declaration-status">
                Lower back and legs
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
              started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="read-declaration-status">
                Neck and arms
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
              started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/corecomponents/Research/3Navigation/WCA-tasklist/PA/cardiovascular" aria-describedby="read-declaration-status">
                Cardiovascular and respiratory
              </a>
            </span> 
            {% if session['cardio'] %}
            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="read-declaration-status">
                Vision, speech and hearing
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
              started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="read-declaration-status">
                Central nervous system
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
              started</strong>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span> Mental health (Optional)
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="eligibility-status">
                Mental health
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
              started</strong>
          </li>
        </ul>
      </li>
    </ol>
    <!-- <button class="govuk-button" data-module="govuk-button">
                Save and continue
              </button> -->
  </div>
  <div class="govuk-grid-column-two-thirds">
  </div>
{% endblock %}
