{% extends "corecomponents/Research/3Navigation/WCA-Leftnav-tasklist/layout-key-detail-bar-start1060-leftnav.html" %}

{% block pageTitle %}
  Condition history tabs
{% endblock %}



{% block mainContent %}
<h1 class="govuk-heading-l">Social and work history</h1>


<form action="/corecomponents/Research/3Navigation/WCA-Leftnav-tasklist/social" method="post" novalidate>



<table class="govuk-table">
  <!-- <caption class="govuk-table__caption">Informal observations</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Statements added</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Actions</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  

{% for taskleftsocstatement in data.taskleftsocstatements %}
    <tr class="govuk-table__row">

        <td scope="row" class="govuk-table__cell">{{ taskleftsocstatement }}</td>

      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Remove</a></td>
    </tr>
{% endfor %}

  </tbody>

</table>



<div class="govuk-form-group">

  <textarea class="govuk-textarea" id="taskleftsocstatement2" name="taskleftsocstatement" rows="3" aria-describedby="more-detail-hint">{{data['askleftsocstatement2']}}</textarea>


    <!-- <input class="govuk-input" id="taskleftsocstatement2" name="taskleftsocstatement" type="text" value="{{data['taskleftsocstatement2']}}"> -->
</form>
<!-- <br>
<br> -->
<button class="govuk-button govuk-button--secondary" data-module="govuk-button">  Add statement
</button>
</div>


<form action="/wca/leftnav/leftsocstatement-task/save-and-continue" method="post" novalidate>


{{ govukButton({
  id: "comment",
  name: "comment",
  value: "add-statement",
  text: "Continue"


}) }}
</form>

{% endblock %}
