{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  Question page
{% endblock %}


{% block beforeContent %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="#" class="active" aria-current="section">Assessment started: 14:00</a>
          </li>
          <li>
            <a href="#">Abandon assessment</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</main>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
    <h1 class="govuk-heading-l">History of conditions</h1>
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}



{{ govukInput({
  name: "primary-condition",
  id: "primary-condition",
  label: {
    text: "Primary condition"
  }
}) }}


{{ govukTextarea({
  label: {
    text: "History"
  },
  id: "history-1",
  name: "history-1",
  hint: {
    text: "Including variability"
  }
}) }}

<hr>
<br>
<br>

{{ govukInput({
  name: "secondary-condition",
  id: "secondary-condition",
  label: {
    text: "Secondary condition"
  }
}) }}



{{ govukTextarea({
  label: {
    text: "History"
  },
  id: "history-2",
  name: "history-2",
  hint: {
    text: "Including variability"
  }
}) }}


<hr>
<br>
<br>


<h3 class="govuk-heading-s">Other condition 1<a href="multuple_addAnother-existingList" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Remove</a></h3>


{{ govukInput({
  name: "secondary-condition",
  id: "secondary-condition",
  label: {
    text: "Condition"
  }
}) }}



{{ govukTextarea({
  label: {
    text: "History"
  },
  id: "history-2",
  name: "history-2",
  hint: {
    text: "Including variability"
  }
}) }}
<hr>
<br>
<br>

<a href="multuple_addAnother-existingList-add" class="govuk-link govuk-!-font-size-19">Add other condition</a>

<br>
<br>
<br>




{{ govukButton({
  text: "Save and continue",
  href: "multuple_addAnother-existingList-add"
}) }}
  </div>

</div>

</main>
</div>

{% endblock %}
