{% extends "corecomponents/Research/3Navigation/WCA-Leftnav-tasklist/layout-key-detail-bar-start1060-leftnav-main-pa-tasklist.html" %}

{% block pageTitle %}
  TextArea component
{% endblock %}




{% block mainContent %}


  
          <form action="/wca/cardio-task/save-and-continue" method="post" novalidate>


        <span class="govuk-caption-l">Cardiovascular and respiratory</span>



        {{ govukCheckboxes({
          idPrefix: "cardio",
          name: "cardio",
          fieldset: {
            legend: {
              text: "Select all of the areas you have assessed",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
      
          items: [
            {
              value: "cardio-radial",
              text: "Radial pulse",
              checked: checked("cardio", "cardio-radial")
            },
            {
              value: "cardio-left-leg",
              text: "Left leg peripheral circulation",
              checked: checked("cardio", "cardio-left-leg")
            },
            {
              value: "cardio-right-leg",
              text: "Right leg peripheral circulation"
            },
            {
              value: "cardio-blood-pressue",
              text: "Blood pressure"
            },
            {
              value: "Cardiac",
              text: "Cardiac"
            },
            {
              value: "cardio-peak",
              text: "Peak expiration flow rate"
            },
            {
              value: "cardio-breathlessness",
              text: "Breathlessness"
            },
            {
              value: "other",
              text: "Other: chest sounds, wheeze"
            }
          ]
        }) }}





      



<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>



{% endblock %}
