{% extends "layout-key-detail-bar-start1060-pip-leftnav.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block mainContent %}

<form action="/pip/leftnav/pip-left-condition/save-and-continue" method="post" novalidate>


  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
  <h1 class="govuk-heading-xl">History of conditions</h1>
  <form class="form" action="/Archive/3-Current-medication" method="post">
 



  <div class="govuk-form-group">
    <label class="govuk-label" for="add-attendee">
      Primary condition
    </label>
    <input class="govuk-input" id="pip-left-condition" name="pip-left-condition" type="text" value="{{ data['pip-left-condition'] }}"> 
  </div>

  <div class="govuk-form-group">
    <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label" for="more-detail">
        History
      </label>
    </h1>
    <div id="more-detail-hint" class="govuk-hint">
      Including variability
    </div>
    <textarea
      class="govuk-textarea"
      id="left-history"
      name="left-history"
      rows="10"
      aria-describedby="more-detail-hint">{{ session['left-history'] }}</textarea>
  </div>
 

{{ govukButton({
text: "Add another condition",
classes: "govuk-button--secondary"
}) }}
<br>
<br>


<button class="govuk-button" data-module="govuk-button">
Save and continue
</button>


{% endblock %}
