{% extends "layout-key-detail-bar-start1060.html" %}

{% block pageTitle %}
  Left nav PIP
{% endblock %}

{% block beforeContent %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="#" class="active" aria-current="section">Assessment started: 14:00</a>
          </li>
          <li>
            <a href="#">Abandon assessment</a>
          </li>



        </ul>
      </nav>

    </div>
  </div>
</main>
{% endblock %}


{% block content %}


<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">


    <div class="app-pane__body app-width-container">
      <div class="app-pane__subnav">
        <nav class="app-subnav">




              <ul class="app-subnav__section">

                <li class="app-subnav__section-item">
                  <a href="1-Consultation-start" class="app-subnav__link govuk-link govuk-link--no-visited-state">Start consultation</a>&nbsp;&nbsp;&#10004;
                </li>

                <li class="app-subnav__section-item app-subnav__section-item--current">
                  <a href="2a-addatendee" class="app-subnav__link govuk-link govuk-link--no-visited-state">Additional attendees</a>
                </li>

                <li class="app-subnav__section-item">
                  <a href="2-History-of-conditions" class="app-subnav__link govuk-link govuk-link--no-visited-state">History of conditions</a>
                </li>

                <li class="app-subnav__section-item">
                  <a href="3-Current-medication" class="app-subnav__link govuk-link govuk-link--no-visited-state">Current medication and treatment</a>
                </li>

                <li class="app-subnav__section-item">
                  <a href="5-Functional-history" class="app-subnav__link govuk-link govuk-link--no-visited-state">Functional history</a>
                </li>

                <li class="app-subnav__section-item">
                  <a href="4-Social-and-occ-history" class="app-subnav__link govuk-link govuk-link--no-visited-state">Social and occupational history</a>
                </li>

                <li class="app-subnav__section-item">
                  <a href="6-Observations" class="app-subnav__link govuk-link govuk-link--no-visited-state">Observations</a>
                </li>

                <li class="app-subnav__section-item">
                  <a href="7-Mental-state" class="app-subnav__link govuk-link govuk-link--no-visited-state">Mental state</a>
                </li>

                <li class="app-subnav__section-item">
                  <a href="8-Musculoskeletal" class="app-subnav__link govuk-link govuk-link--no-visited-state">Musculoskeletal system</a>
                </li>

                <li class="app-subnav__section-item">
                  <a href="9-Other-systems" class="app-subnav__link govuk-link govuk-link--no-visited-state">Other relevant systems</a>
                </li>

                <li class="app-subnav__section-item">
                  <a href="10-Submit" class="app-subnav__link govuk-link govuk-link--no-visited-state">Confirm and submit</a>
                </li>
              </ul>










    </nav>
</div>
</div>


  </div>
  <div class="govuk-grid-column-three-quarters">
    <a class="govuk-back-link" href="/url/of/previous/page">Back</a>


    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Are there additional attendees?
          </h1>
        </legend>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
            Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
            No
            </label>
          </div>
        </div>

      </fieldset>
    </div>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Continue",
      href: "2-History-of-conditions",
      isStartButton: false
    }) }}
  </div>

</div>

</main>
</div>

{% endblock %}
