{% extends "layout-key-detail-bar-start1060.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="#" class="active" aria-current="section">Assessment started: 14:00</a>
          </li>
          <li>
            <a href="#">Abandon assessment</a>
          </li>



        </ul>
      </nav>

    </div>
  </div>
</main>
{% endblock %}


{% block content %}
<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">




<div class="app-pane__body app-width-container">
  <div class="app-pane__subnav">
    <nav class="app-subnav">




          <ul class="app-subnav__section">

            <li class="app-subnav__section-item">
              <a href="1-Consultation-start" class="app-subnav__link govuk-link govuk-link--no-visited-state">Start consultation</a>&nbsp;&nbsp;&#10004;
            </li>

            <li class="app-subnav__section-item">
              <a href="2a-addatendee" class="app-subnav__link govuk-link govuk-link--no-visited-state">Additional attendees</a>&nbsp;&nbsp;&#10004;
            </li>

            <li class="app-subnav__section-item">
              <a href="2-History-of-conditions" class="app-subnav__link govuk-link govuk-link--no-visited-state">History of conditions</a>&nbsp;&nbsp;&#10004;
            </li>

            <li class="app-subnav__section-item app-subnav__section-item--current">
              <a href="3-Current-medication" class="app-subnav__link govuk-link govuk-link--no-visited-state">Current medication and treatment</a>
            </li>

            <li class="app-subnav__section-item">
              <a href="5-Functional-history" class="app-subnav__link govuk-link govuk-link--no-visited-state">Functional history</a>
            </li>

            <li class="app-subnav__section-item">
              <a href="4-Social-and-occ-history" class="app-subnav__link govuk-link govuk-link--no-visited-state">Social and occupational history</a>
            </li>

            <li class="app-subnav__section-item">
              <a href="6-Observations" class="app-subnav__link govuk-link govuk-link--no-visited-state">Observations</a>
            </li>

            <li class="app-subnav__section-item">
              <a href="7-Mental-state" class="app-subnav__link govuk-link govuk-link--no-visited-state">Mental state</a>
            </li>

            <li class="app-subnav__section-item">
              <a href="8-Musculoskeletal" class="app-subnav__link govuk-link govuk-link--no-visited-state">Musculoskeletal system</a>
            </li>

            <li class="app-subnav__section-item">
              <a href="9-Other-systems" class="app-subnav__link govuk-link govuk-link--no-visited-state">Other relevant systems</a>
            </li>

            <li class="app-subnav__section-item">
              <a href="10-Submit" class="app-subnav__link govuk-link govuk-link--no-visited-state">Confirm and submit</a>
            </li>
          </ul>










</nav>

  </div>





</div>

</div>
  <div class="govuk-grid-column-three-quarters">
    <a class="govuk-back-link" href="2-History-of-conditions-notsaved">Back</a>
    <h1 class="govuk-heading-xl">Current medication and treatment</h1>

    {% from "govuk/components/input/macro.njk" import govukInput %}

    {{ govukInput({
      label: {
        text: "Name of medication"
      },
      id: "Medication-name",
      name: "Medicatio-name",
      value: "Blue inhaler"
    }) }}
    {% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Dose"
  },
  classes: "govuk-input--width-20",
  id: "dose",
  name: "dose",
  value: "Standard"
}) }}{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Frequency"
  },
  classes: "govuk-input--width-20",
  id: "frequency",
  name: "frequency",
  value: "twice a day"
}) }}


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
text: "Add another medication",
classes: "govuk-button--secondary",
href: "#"
}) }}

<br>
<br>

  {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

  {{ govukTextarea({
  name: "medication-history",
  id: "medication-history",
  label: {
  text: "History"
  },
  hint: {
  text: "Including side effects, compliance and efficacy"
  }
  }) }}


  {% from "govuk/components/button/macro.njk" import govukButton %}

  {{ govukButton({
  text: "Save and continue",
  href: "5-Functional-history"

  }) }}
  </div>

</div>

</main>
</div>

{% endblock %}
