{% extends "layout-key-detail-bar-start1060-pip-leftnav.html" %}

{% block pageTitle %}
  Question page
{% endblock %}




{% block mainContent %}

<a href="javascript:window.history.back();" class="govuk-back-link">Back</a>


<form action="/pip/leftnav/pip-left-social-history/save-and-continue" method="post" novalidate>



  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
      Social and occupational history
      </label>
    </h1>
    <div id="more-detail-hint" class="govuk-hint">
      Details
    </div>
    <textarea class="govuk-textarea" 
    id="pip-left-social-history" 
    name="pip-left-social-history" 
    rows="5" 
    aria-describedby="more-detail-hint">{{ session['pip-left-social-history'] }}</textarea>
  </div>
  


  <button class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>

{% endblock %}
