{% extends "layout-key-detail-bar-start1060-pip-leftnav.html" %}

{% block pageTitle %}
  Question page
{% endblock %}



{% block mainContent %}

<form action="/pip/leftnav/pip-left-variability/save-and-continue" method="post" novalidate>


<a class="govuk-back-link" href="0-tasklist_Functional_notsaved">Back</a>
<h1 class="govuk-heading-xl">Functional history</h1>


  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
      Variability
      </label>
   
    <div id="more-detail-hint" class="govuk-hint">
      Details
    </div>
    <textarea class="govuk-textarea" 
    id="pip-left-variability" 
    name="pip-left-variability" 
    rows="5" 
    aria-describedby="more-detail-hint">{{ session['pip-left-variability'] }}</textarea>
  </div>



  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
      Planning and following journeys
      </label>
   
    <textarea class="govuk-textarea" 
    id="pip-planning" 
    name="pip-planning" 
    rows="5" 
    aria-describedby="more-detail-hint">{{ data['pip-planning'] }}</textarea>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
      Moving around
      </label>
    <textarea class="govuk-textarea" 
    id="pip-moving" 
    name="pip-moving" 
    rows="5" 
    aria-describedby="more-detail-hint">{{ data['pip-moving'] }}</textarea>
  </div>


  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
      Preparing food
      </label>
    <textarea class="govuk-textarea" 
    id="pip-food" 
    name="pip-food" 
    rows="5" 
    aria-describedby="more-detail-hint">{{ data['pip-food'] }}</textarea>
  </div>



  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
      Taking nutrition
      </label>
    <textarea class="govuk-textarea" 
    id="pip-nutrition" 
    name="pip-nutrition" 
    rows="5" 
    aria-describedby="more-detail-hint">{{ data['pip-nutrition'] }}</textarea>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
      Managing therapy or monitoring a health condition
      </label>
    <textarea class="govuk-textarea" 
    id="pip-managing" 
    name="pip-managing" 
    rows="5" 
    aria-describedby="more-detail-hint">{{ data['pip-managing'] }}</textarea>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
      Washing and bathing
      </label>
    <textarea class="govuk-textarea" 
    id="pip-washing" 
    name="pip-washing" 
    rows="5" 
    aria-describedby="more-detail-hint">{{ data['pip-washing'] }}</textarea>
  </div>


  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
      Managing toilet needs or incontinence
      </label>
    <textarea class="govuk-textarea" 
    id="pip-toilet" 
    name="pip-toilet" 
    rows="5" 
    aria-describedby="more-detail-hint">{{ data['pip-toilet'] }}</textarea>
  </div>


  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
      Dressing and undressing
      </label>
    <textarea class="govuk-textarea" 
    id="pip-dressing" 
    name="pip-dressing" 
    rows="5" 
    aria-describedby="more-detail-hint">{{ data['pip-dressing'] }}</textarea>
  </div>



  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
      Communicating verbally
      </label>
    <textarea class="govuk-textarea" 
    id="pip-communicating" 
    name="pip-communicating" 
    rows="5" 
    aria-describedby="more-detail-hint">{{ data['pip-communicating'] }}</textarea>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
      Reading and understanding signs, symbols and words
      </label>
    <textarea class="govuk-textarea" 
    id="pip-reading" 
    name="pip-reading" 
    rows="5" 
    aria-describedby="more-detail-hint">{{ data['pip-reading'] }}</textarea>
  </div>



  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
      Engaging with others face to face
      </label>
    <textarea class="govuk-textarea" 
    id="pip-face-to-face" 
    name="pip-face-to-face" 
    rows="5" 
    aria-describedby="more-detail-hint">{{ data['pip-face-to-face'] }}</textarea>
  </div>


  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
      Making budgeting decisions
      </label>
    <textarea class="govuk-textarea" 
    id="pip-budget" 
    name="pip-budget" 
    rows="5" 
    aria-describedby="more-detail-hint">{{ data['pip-budget'] }}</textarea>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="more-detail">
      Other relevant functional history
      </label>
    <textarea class="govuk-textarea" 
    id="pip-other-function" 
    name="pip-other-function" 
    rows="5" 
    aria-describedby="more-detail-hint">{{ data['pip-other-function'] }}</textarea>
  </div>



<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>


{% endblock %}
