{% extends "layout-key-detail-bar-start1060-pip-leftnav.html" %}

{% block pageTitle %}
  Question page
{% endblock %}


{% block mainContent %}

<form action="/pip/leftnav/pip-mental-state/save-and-continue" method="post" novalidate>


<a class="govuk-back-link" href="/url/of/previous/page">Back</a>
  

  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
        Mental state
      </label>
    </h1>
    <div id="more-detail-hint" class="govuk-hint">
      Details
    </div>
    <textarea class="govuk-textarea" 
    id="pip-mental-state" 
    name="pip-mental-state" 
    rows="5" 
    aria-describedby="more-detail-hint">{{ session['pip-mental-state'] }}</textarea>
  </div>
  


  <button class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>
{% endblock %}
