{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  TextArea component
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <form action="/wca/descriptor/mobile/save-and-continue" method="post" novalidate>

       

        <h1 class="govuk-heading-l">Mobilising and using steps</h1>


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label" for="contact-by-email">
              Choose the descriptor that's most appropriate to the claimant
            </label>
        
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="mobile1" name="mobile1" type="radio" value="{{ session['mobile1'] }}">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  Cannot mobilise more than 50 metres, or 50 metres repeatedly
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  Cannot go up or down 2 steps, even if using a handrail
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                  Cannot mobilise more than 100 metres, or 100 metres repeatedly
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                  Cannot mobilise more than 200 metres, or 200 metres repeatedly
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                  None of the above
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>


<br>

  <div class="govuk-form-group">
    <label class="govuk-label" for="contact-by-email">
      Give details
    </label>
    <textarea class="govuk-textarea" id="contact-by-email" name="contact-by-email" rows="5" type="email" spellcheck="false"></textarea>
  </div>



      </div>
    </fieldset>







  </div>

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

</div>
</div>


{% endblock %}
