
{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  TextArea component
{% endblock %}


{% block beforeContent %}

<a href="javascript:window.history.back();" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
  <!-- <span class="govuk-caption-l">Review</span> -->
  <h1 class="govuk-heading-l">Additional attendees</h1>



  <form action="/wca/attendee4/save-and-continue" method="post" novalidate>



  


<h2 class="govuk-heading-m">Attendee 1</h2>


  <form action="#" method="post" novalidate>

    <div class="govuk-form-group">
      <label class="govuk-label" for="width-20">
        Name
      </label>
      <input class="govuk-input" id="attendee4" name="attendee4" type="text" value="{{ data['attendee4'] }}"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
          Relationship to claimant
        </label>
  <input class="govuk-input" id="relation" name="relation" type="text" value="{{ data['relation'] }}"></div>


<hr>
<br>




<a href="#" class="govuk-link govuk-!-font-size-19">Add another attendee</a>
<br>
<br>

<br>
<br>
    {{ govukButton({
      id: "comment",
      name: "comment",
      value: "add-statement",
      text: "Save and continue"
    }) }}

  </div>
  </div>
  </main>



{% endblock %}
