{% extends "layout.html" %}

{% block pageTitle %}
Work capability assessment report
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

  <span class="govuk-caption-xl">Universal Credit</span>

  <h1 class="govuk-heading-xl">Health assessment report</h1>

  <br>

  <h2 class="govuk-heading-l">Claimant details</h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name
      </dt>
      <dd class="govuk-summary-list__value">
        James Smith
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        National insurance number
      </dt>
      <dd class="govuk-summary-list__value">
        RN 20 34 56 X
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date of birth
      </dt>
      <dd class="govuk-summary-list__value">
        31 December 1990
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Benefit type
      </dt>
      <dd class="govuk-summary-list__value">
        Universal Credit
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date assessment was completed
      </dt>
      <dd class="govuk-summary-list__value">
        17 May 2021
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name of Healthcare Professional
      </dt>
      <dd class="govuk-summary-list__value">
        Jane Jones
      </dd>
    </div>
    <!-- <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Email of Healthcare Professional
      </dt>
      <dd class="govuk-summary-list__value">
        jjones@email.com
      </dd>
    </div> -->
  </dl>



  <h2 class="govuk-heading-l">Health assessment</h2>
  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      How are you conducting this assessment?
    </dt>
    <dd class="govuk-summary-list__value">
      On paper
    </dd>
  </div>
  </dl>
<br>


<h3 class="govuk-heading-m">Limited capability for work-related activity (LCWRA)
</h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    What is your recommendation?
  </dt>
  <dd class="govuk-summary-list__value">
    Treat as LCWRA
    </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Why is this your recommendation?

  </dt>
  <dd class="govuk-summary-list__value">
    Advice<br>
    I advise that the client meets the criteria for treat as Limited capability for Work-related activity.<br>
    From the available evidence, the client is receiving or likely to receive in the next 6 months or recovering from treatment for cancer by way of chemotherapy or radiotherapy.<br><br>
    
    Justification of advice
    <br><br>
    Evidence indicates client has recently (January 2021) had a bowel cancer for which he has had an operation to resect the cancer and is now having adjuvant chemotherapy (started 31/3/2021 and will be given for 6 months).
    <br><br>
    Client therefore is currently having chemotherapy and this correlates with the information found in the cancer treatment page of the UC 50 which was signed by the clinical specialist nurse for oncology and the specialist letters which indicate the likelihood for the client to have recurrence of cancer and the need to have chemotherapy which client has commenced and continues to have and has been causing the client debilitating side effects.

    </dd>
     </div>
</dl>


<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    When should this claim be reviewed?
  </dt>
  <dd class="govuk-summary-list__value">
    Within 2 years</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Why is this your recommendation?

  </dt>
  <dd class="govuk-summary-list__value"> Clients bowel cancer was staged to be advanced ( about stage 3) which may be associated with a slower recovery. This is iin combination with the fact that the client had some post operative Infections and is currently requiring chemotherapy ( Which according to the cancer treatment page of the UC 50 Is likely to cause side effects during and for several months after the treatment) for 6 months. The client has indicated that they are having debilitating side effects from the the chemotherapy and this Is likely to restrict the clients functions as indicated in the evidence, hence the review period. Also of consideration is the Covld-19 pandemic that may cause delays in reviews by the specialists. </div>
</dl>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Has the customer service desk (CSD) approved this?
  </dt>
  <dd class="govuk-summary-list__value">
    </dd>
</div>

</dl>


<br>
<br>


<dl class="govuk-summary-list">


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Condition history
            </dt>
            <dd class="govuk-summary-list__value">
              Bowel cancer<br>
              Onset is unclear but discharge summary indicates client has had a colonic polyp of about 7cm.<br>
              Client presented with absolute obstruction of bowel, vomiting and abdominal pain.<br>
              Had emergency open subtotal colectomy ( removal of the large bowel) on the 20/1/2021.<br>
              According to specialist letter. Histology done n the samples indicates the clients cancer is staged as pT4a pN2b pMx.R0 ( suggesting the cancer has spread beyond the muscles of the bowel, involves more than 3 lymph nodes and levels of metastasis is unclear but the Margins after surgery did not show cancer cells• this suggest fairly advanced cancer (about grade 3).<br>
              Was in hospital for this till the 8/2/2021 due to an intra-abdominal wound infection.<br>
              The specialist letter indicates he is at high risk of cancer following operation and indicated 6 months of chemotherapy<br>
              He was started adjuvant chemotherapy in March 2021 and specialist letter indicates client is likely to have the chemotherapy for 6 months. He will be on Oxaliplatin and 5-FU via a PICC line.<br>
              Plan for follow up as per the discharge and specialist letters are as stated above.<br>
              Specialist letter indicates client has no significant past history of note.<br>
              His current UC50 ( signed on the 4/5/2021 indicates he will be having 12 sessions of chemotherapy ( 1 every 2 weeks on Wednesday or Thursday) and first chemotherapy started on the 31/3/2021.<br>
              Client indicates side effects of chemotherapy as fatigue, low blood pressure, headache and effect on the immune system. The Cancer treatment page indicates the side effects are likely to occur during treatment and for several months after.
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Medication and side effects
            </dt>
            <dd class="govuk-summary-list__value">
              Oxaliplatin and 5- Fluorouracil ( chemotherapy for cancer)- 12 Sessions 1 every 2 weeks via PICC line (Dosage not stated<br><br>
              Folinic Acid ( to reduce toxic effects of chemotherapy) Dosage not stated.<br><br>
              Possible side effects are as stated in the History of conditions.
            </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Social and work history
            </dt>
            <dd class="govuk-summary-list__value">
              Evidence Used<br><br>
              UC 50 dated 4/5/2021.<br>
              Inpatient discharge summary from Homerton Hospital dated 8/2/2021 <br>2x Specialist letters dated 22/2/2021 and 4/3/2021
            </div>
         


        </dl>




        <!-- <form action="#" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form> -->




      </div>
    </div>


{% endblock %}
