{% extends "layout.html" %}

{% block pageTitle %}
Work capability assessment report
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

  <span class="govuk-caption-xl">Universal Credit</span>

  <h1 class="govuk-heading-xl">Health assessment report</h1>

  <br>

  <h2 class="govuk-heading-l">Claimant details</h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name
      </dt>
      <dd class="govuk-summary-list__value">
        John Doe
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        National insurance number
      </dt>
      <dd class="govuk-summary-list__value">
        QQ 20 34 56 X
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date of birth
      </dt>
      <dd class="govuk-summary-list__value">
        31 December 1999
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Benefit type
      </dt>
      <dd class="govuk-summary-list__value">
        Universal Credit
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date assessment was completed
      </dt>
      <dd class="govuk-summary-list__value">
        17 May 2021
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name of Healthcare Professional
      </dt>
      <dd class="govuk-summary-list__value">
        Jane Jones
      </dd>
    </div>
    <!-- <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Email of Healthcare Professional
      </dt>
      <dd class="govuk-summary-list__value">
        jjones@email.com
      </dd>
    </div> -->
  </dl>



  <h2 class="govuk-heading-l">Health assessment</h2>
  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      How are you conducting this assessment?
    </dt>
    <dd class="govuk-summary-list__value">
      Telephone
    </dd>
  </div>
  </dl>



<h3 class="govuk-heading-m">Limited capablllty tor work (LCW)
</h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    What is your recommendation?
  </dt>
  <dd class="govuk-summary-list__value">
    </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Why is this your recommendation?

  </dt>
  <dd class="govuk-summary-list__value">Uncontrolled/uncontrolable servere life threatening disease:<br><br>
    The evidence does not suggest the client has a condition which there life threatening and uncontrollable or uncontrolled.<br>
    Although he is taking medication for his hypertension, this does not seem to be life threatening or uncontrollable.<br><br>
    Substantial Mental/Physical Risk:<br>
    The evidence does not suggest the client has a condition which means there would be a substanbal risk to the mental or physical health of any person if they were found capable of work.<br>
    Although he climbed a bridge with suiadal intent this was in the summer of 2019. He denies any current suicidal ideation, has never self harmed and has no thoughts of self harm. His family is a protective factor. He is currently applying for jobs, has good insight and had good rapport at assessment.   </div>
</dl>


<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    When should this claim be reviewed?
  </dt>
  <dd class="govuk-summary-list__value">
    12 months</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Why is this your recommendation?

  </dt>
  <dd class="govuk-summary-list__value"> Review in the medium term seems appropriate. </div>
</dl>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Has the customer service desk (CSD) approved this?
  </dt>
  <dd class="govuk-summary-list__value">
    </dd>
</div>

</dl>


<br>

<h3 class="govuk-heading-m">Limited capability for work-related activity (LCWRA)
</h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    What is your recommendation?
  </dt>
  <dd class="govuk-summary-list__value">
    </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Why is this your recommendation?

  </dt>
  <dd class="govuk-summary-list__value"> Eating and Drinking: Conveying food or drink to the mouth and chewing or swallowlng food or drink: The evidence does not support that the client cannot eat and drink independently.<br><br>
    Substantial Mental or Physical Risk: The condition history and mental state examination does not suggest there would be a subslantlal risk to his/her mental or physical health if found capable of work related activity.<br>
    Although he climbed a bridge with suicidal intent this was in the summer of 2019. He denies any current suicidal ideation, has never self harmed and has no thoughts of self harm. His family is a protective factor. He is currently applying for jobs, has good insight and had good rapport at assessment. <br>Terminally ill: There are no conditions reported that are llkely to result in death within 6 months.<br><br>
    Chemotherapy/Radiotherapy: From the available evidence. the client is not receiving, likely to receive in the next 6 months or recovering from treatment for cancer by way of chemotherapy or radiotherapy.<br><br>
    Pregnancy Risk: The claimant is male. </div>
</dl>


<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    When should this claim be reviewed?
  </dt>
  <dd class="govuk-summary-list__value">
    12 months</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Why is this your recommendation?

  </dt>
  <dd class="govuk-summary-list__value"> 
    Review in the medium term seems reasonable. He is likely to have hearing aids in the future and may require further surgery.
      </div>
</dl>




<br>


<h3 class="govuk-heading-m">Fit for work
</h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Has the customer service desk (CSD) approved this?
  </dt>
  <dd class="govuk-summary-list__value">
    </dd>
</div>

</dl>
<br>
<br>


<dl class="govuk-summary-list">


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Condition history
            </dt>
            <dd class="govuk-summary-list__value">
              Alagile Syndrome (ALGS) - a rare genetic disorder that can affect multiple organ systems of the body including the liver, heart, skeleton, eyes and kidneys.<br>
              Lifelong condition.<br>
              Lockdown has prevented him from pickiog up infections but his blood pressure and renal function has deteriorated and he is not as healthy as he was a year ago.<br>
              Condition affects his liver - not enough bile produced and has to be careful what he eats, takes supplementary vitamins through the winter months, has fatigue and can get jaundice if he becomes unwell. Has a liver nodule which is beiog monitored. Under the liver specialist, seen every 6-9 months.<br>
              Can get an upset stomach due to eating certain foods and is more likely to pick up infections. Last episode of jaundice was a couple of weeks ago with a stomach bug and this lasted for about a day, was in bed for about 24 hours. If he was working he will have to take an extra day off work. On average when he was working and going out, would get unwell every other month or twice a month in the winter due to the cold weather, would take a couple of days off work to fully recover.<br>
              Height 6 ft 1 weighs 12 stone 8 <br>
              Has high blood pressure as a result of the Alagille syndrome, has been slowly creeping up over the last few years. Saw the hypertension consultant. Takes one medication - they want to increase his tablets to aggressively control his blood pressure but this is not possible due to potential liver damage.<br>
              There is a possibility of having to have a liver transplant in the future, they are ultimately trying to keep his liver as healthy as possible. On a strict diet, has to avoid burgers or junk food, cannot eat anythtng too fatty, not too much cheese, can get quite ill in the evenings if he eats too much fatty food. Measures his own pressure, can be 140/70 if he stays at home and rests, can go to around 174/174 after a walk and over exerts himself. Has fainted on the underground from standing up, after 10-15 minutes he will need to sit down, if he has exerted himself beforehand, he can faint earlier than this, tries to get a seat but this is difficult.<br>
              Blood pressure has been very high after these episodes and has been taken to hospllal afterwards, last time this occurred this was December 2019. has not to had to use the underground due to COVID and not longer working.<br><br>

              Renal function has recently deteriorated over the last year, under the renal consultant, waiting for further scans has been told he has 51% renal function on both kidneys to prevent deterioration, suspect this is a reason for his hypertension. renal function has deteriorated in the last year. No current medication for this problem.<br><br>

              Occasionally has enuresis (night-time urinary incontinence) when he is unwell, has some problems getttng to the toilet in time, has urgency and sometimes canno1 hold it in, if he tries to hold in the urine, this can elevate his blood pressue. No daytime pads worn, but use bed protection, was sometimes late for work due to having to change sheets in the morning.
              If he can't get to the toilet in time, he can release a small amount of Urine before he gets to the toilet. can hold his urine in if he needs to however.<br><br>
              
              Pulmonary stenosls since birth, related to the Alagille syndrome<br>
              First operation as a child between year 6-7 with one stent inserted via keyhole surgery, further stent inserted and has had a total of about 6-7 stents inserted. Last surgery at age 21.<br><br>
              
              Symptoms: Can get breathlessness on walking and has to be careful about activities he can do, cannot lift heavy objects, 1ift objects above his head. Under consultant care and has a couple of cracked stents, has not seen his consultant for the lasl year due to COVID. Consultant has called him to check how he is. A further surgery is planned for further stents but no definite dates yet. Tries to stay as fit as he can. Takes aspirin but no other heart medication.<br><br>

              Hearing loss likely to be related to Alagille syndrome (due to narrowing of the ear canal) has had multiple grommets. Hearing is worse in the winter.
              Has seen an audiologist and has discussed hearing aids but has not been able to get back to make an appointment.
              Lip reads as a matter of course face to face.
              left ear is better than the right.
              Has hearing aids as a chHd, as he got older, his hearing got a little better. Manages on the phone using his left ear. No device on his phone but turns the volume up.<br>
              Has to be cautious when crossing the road, checks multiple times and atways crosses on the green man and official crossings.<br><br>
              
              Visual problems, loss of peripheral vision.<br>
              Cannot drive due to very reduced peripheral vision.<br>
              Lifelong condition, has been relatively stable.<br>
              Has to go out with someone to unfamiliar places due to very reduced peripheral vision, kicks signs into the tube tracks as he doesn't see the stgn, doesn't see lampposts, has had lo be yanked back from the road as he hasn't heard or seen anything.<br>
              Has a consultant letler from ophthalmologist, dated 15/08/2020 shows cone dystrophy.<br>
              Colour vision is good.<br>
              Describes near tunnel vision in both eyes which effects left and right sides and above and below.<br>
              Wears glasses for distance. Reasonable vision with glassn, can read a letter or a newspaper from the DWP, uses his phone lo read small print on lett«s to zoom in. This is onty used for very small print. prefers digital copies and can zoom in on a bright screen.<br>
              Able to read a standard letter.<br><br>
              GP printout reports a head injury in 2012, hit his head on an air conditioning vent, had to have CT scan, this did not how any injury, discharged home and rested, no sequalae as a result of this.<br><br>
              
              Depression has been a long-standing problem.<br>
              Mental health has been up and down in the last year. Still has 1-2 bad days a week.
              Discharged from work in 2015 due to depression (was working on a cruise ship). No significant events triggered this episode.<br>
              Takes no medication currently, has taken antidepressant medication in the summer of 2019 after an episode where he climbed over a bridge with suicidal intent and got stuck there, thought about his family and changed his mind but couldn't climb back over the bridge. He managed to call the police at 2am, was taken to hospital and put on antidepressant medication for only two mooths, not hospitalised overnight. his flatmate had to keep an eye on him. Not referred to specialist services. Given a number for counselling but did not feel ready for counselling.<br>
              Found the antidepressant made him feel very dizzy and fatigued. didn't notice a difference in mood.<br>
              Cannot remember the trigger for lhe suicide attempt. Most probably work.
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Medication and side effects
            </dt>
            <dd class="govuk-summary-list__value">
              Aspirin 175mg day for blood thinning.<br>
Not currently taking Forceval as those are not currently in production and a suitable replacement has not been found.<br>
Amlodipine 5mg x a day for hypertension
Eumovate steroid cream for eczema.
No side effects identified.
            </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Social and work history
            </dt>
            <dd class="govuk-summary-list__value">
              Evidence considered:<br>
              UC50 Questionnaire <br>
              GP printout<br>
              ESA50 form<br>
              PIP disallowance letter<br><br>

              Lives with a flatmate
              Lives in a flat on the ground floor, no steps or stairs. Has tropical fish, has 30-40 fish, finds them therapeutic.<br><br>
              
              Last worked in March 2020 as a recruitment consultant, left due to time off due to low mood and physical health problems.<br><br>
              Has a BA hons in lighting design.<br>
              Not working or studying at the momenL<br>Left handed<br><br>
              The purpose and nature of the consultation has been clearty explained to the claimant.

            </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Typical day
            </dt>
            <!-- <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne</dd> -->

            <dd class="govuk-summary-list__value">
              Gets up about 8-9am, makes breakfast. sometimes makes a bacon sandwich, most days has weetablx.<br>
Makes the bacon sandwich himself on the electric hob.<br>
Sits down and looks through emails, looks for work. wants to find a home-based jobs as he is cautions about going out due to COVID and the risk for his health.<br>
Has applied for several jobs in architectural lighting design but hasn't heard back yet.<br>
Uses a laptop to apply for jobs.<br>
Has an en-suite bathroom, has a shower evory morning and gets dressed, sometimes stays in tracksuit bottoms.<br>
Able to wash his hair in the shower.<br>
Cannot lift his hands over his head for more than one minute at any one time due to pulmonary hyportension. would get breathless.<br>
Able to lift a 1 litre bottle of milk from the fridge to the counter to make a hot drink.<br>
Cannot 1ift his laptop above his head as this would cause breathlessness.<br> Tnes to avoid lifting things above his head.<br><br>

To 1ift a full suitcase would cause breathlessness and raise his blood pressure, could carry it for one or two steps only.<br>
Able to stand for 5-10 minutes and then will got clammy and brealthless and will have to sit down to prevent fainting or elevating his blood pressure.<br>
Able to sit down for over an hour and has done in his previous job but would have to stand up slowly to prevent dizziness.<br>
Uses a rowing machine at home which has been approved as safe by his cardiologist.<br>
Puts the rawing machine on a light setting and only uses this for a couple of minutes about twice a day to keep his body moving.<br>
Goes out with his flatmate or a friend if he has to go to an unfamiliar place due to loss of peripheral vision and hearing loss.<br>
Has been nearly knocked over on unfamiliar roads and a friend has had to pull him back.<br>

Researches new routes to ensure he can get a seat as he cannot stand for long, if he has to walk short distances he will chock the roads, is It a single road? Are there crossings? Will use GOOGLE maps to check this. His parents will take him to hospital appointments.<br>
Able to go on familiar journeys by himself and can use the unde-ground alone on short joumeys. Used to travel to work via the underground.<br>
Has had blackouts from standing too long due to pulmonary hypertension but no other lossos of consciousness or seizures.<br>
Looks for jobs after breakfast on the computer, does some little tasks set by his dad to do with games testing (play testing for board games)<br>

Has lunch and makes bagels with salmon, ham, edam, makes this himself. In the afternoon, might sit down and watch a film, has some dinner about 5-6pm, eats food that his chef flatmate makes or makes fresh food himself and has learnt how to cook.<br>
Manages his budget, is recovering from financial d1fficulties:, has some debt due to not understanding money but is more mature now and manages his own outgoings. Has some financial support from his parents.<br>
Copes with last minute changes to appointments (if he has to go lo a different place from lhe planned place), he will sit up and have to work out how to get there. will have to plan his journey and leave early. Sometimes forgets things and writes things down on his phone to mitigate the problem.<br>
Worries if he hasn't done something right if plans are changed and worries he hasn't heard instructions. This lasts for a varying amount of time, able to function and carry on. his anxiety is internal. Feels low when he gets home, speaks to his flatmate and calls his parents which helps.<br>
Has never had any behavioural problems, has 'not a bad bone in his body'. <br>
Always keep his distance he travels to a minimum, maximum walking time is 10 minutes, has to leave a lot earlier as it takes him longer, has to take a bus for short distances, allows contingency time.<br>
Walks around Hackney Marshes with his friend, does this once or twice a week, has to stop after 10 minutes, has a drink, doesn't always have to sit down, walks at a gentle ambling pace. Stops for a couple of minutes to catch his breath and sometimes carries on and sometimes he has to turns back and go home, somotimes gets the bus home.<br>
Once he gets home, he can feel a bit clammy if he has overdone things by walking longer than 10 minutes, has to measure his blood pressure and has to sit and rest for half an hour and catch his breath. Then he can got up and do things round the house, cannot repeat this in the same day.<br><br>
I can confirm that there is no harmful information in this report.<br><br>
Mental State Exam<br><br>
Behaviour - Good rapport<br>
Speech - normal rate, content, volume, able to give a fluent and detailed history.<br>
Mood - No thoughts of self harmor suicidal ideation<br>
Good insight<br>
Normal cognition<br>
Did not need prompting<br>
          </div>




<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Attendee 1
</dt>
<dd class="govuk-summary-list__value">
Name: No other attendee, completed assessment alone<br>Relationship to claimant: 
</dd>
</div>




        </dl>




        <h3 class="govuk-heading-m">Mobilising and using steps </h3>

        <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Choose the descriptor that's most appropriate to the claimant
          </dt>
          <dd class="govuk-summary-list__value">
            None of the above
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list">
          <dt class="govuk-summary-list__key">
            Give details
          </dt>
          <dd class="govuk-summary-list__value">
            Walks around Hackney Marshes, does this once or twice a week, has to stop after 10 minutes, has a drink, doosn't always have to sit down, walks at a gentle ambling pace. Stops for a couple of minutes to catch his breath and sometimes cames on and aometimes he has to turn back and go home, sometimes gets the bus home.<br>
Once he gets home, he can feel a bit clammy 1f he has overdone things by walking longer than 10 minutes, measures his blood pressure and has to sit and rest for half an hour and catch his breath. Then he can get up and do things round the house, cannot repeat this in the same day.
          </dd>
        </div>
      </dl>
      

      <h3 class="govuk-heading-m">Standing and sitting </h3>

      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row govuk-summary-list--no-border">
        <dt class="govuk-summary-list__key">
          Choose the descriptor that's most appropriate to the claimant
        </dt>
        <dd class="govuk-summary-list__value">
          None of the above
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list">
        <dt class="govuk-summary-list__key">
          Give details
        </dt>
        <dd class="govuk-summary-list__value">
          Able to stand for 5-10 minutes and then will get clammy and breathless and will have to sit down to prevent faintng or elevating his blood pressure.<br>
Able to sit down for over an hour and has done in his previous job but would have to stand up slowly.
        </dd>
      </div>
    </dl>


    <h3 class="govuk-heading-m">Reaching </h3>

    <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row govuk-summary-list--no-border">
      <dt class="govuk-summary-list__key">
        Which of these options describes how the claimant can reach for things?
      </dt>
      <dd class="govuk-summary-list__value">
        None of the above
      </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list">
      <dt class="govuk-summary-list__key">
        Give details
      </dt>
      <dd class="govuk-summary-list__value">
        Able to wash his hair in the shower.<br>
Cannot lift his hands over his head for more than one minute at any one time due to pulmonary hypertension, would get breathless.
      </dd>
    </div>
  </dl>



  <h3 class="govuk-heading-m">Picking up and moving things </h3>

  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Which or these options describes how the claimant can pick things up and move them?
    </dt>
    <dd class="govuk-summary-list__value">
      None of the above
    </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list">
    <dt class="govuk-summary-list__key">
      Give details
    </dt>
    <dd class="govuk-summary-list__value">
      Able to lift a 1 litre bottle of milk from the fridge to the counter to make a hot drink.
      Lifting a full suitcase would bo cause breathlessness and raise his blood pressure, could lift it for one or two steps only.
     </dd>
  </div>
</dl>

<h3 class="govuk-heading-m">Manual dexterity </h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Select the highest scoring task that the clalmant cannot do with either hand
  </dt>
  <dd class="govuk-summary-list__value">
    None of the above
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Give details
  </dt>
  <dd class="govuk-summary-list__value">
    No problems indicated in the questionaire with manual dexterity, uses a laptop to apply for jobs.
  </dd>
</div>
</dl>


<h3 class="govuk-heading-m">Making self understood </h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which or these options describes how the claimant can communicate simple messages to people by speaking, wrtting or typing?
  </dt>
  <dd class="govuk-summary-list__value">
    None of the above
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Give details
  </dt>
  <dd class="govuk-summary-list__value">
    No problems indicated in the questionnaire in this area.
  </dd>
</div>
</dl>


<h3 class="govuk-heading-m">Understanding communication </h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which or these options describes how the claimant can understand simple messages from other people by hearing or lip-reading?
  </dt>
  <dd class="govuk-summary-list__value">
    None of the above
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Give details
  </dt>
  <dd class="govuk-summary-list__value">
    Lip reads as a matter of course face to lace.<br>
Left ear is better than the right.<br>
Has hearing aids at a child, as he got older, his hearing got a little better, doesn't wear hearing aids but has recenlty seen lhe audiologist who has recommended hearing aids.<br>
Manages using the phone with his left ear. No devices on his phone but turns the volume up.
Wears glasses for distance. Reasonable vision with glasses, can read a letter or a newspaper from the DWP, uses his phone to read small print on letters to zoom in. This is only used for very small print, prefers digital copies and can zoom in on a bright screens.<br>
Able to read a standard letter.
  </dd>
</div>
</dl>



<h3 class="govuk-heading-m">Navigation </h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these options describes how well the claimant can get around safely?
  </dt>
  <dd class="govuk-summary-list__value">
    Cannot find their way around places they do not know without the help of another person
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Give details
  </dt>
  <dd class="govuk-summary-list__value">
    Goes out with his flatmate or a friend if he has to go to an unfamiliar place due to loss of peripheral vision and hearing loss.<br>
    Describes near tunnel vision in both eyes which effects left and right sides and above and below.<br>
    Able to go on familiar journeys by himsolf and can use the underground alone on short journeys.<br>
    Has been nearly knocked over on unfamiliar roads and a friend has to pull him back.
  </dd>
</div>
</dl>



<h3 class="govuk-heading-m">Continence </h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these options describes how well the clalmant can control their bladder and bowels?
  </dt>
  <dd class="govuk-summary-list__value">
    None of the above
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Give details
  </dt>
  <dd class="govuk-summary-list__value">
    Occasionally has nightime urinary incontinence when he is unwell. has some problems ge1ting to the toilet in time, has urgency and sometimes cannot hold it in, if he tries to hold in the urine, this can elevale his blood pressure. No daytime pads worn, but uses bed protection, was sometimes late for work due to having to change sheets in the morning.<br>
    If he can't get to the toilet in time, he can release a small amount of urine before he gets to the toilet, can hold his urine in if he needs to however.
  </dd>
</div>
</dl>


<h3 class="govuk-heading-m">Staying conscious when awake </h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    How often dots the claimant lose consciousness because of fainting, seizures or blackouts?
  </dt>
  <dd class="govuk-summary-list__value">
    None of the above
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Give details
  </dt>
  <dd class="govuk-summary-list__value">
    Has had blackouts from standing too long due to pulmonary hypertenslon but no other losses of consciousness or seizures.
  </dd>
</div>
</dl>


<h3 class="govuk-heading-m">Learning to do new tasks </h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these options describes how well the claimant can learn how to do new tasks?
    </dt>
  <dd class="govuk-summary-list__value">
    None of the above
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Give details
  </dt>
  <dd class="govuk-summary-list__value">
    No problems indicated in the questionnaire.
  </dd>
</div>
</dl>


<h3 class="govuk-heading-m">Awareness of hazards and danger </h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    How often does the claimant need someone with them to help them stay safe?
    </dt>
  <dd class="govuk-summary-list__value">
    None of the above
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Give details
  </dt>
  <dd class="govuk-summary-list__value">
    No problems indicated in the questionnaire.
  </dd>
</div>
</dl>




<h3 class="govuk-heading-m">Planning, starting and finishing everyday tasks</h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Can the claimant plan. start and finish everyday tasks without difficulty?
      </dt>
  <dd class="govuk-summary-list__value">
    None of the above
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Give details
  </dt>
  <dd class="govuk-summary-list__value">
    Gets up about 8-9am, makes breakfast, sometimes makes a bacon sandwich, most days has weetabix.<br>
Makes the baoon sandwich himself on the electric hob.<br>
Sits down and looks through emails, looks for work, wants to find a home­ based jobs as he is cautions about going out due to COVID and the risk for his health.<br>
Has applied for several jobs in architectural lighting design but hasn't heard back from yet.<br>
Uses a laptop to apply for jobs.<br>
Has an on-suite bathroom, has a shower every morning and gets dressed, sometimes stays in tracksuit bottoms.<br>
Uses a rowing machine on a light setting for a couple of minutes about twice a day to keep his body moving.
  </dd>
</div>
</dl>


<h3 class="govuk-heading-m">Coping with changes</h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    How well can the claimant cope with changes to their routine?
      </dt>
  <dd class="govuk-summary-list__value">
    None of the above
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Give details
  </dt>
  <dd class="govuk-summary-list__value">
    Copes with last minute changes to appointments (if he has to go to a different place from the planned place), he will sit up and have to work out how to get there. will have to plan his journey and leave early.<br><br>
    Worries if he hasn't done something right if plans are changed and worries he hasn't heard instructions. This lasts for a varying amount of time, able to function and carry on, his anxieiy is internal. Feels low when he gets home, speaks to his flatmate and calls his parents which helps.
  </dd>
</div>
</dl>


<h3 class="govuk-heading-m">Getting about</h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Choose the descriptor that's most appropriate to the claimant
      </dt>
  <dd class="govuk-summary-list__value">
    None of the above
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Give details
  </dt>
  <dd class="govuk-summary-list__value">
    Researches new routes to ensure he can get a seat as he cannot stand for long, if he has to walk short distances he will check the roads, is it a single road?, are there crossings?. He will use GOOGLE maps to check this. His parenls will take him to hospilal appointments.<br>
    Able to go on familiar journeys by himself and can use !he underground alone on short journeys.<br>
    Although he doesn't go on unfamiliar joumeys alone this is due to his sensory problems rather than a mental health problem.
  </dd>
</div>
</dl>



<h3 class="govuk-heading-m">Coping with soclal situations</h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    How does the clalmant cope with meeting and being with people?
      </dt>
  <dd class="govuk-summary-list__value">
   
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Give details
  </dt>
  <dd class="govuk-summary-list__value">
    No problems indicated in the quesoonnaire.
  </dd>
</div>
</dl>


<h3 class="govuk-heading-m">Behaving appropriately around other people</h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    How often does the claimant behave in a way which upsets other people?
      </dt>
  <dd class="govuk-summary-list__value">
    None of the above
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Give details
  </dt>
  <dd class="govuk-summary-list__value">
    No problems indicated in the questionnall'e
  </dd>
</div>
</dl>

<h3 class="govuk-heading-m">Eating and drinking</h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Choose the descriptor that's most appropriate
      </dt>
  <dd class="govuk-summary-list__value">
    None of the above
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    Give details
  </dt>
  <dd class="govuk-summary-list__value">
    No problems indicated an this area in 1he questionnaire.
  </dd>
</div>
</dl>

        <form action="#" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>




      </div>
    </div>


{% endblock %}
