{% extends "layout.html" %}

{% block pageTitle %}
  Error page
{% endblock %}



{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
    
        <p class="govuk-body">
          This report can not be shown for John Smith QQ 12 34 56 X  
        </p>

        <h3 class="govuk-heading-m">How to fix
        </h3>
        <p class="govuk-body">
          Report this error to technical support by visiting   <a href="#" class="govuk-link">DWP Place</a> (Open in a new tab). You will then need to follow these steps:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Select the 'Report an incident' option to open a new message</li>
          <li>Include the Assessment ID, Date, Time and Question reference</li>
          <li>Take a screenshot of this web page and attach it to the message</li>
        </ul>
        
  
        <p class="govuk-body">
          This will help us to improve the service. Please try again later.
        </p>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row govuk-summary-list--no-border">
            <dt class="govuk-summary-list__key">
              Assessment ID
            </dt>
            <!-- <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne</dd> -->

            <dd class="govuk-summary-list__value">1234</dd>

          </div>
      
          <div class="govuk-summary-list__row govuk-summary-list--no-border">
            <dt class="govuk-summary-list__key">
              Date and time
            </dt>
            <!-- <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne</dd> -->

            <dd class="govuk-summary-list__value">20 April 2020 at 11.30</dd>

          </div>
        

          <div class="govuk-summary-list__row govuk-summary-list--no-border">
            <dt class="govuk-summary-list__key">
              Question reference
            </dt>
            <!-- <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne</dd> -->

            <dd class="govuk-summary-list__value">Lorem ipsum</dd>

          </div>
        
        </dl>

        <!-- <p class="govuk-body">
          Go to the  <a href="#" class="govuk-link">last page you viewed</a>      </p>
               -->
      </div>
    </div>
  


{% endblock %}
