{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  TextArea component
{% endblock %}


{% block beforeContent %}

<a href="#" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
  <span class="govuk-caption-l">Central nervous system</span>


  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Select the examination you want to complete
        </h1>
      </legend>
      <!-- <div id="citizenship-conditional-hint" class="govuk-hint">
        Select all options that are relevant to you.
      </div> -->
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-citizenship-conditional">
          <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
            Power
          </label>
        </div>

        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-email">
              State your findings
            </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
          </div>
        </div>



        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-citizenship-conditional1">
          <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
            Tone
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional1">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-email">
              State your findings
            </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
          </div>
          </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="citizenship-conditional-3" name="citizen" type="checkbox" value="text message" data-aria-controls="conditional-citizenship-conditional-3">
          <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-3">
            Relexes
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-3">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-text">
              Mobile phone number
            </label>
            <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel">
          </div>

        </div>
      </div>
    </fieldset>
  </div>

<button class="govuk-button" data-module="govuk-button">
  Save (Button)
</button>



{% endblock %}
