{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  Multiple text fields component
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#height">Enter height</a>
              </li>
              <li>
                <a href="#weight">Enter weight</a>
              </li>
              <li>
                <a href="#bmi">Enter BMI</a>
              </li>
            </ul>
          </div>
        </div>



<!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
<h1 class="govuk-heading-l">General health</h1>

<div class="govuk-form-group">


  <div class="govuk-form-group govuk-form-group--error">
  <label class="govuk-label" for="width-20">
    Height
  </label>
  <div id="more-detail-hint" class="govuk-hint">
    Measure in metres
  </div>
  <span id="name-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Enter height
    </span>

  <input class="govuk-input govuk-input--width-10" id="height" name="width-20" type="text">
</div>

<div class="govuk-form-group govuk-form-group--error">
  <label class="govuk-label" for="width-10">
    Weight
  </label>
  <div id="more-detail-hint" class="govuk-hint">
    Measure in kilograms
  </div>
  <span id="name-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Enter weight
    </span>
  <input class="govuk-input govuk-input--width-10" id="weight" name="width-10" type="text">
</div>

<div class="govuk-form-group govuk-form-group--error">
  <label class="govuk-label" for="width-10">
    BMI
  </label>
  <span id="name-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Enter BMI
    </span>
  <input class="govuk-input govuk-input--width-10" id="bmi" name="width-10" type="text">
</div>

<div class="govuk-form-group">
  <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
  <label class="govuk-label" for="more-detail">
      Other findings (optional)
    </label>

  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5
"aria-describedby="more-detail-hint"></textarea>
</div>

</div>

</div>
</div>

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>



{% endblock %}
