{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
Review page
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
  <!-- <span class="govuk-caption-l">Eating and drinking</span> -->

        <h1 class="govuk-heading-l">Check all details before submitting</h1>


        <br>
        <h2 class="govuk-heading-l">Assessment</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Additional attendees
            </dt>
            <dd class="govuk-summary-list__value">
              None
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Condition history
            </dt>
            <dd class="govuk-summary-list__value">
              	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio nec fermentum sodales. Mauris vitae magna sed odio aliquam laoreet id sit amet tortor.
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Medication and side effects
            </dt>
            <dd class="govuk-summary-list__value">
              	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio nec fermentum sodales. Mauris vitae magna sed odio aliquam laoreet id sit amet tortor.
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Social and work history
            </dt>
            <dd class="govuk-summary-list__value">Social & work comment 1<br>Social & work comment 2<br>Social & work comment 3</dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Typical day
            </dt>
            <dd class="govuk-summary-list__value">Typical day comment 1<br>Typical day comment 2<br>Typical day comment 3</dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
        
        </dl>




        <h2 class="govuk-heading-l">Functions and capabilities</h2>

        <h2 class="govuk-heading-l">Physical functions </h2>
      
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Mobilising and using steps
          </dt>
      
        <dd class="govuk-summary-list__value">
          <!-- Cannot go up or down 2 steps, even if using a handrail -->
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> licence period</span>
          </a>
        </dd>
      </div>

        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Choose the descriptor that's most appropriate 
          </dt>
          <dd class="govuk-summary-list__value">
            Cannot go up or down 2 steps, even if using a handrail
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list">
          <dt class="govuk-summary-list__key">
            Give details
          </dt>
          <dd class="govuk-summary-list__value">
            Has no problem with mobility, they completed the UC50 form incorrectly and states no problem with mobility
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a> -->
          </dd>
        </div>
  
      

        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Continence
          </dt>
      
        <dd class="govuk-summary-list__value">
          <!-- Cannot go up or down 2 steps, even if using a handrail -->
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> licence period</span>
          </a>
        </dd>
      </div>

        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Which of these options describes how well the claimant can control their bladder and bowels?
          </dt>
          <dd class="govuk-summary-list__value">
            None of the above
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list">
          <dt class="govuk-summary-list__key">
            Give details
          </dt>
          <dd class="govuk-summary-list__value">
            She does not wear pads. She does not take a change of clothing with her when going outside.
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a> -->
          </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-l">Mental, cognitive and intellectual capabilities </h2>


      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Learning to do new tasks
          </dt>
      
        <dd class="govuk-summary-list__value">
          <!-- Cannot go up or down 2 steps, even if using a handrail -->
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> licence period</span>
          </a>
        </dd>
      </div>

        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Which of these options describes how well the claimant can learn how to do new tasks?
          </dt>
          <dd class="govuk-summary-list__value">
            Can learn how to do a moderately complicated task, such as using a washing machine, but nothing more complicated than that
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list">
          <dt class="govuk-summary-list__key">
            Give details
          </dt>
          <dd class="govuk-summary-list__value">
            Copes with all aspects including washing , dressing managing bills, normal memory at interview, orientated in time and place
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a> -->
          </dd>
        </div>
  


        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Awareness of hazards and danger
          </dt>
      
        <dd class="govuk-summary-list__value">
          <!-- Cannot go up or down 2 steps, even if using a handrail -->
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> licence period</span>
          </a>
        </dd>
      </div>

        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            How often does the claimant need someone with them to help them stay safe?
          </dt>
          <dd class="govuk-summary-list__value">
            None of the above 
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list">
          <dt class="govuk-summary-list__key">
            Give details
          </dt>
          <dd class="govuk-summary-list__value">
            Lives on her own, uses public transport. Does not have anyone to help her 
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a> -->
          </dd>
        </div>




        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Planning, starting and finishing everyday tasks
          </dt>
      
        <dd class="govuk-summary-list__value">
          <!-- Cannot go up or down 2 steps, even if using a handrail -->
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> licence period</span>
          </a>
        </dd>
      </div>

        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Can the claimant plan, start and finish everyday tasks without difficulty?
          </dt>
          <dd class="govuk-summary-list__value">
            None of the above 
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list">
          <dt class="govuk-summary-list__key">
            Give details
          </dt>
          <dd class="govuk-summary-list__value">
            Although she drinks daily, she lives independently, attends numerous AA meetings daily and DWP appointments. She was neatly dressed and well kempt and orientated in time and place. No signs of anxiety 
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a> -->
          </dd>
        </div>







        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Coping with social situations
          </dt>
      
        <dd class="govuk-summary-list__value">
          <!-- Cannot go up or down 2 steps, even if using a handrail -->
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> licence period</span>
          </a>
        </dd>
      </div>

        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            How does the claimant cope with meeting and being with people?
          </dt>
          <dd class="govuk-summary-list__value">
            None of the above 
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list">
          <dt class="govuk-summary-list__key">
            Give details
          </dt>
          <dd class="govuk-summary-list__value">
            Able to manage and attend DWP appointments, numerous AA meetingsAttended alone today USed public transportno signs of anxiety at interview
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a> -->
          </dd>
        </div>


      
      

        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Getting about
          </dt>
      
        <dd class="govuk-summary-list__value">
          <!-- Cannot go up or down 2 steps, even if using a handrail -->
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> licence period</span>
          </a>
        </dd>
      </div>

        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            How does the claimant cope with meeting and being with people?
          </dt>
          <dd class="govuk-summary-list__value">
            Is unable to get to a specified place with which the claimant is familiar, without being accompanied by another person. 
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list">
          <dt class="govuk-summary-list__key">
            Give details
          </dt>
          <dd class="govuk-summary-list__value">
            Came alone, is able to use public transport as required, goes to shops, DWP appointments alone and so sign of anxiety 
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a> -->
          </dd>
        </div>

    
     

        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Coping with social situations
          </dt>
      
        <dd class="govuk-summary-list__value">
          <!-- Cannot go up or down 2 steps, even if using a handrail -->
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> licence period</span>
          </a>
        </dd>
      </div>

        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            How does the claimant cope with meeting and being with people?
          </dt>
          <dd class="govuk-summary-list__value">
            None of the above
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list">
          <dt class="govuk-summary-list__key">
            Give details
          </dt>
          <dd class="govuk-summary-list__value">
            Does not have anyone to accompany her to interview or AA meetings. Can use public transport, shops, DWP offices . No signs of anxiety at the interview and came alone 
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a> -->
          </dd>
        </div>
 


        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Behaving appropriately around other people
          </dt>
      
        <dd class="govuk-summary-list__value">
          <!-- Cannot go up or down 2 steps, even if using a handrail -->
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> licence period</span>
          </a>
        </dd>
      </div>

        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            How often does the claimant behave in a way which upsets other people?
          </dt>
          <dd class="govuk-summary-list__value">
            None of the above
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list">
          <dt class="govuk-summary-list__key">
            Give details
          </dt>
          <dd class="govuk-summary-list__value">
            Denies behavioural problems , behaved normally at assessment. Goes to AA meetings and DWP meetings without difficulty
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> licence period</span>
            </a> -->
          </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-l">Ending the assessment</h2>



      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row govuk-summary-list--no-border">
        <dt class="govuk-summary-list__key">
          The assessment is complete
        </dt>
    
      <dd class="govuk-summary-list__value">
        <!-- Cannot go up or down 2 steps, even if using a handrail -->
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> licence period</span>
        </a>
      </dd>
    </div>

      <div class="govuk-summary-list__row govuk-summary-list--no-border">
        <dt class="govuk-summary-list__key">
          When does this claim need to be reviewed?
        </dt>
        <dd class="govuk-summary-list__value">
          18 months
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> licence period</span>
          </a> -->
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list">
        <dt class="govuk-summary-list__key">
          Give details
        </dt>
        <dd class="govuk-summary-list__value">
          
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> licence period</span>
          </a> -->
        </dd>
      </div>
</dl>






        <form action="#" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Submit
          </button>

        </form>




      </div>
    </div>


{% endblock %}
