{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
Review page
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
  <!-- <span class="govuk-caption-l">Eating and drinking</span> -->

        <h1 class="govuk-heading-l">Check evidence before making your recommendation</h1>


        <br>
        <h2 class="govuk-heading-l">Claimant evidence</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Additional attendees
            </dt>
            <dd class="govuk-summary-list__value">
              None
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Condition history
            </dt>
            <dd class="govuk-summary-list__value">
              	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio nec fermentum sodales. Mauris vitae magna sed odio aliquam laoreet id sit amet tortor.
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Medication and side effects
            </dt>
            <dd class="govuk-summary-list__value">
              	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio nec fermentum sodales. Mauris vitae magna sed odio aliquam laoreet id sit amet tortor.
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Social and work history
            </dt>
            <dd class="govuk-summary-list__value">Social & work comment 1<br>Social & work comment 2<br>Social & work comment 3</dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Typical day
            </dt>
            <dd class="govuk-summary-list__value">Typical day comment 1<br>Typical day comment 2<br>Typical day comment 3</dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Informal observations
            </dt>
            <dd class="govuk-summary-list__value">Observation comment 1<br>Observation comment 2</dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
        </dl>


  <h2 class="govuk-heading-l">Physical assessments</h2>

  <h2 class="govuk-heading-s"> General health    <a href="#" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a>
  </h2>

  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Height (m)
    </dt>
    <dd class="govuk-summary-list__value">
       1.3
    </dd>
    <dd class="govuk-summary-list__actions">
      <!-- <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> previous application number</span>
      </a> -->
    </dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Weight (Kg) 
    </dt>
    <dd class="govuk-summary-list__value">
      94
    </dd>
    <dd class="govuk-summary-list__actions">
      <!-- <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> previous application number</span>
      </a> -->
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      BMI 
    </dt>
    <dd class="govuk-summary-list__value">
      25%
    </dd>
    <dd class="govuk-summary-list__actions">
      <!-- <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> previous application number</span>
      </a> -->
    </dd>
  </div>

    <div class="govuk-summary-list__row govuk-summary-list--no-border">
      <dt class="govuk-summary-list__key">
        Left Leg Peripheral Circulation
      </dt>
      <dd class="govuk-summary-list__value">
        </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> licence period</span>
        </a>
      </dd>
    </div>

</dl>
 
  <h2 class="govuk-heading-s">Select the examinations to complete
</h2>


<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Dorsalis pedis pulse
    </dt>
    <dd class="govuk-summary-list__value">
   State your findings : Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum  </dd>
    <dd class="govuk-summary-list__actions">
      <!-- <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> licence period</span>
      </a> -->
    </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Oedema
    </dt>
    <dd class="govuk-summary-list__value">
   State your findings : Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum  </dd>
    <dd class="govuk-summary-list__actions">
      <!-- <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> licence period</span>
      </a> -->
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Other findings
    </dt>
    <dd class="govuk-summary-list__value">
    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </dd>
    <dd class="govuk-summary-list__actions">
      <!-- <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> licence period</span>
      </a> -->
    </dd>
  </div>


<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Cardiac
  </dt>
  <dd class="govuk-summary-list__value">
    </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> licence period</span>
    </a>
  </dd>
</div>

</dl>
  


<h2 class="govuk-heading-s">Select the examinations to complete
</h2>


<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Respiratory rate at rest
    </dt>
    <dd class="govuk-summary-list__value">
     State your findings: Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum  </dd>
      <dd class="govuk-summary-list__actions">
        <!-- <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> licence period</span>
        </a> -->
      </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Other findings
    </dt>
    <dd class="govuk-summary-list__value">
    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </dd>
    <dd class="govuk-summary-list__actions">
      <!-- <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> licence period</span>
      </a> -->
    </dd>
  </div>


  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Peak expiration flow rate
    </dt>
    <dd class="govuk-summary-list__value">
      </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> licence period</span>
      </a>
    </dd>
  </div>
</dl>
  

  
  <h2 class="govuk-heading-s">Select the examinations to complete
  </h2>

  <dl class="govuk-summary-list">
 
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Technique
    </dt>
    <dd class="govuk-summary-list__value">
       State your findings: Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</bt>  </dd>
      <dd class="govuk-summary-list__actions">
        <!-- <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> licence period</span>
        </a> -->
      </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Value
    </dt>
    <dd class="govuk-summary-list__value">
       State your findings: Lorem ipsum</bt>  </dd>
      <dd class="govuk-summary-list__actions">
        <!-- <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> licence period</span>
        </a> -->
      </dd>
  </div>
<br>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Other findings
    </dt>
    <dd class="govuk-summary-list__value">
    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </dd>
    <dd class="govuk-summary-list__actions">
      <!-- <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> licence period</span>
      </a> -->
    </dd>
  </div>



  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Central nervous system
    </dt>
    <dd class="govuk-summary-list__value">
      </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> licence period</span>
      </a>
    </dd>
  </div>
  </dl>
  

  
  <h2 class="govuk-heading-s">Select the examinations to complete
  </h2>
 

  <dl class="govuk-summary-list">

  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Reflexes
    </dt>
    <dd class="govuk-summary-list__value">
       State your findings: Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</bt>  </dd>
      <dd class="govuk-summary-list__actions">
        <!-- <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> licence period</span>
        </a> -->
      </dd>
  </div>
  
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Sensation
    </dt>
    <dd class="govuk-summary-list__value">
       State your findings: Lorem ipsum</bt>  </dd>
      <dd class="govuk-summary-list__actions">
        <!-- <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> licence period</span>
        </a> -->
      </dd>
  </div>
<br>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Other findings
    </dt>
    <dd class="govuk-summary-list__value">
    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </dd>
    <dd class="govuk-summary-list__actions">
      <!-- <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> licence period</span>
      </a> -->
    </dd>
  </div>





</dl>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">

<a href="#" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-regular" id="list-convictions-status">Go to physical assessment to add another</a>

</dl>






<h2 class="govuk-heading-l">Mental health</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Appearance
  </dt>
  <dd class="govuk-summary-list__value">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> previous application number</span>
    </a>
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
Behaviour
  </dt>
  <dd class="govuk-summary-list__value">Not assessed

  </dd>
  <dd class="govuk-summary-list__actions">
    <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> previous application number</span>
    </a> -->
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Speech
  </dt>
  <dd class="govuk-summary-list__value">Not assessed

  <dd class="govuk-summary-list__actions">
    <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> licence period</span>
    </a> -->
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Mood
  </dt>
  <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </dd>
  <dd class="govuk-summary-list__actions">
    <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> licence type</span>
    </a> -->
  </dd>
</div>

<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Cognition general
  </dt>
  <dd class="govuk-summary-list__value">
  Not assessed </dd>
  <dd class="govuk-summary-list__actions">
    <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> licence type</span>
    </a> -->
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Insight
  </dt>
  <dd class="govuk-summary-list__value">
  Not assessed  </dd>
  <dd class="govuk-summary-list__actions">
    <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> licence type</span>
    </a> -->
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Thoughts
  </dt>
  <dd class="govuk-summary-list__value">
  Not assessed</dd>
  <dd class="govuk-summary-list__actions">
    <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> licence type</span>
    </a> -->
  </dd>
</div>


<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Perceptions
  </dt>
  <dd class="govuk-summary-list__value">
Not assessed
  <dd class="govuk-summary-list__actions">
    <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> licence period</span>
    </a> -->
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Addictions
  </dt>
  <dd class="govuk-summary-list__value">
Not assessed
  <dd class="govuk-summary-list__actions">
    <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> licence period</span>
    </a> -->
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Cognitive tests
  </dt>
  <dd class="govuk-summary-list__value">
Not assessed
  <dd class="govuk-summary-list__actions">
    <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> licence period</span>
    </a> -->
  </dd>
</div>
</dl>




<h2 class="govuk-heading-l">Assessment review</h2>

<h2 class="govuk-heading-s"> Mobilising and using steps<a href="#" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a>
</h2>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Choose the descriptor that's most appropriate
  </dt>
  <dd class="govuk-summary-list__value">
    Cannot mobilise more than 50 metres before they have to stop, or 50 metres repeatedly
  </dd>
  <dd class="govuk-summary-list__actions">
    <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> previous application number</span>
    </a> -->
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Give details
  </dt>
  <dd class="govuk-summary-list__value">
    Lorem ipsum Lorem ipsum Lorem ipsum
  </dd>
  <dd class="govuk-summary-list__actions">
    <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> previous application number</span>
    </a> -->
  </dd>
</div>
</dl>

<h2 class="govuk-heading-s"> Standing, sitting and transferring from seat to seat<a href="#" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a>
</h2>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Choose the descriptor that's most appropriate
  </dt>
  <dd class="govuk-summary-list__value">
    Cannot transfer from one seat to another right next to it without someone’s help
  </dd>
  <dd class="govuk-summary-list__actions">
    <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> previous application number</span>
    </a> -->
  </dd>
</div>
</dl>


<h2 class="govuk-heading-s"> Navigation<a href="#" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a>
</h2>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these options describes how well the claimant can get around safely
  </dt>
  <dd class="govuk-summary-list__value">
    Cannot mobilise more than 50 metres before they have to stop, or 50 metres repeatedly
  </dd>
  <dd class="govuk-summary-list__actions">
    <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> previous application number</span>
    </a> -->
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Give details
  </dt>
  <dd class="govuk-summary-list__value">
    Lorem ipsum Lorem ipsum Lorem ipsum
  </dd>
  <dd class="govuk-summary-list__actions">
    <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> previous application number</span>
    </a> -->
  </dd>
</div>
</dl>

<h2 class="govuk-heading-s"> Coping with changes<a href="#" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a>
</h2>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    How well can the claimant cope with changes to their routine?
  </dt>
  <dd class="govuk-summary-list__value">
    If there were a small planned change to Jayne’s routine, they would find it significantly more difficult to manage
  </dd>
  <dd class="govuk-summary-list__actions">
    <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> previous application number</span>
    </a> -->
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Give details
  </dt>
  <dd class="govuk-summary-list__value">
    Lorem ipsum Lorem ipsum Lorem ipsum
  </dd>
  <dd class="govuk-summary-list__actions">
    <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> previous application number</span>
    </a> -->
  </dd>
</div>
</dl>


<h2 class="govuk-heading-s"> Coping with social situations<a href="#" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a>
</h2>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    How does the claimant cope with meeting and being with people?
  </dt>
  <dd class="govuk-summary-list__value">
    Cannot meet and be with people without feeling significantly anxious or scared  </dd>
  <dd class="govuk-summary-list__actions">
    <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> previous application number</span>
    </a> -->
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Give details
  </dt>
  <dd class="govuk-summary-list__value">
    Lorem ipsum Lorem ipsum Lorem ipsum
  </dd>
  <dd class="govuk-summary-list__actions">
    <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> previous application number</span>
    </a> -->
  </dd>
</div>
</dl>


<h2 class="govuk-heading-s"> Eating and drinking<a href="#" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a>
</h2>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Choose the descriptor that’s most appropriate
  </dt>
  <dd class="govuk-summary-list__value">
    Cannot chew or swallow </dd>
  <dd class="govuk-summary-list__actions">
    <!-- <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> previous application number</span>
    </a> -->
  </dd>
</div>


</dl>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">

  <a href="#" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-regular" id="list-convictions-status">Go to assessment review to add another</a>
  
  </dl>
  

        <form action="#" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Make your recommendation
          </button>

        </form>




      </div>
    </div>


{% endblock %}
