{% extends "layout-key-detail-bar-status.html" %}

{% block pageTitle %}
  Condition history tabs
{% endblock %}


{% block beforeContent %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="/corecomponents/Research/2Navigation/tabs/condition_history-tabs" class="active" aria-current="section">Assessment</a>
          </li>
          <li>
            <a href="/corecomponents/Research/2Navigation/tabs/informal-observations">Informal observations</a>
          </li>
          <li>
            <a href="#">Add attendee</a>
          </li>
          <li>
            <a href="#">Abandon assessment</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</main>
{% endblock %}



{% block content %}
<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">



  <table class="govuk-table">
    <!-- <caption class="govuk-table__caption">Months and rates</caption> -->
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Assessment</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/corecomponents/Research/2Navigation/tabs/condition_history-tabs_complete" class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Condition history</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-tag govuk-phase-banner__content__tag">
          OK
        </div></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/corecomponents/Research/2Navigation/tabs/social" class="govuk-body govuk-!-font-size-16">Social and work history</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="#" class="govuk-body govuk-!-font-size-16">Typical day</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="#" class="govuk-body govuk-!-font-size-16">Medication and side effects</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      </tr>


    </tbody>
  </table>

  <table class="govuk-table">
    <!-- <caption class="govuk-table__caption">Months and rates</caption> -->
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Physical assessment</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/corecomponents/Research/2Navigation/tabs/condition_history-tabs_complete" class="govuk-body govuk-!-font-size-16">Consent</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      </tr>
    </tbody>
  </table>


  <table class="govuk-table">
    <!-- <caption class="govuk-table__caption">Months and rates</caption> -->
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Mental health</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/corecomponents/Research/2Navigation/tabs/condition_history-tabs_complete" class="govuk-body govuk-!-font-size-16">Mental health</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      </tr>


    </tbody>
  </table>




</div>


      <div class="govuk-grid-column-two-thirds-nav">

<div class="govuk-form-group">
  <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
      Condition history
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Provide all details of your condition history
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10
" aria-describedby="more-detail-hint"></textarea>
</div>





{{ govukButton({
  id: "comment",
  name: "comment",
  value: "add-statement",
  text: "Save and continue",
  href: "/corecomponents/Research/2Navigation/tabs/Social"
}) }}


</div>
</div>
</main>

{% endblock %}
