{% extends "layout-key-detail-bar-start1060.html" %}

{% block pageTitle %}
  Condition history tabs
{% endblock %}


{% block beforeContent %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="#" class="active" aria-current="section">Assessment started: 14:00</a>
          </li>
          <li>
            <a href="#">Abandon assessment</a>
          </li>



        </ul>
      </nav>

    </div>
  </div>
</main>
{% endblock %}



{% block content %}
<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
<div class="govuk-grid-column-one-quarter">



  <table class="govuk-table">
    <!-- <caption class="govuk-table__caption">Months and rates</caption> -->
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Assessment</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/corecomponents/Research/2Navigation/tabs/condition_history-tabs_complete" class="govuk-body govuk-!-font-size-16">Condition history</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-tag govuk-phase-banner__content__tag">
          OK
        </div></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/corecomponents/Research/2Navigation/tabs/social" class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Social and work history</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="#" class="govuk-body govuk-!-font-size-16">Typical day</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="#" class="govuk-body govuk-!-font-size-16">Medication and side effects</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="#" class="govuk-body govuk-!-font-size-16">Physical assessment</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="#" class="govuk-body govuk-!-font-size-16">Mental health</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="#" class="govuk-body govuk-!-font-size-16">Add attendees (optional)</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="#" class="govuk-body govuk-!-font-size-16">Informal observations (optional)</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      </tr>

    </tbody>
  </table>

  <!-- <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Physical assessment</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/corecomponents/Research/2Navigation/tabs/social_complete" class="govuk-body govuk-!-font-size-16">General health (optional)</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="#" class="govuk-body govuk-!-font-size-16">Lower back and legs (optional)</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="#" class="govuk-body govuk-!-font-size-16">Neck and arms (optional)</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/wca_v1/PA/landingpage" class="govuk-body govuk-!-font-size-16">Cardiovascular and respiratory (optional)</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="#" class="govuk-body govuk-!-font-size-16">Vision, speech and hearing (optional)</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="#" class="govuk-body govuk-!-font-size-16">Central nervous system (optional)</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      </tr>

    </tbody>
  </table>


  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Mental health</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/corecomponents/Research/2Navigation/tabs/condition_history-tabs_complete" class="govuk-body govuk-!-font-size-16">Mental health (optional)</a></th>
        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      </tr>


    </tbody>
  </table> -->






</div>


  <div class="govuk-grid-column-two-thirds-nav">

<!-- <span class="govuk-caption-l">Review</span> -->
<h1 class="govuk-heading-l">Social and work history</h1>


<!-- <form action="/wca_v1/TakingStatementsentry-post" method="post" novalidate> -->

<!-- <ul class="govuk-list">
<li>
<a href="/form_components/TakingStatements" class="govuk-link">View all previous statements</a>
</li>
</ul> -->





<table class="govuk-table">
  <!-- <caption class="govuk-table__caption">Informal observations</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Statements added</th>
      <!-- <th scope="col" class="govuk-table__header govuk-table__header--numeric">Actions</th> -->
    </tr>
  </thead>
  <tbody class="govuk-table__body">

{% for statement in data.statements %}
    <tr class="govuk-table__row">

        <td scope="row" class="govuk-table__cell">{{ statement }}</td>

      <!-- <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td> -->
    </tr>
{% endfor %}

  </tbody>

</table>

<form action="/corecomponents/Research/2Navigation/tabs/social" method="post" novalidate>

<div class="govuk-form-group">
  <form action="/wca_v1/TakingStatementsentry" method="post" novalidate>
  <textarea class="govuk-textarea" id="statement2" name="statement" rows="3" aria-describedby="more-detail-hint" value="{{data['statement2']}}"></textarea>
  <button class="govuk-button govuk-button--secondary" data-module="govuk-button" ">  Add statement
  </button></form>



</div>




{{ govukButton({
  id: "comment",
  name: "comment",
  value: "add-statement",
  text: "Save and continue",
  href: "/corecomponents/Research/2Navigation/tabs/typical-day"
}) }}

</div>

</main>

{% endblock %}
