{% extends "layout-key-detail-bar-start1060.html" %}

{% block pageTitle %}
  Condition history tabs
{% endblock %}


{% block beforeContent %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="#" class="active" aria-current="section">Assessment started: 14:00</a>
          </li>
          <li>
            <a href="#">Abandon assessment</a>
          </li>



        </ul>
      </nav>

    </div>
  </div>
</main>
{% endblock %}




{% block content %}
<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">




<div class="app-pane__body app-width-container">
  <div class="app-pane__subnav">
    <nav class="app-subnav">




          <ul class="app-subnav__section">

            <li class="app-subnav__section-item">
              <a href="condition_history-tabs" class="app-subnav__link govuk-link govuk-link--no-visited-state">Condition history</a>&nbsp;&nbsp;&#10004;
            </li>

            <li class="app-subnav__section-item">
              <a href="social" class="app-subnav__link govuk-link govuk-link--no-visited-state">Social and work history</a>&nbsp;&nbsp;&#10004
            </li>

            <li class="app-subnav__section-item">
              <a href="2-History-of-conditions" class="app-subnav__link govuk-link govuk-link--no-visited-state">Typical day</a>&nbsp;&nbsp;&#10004
            </li>

            <li class="app-subnav__section-item">
              <a href="3-Current-medication" class="app-subnav__link govuk-link govuk-link--no-visited-state">Medication and side effects</a>&nbsp;&nbsp;&#10004
            </li>

            <li class="app-subnav__section-item app-subnav__section-item--current">
              <a href="5-Functional-history" class="app-subnav__link govuk-link govuk-link--no-visited-state">Physical assessment</a>
            </li>

            <li class="app-subnav__section-item">
              <a href="4-Social-and-occ-history" class="app-subnav__link govuk-link govuk-link--no-visited-state">Mental health</a>
            </li>

            <li class="app-subnav__section-item">
              <a href="6-Observations" class="app-subnav__link govuk-link govuk-link--no-visited-state">Add attendee (optional)</a>
            </li>

            <li class="app-subnav__section-item">
              <a href="7-Mental-state" class="app-subnav__link govuk-link govuk-link--no-visited-state">Informal observations (optional)</a>
            </li>



</nav>

  </div>


</div>

</div>
      <div class="govuk-grid-column-three-quarters-nav">


        <form action="MentalHealth" method="post" novalidate>





        <span class="govuk-caption-l">Cardiovascular and respiratory</span>
<h2 class="govuk-heading-l">Breathlessness</h2>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
            <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Left Leg Peripheral Circulation
              </h1>
            </legend> -->
            <label class="govuk-label" for="more-detail">
                Select the examination you want to complete
              </label>
            <!-- <div id="citizenship-conditional-hint" class="govuk-hint">
              Select the examination you want to complete
            </div> -->
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-citizenship-conditional">
                <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                  Breathlessness
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    State your findings
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                </div>
              </div>

              </div>


          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="more-detail">
              Other findings
            </label>
          <!-- <div id="more-detail-hint" class="govuk-hint">
            Do not include personal or financial information, like your National Insurance number or credit card details.
          </div> -->
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>


<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

</div>
</div>

{% endblock %}
