{% extends "layout-key-detail-bar-start1060-leftnav.html" %}

{% block pageTitle %}
  Left nav WCA
{% endblock %}






{% block mainContent %}

<form action="/wca/leftnav/left-condition-history/save-and-continue" method="post" novalidate>

  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
<div class="govuk-form-group">
  <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
      Condition history
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Provide all details of your condition history
  </div>
  <textarea class="govuk-textarea" 
  id="more-detail" 
  name="left-condition-history" 
  rows="10
" aria-describedby="more-detail-hint">{{ session['left-condition-history'] }}</textarea>
</div>



<button class="govuk-button" data-module="govuk-button">
  Save and continue
  </button>


</form>
{% endblock %}
