{% extends "layout-key-detail-bar-start1060-leftnav.html" %}

{% block pageTitle %}
  Left nav WCA
{% endblock %}



{% block mainContent %}


<form action="/corecomponents/Research/3Navigation/WCA-Leftnav/Select-pa" method="post" novalidate>


  <ul class="app-task-list__items">


<li>
  <h2 class="app-task-list__section">
    <span class="app-task-list__section-number"></span> Physical assessment (Optional)
  </h2>
  <ul class="app-task-list__items">
    <!-- <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="#" aria-describedby="eligibility-status">
                    Consent required
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              </li> -->
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="/wca/general-health" aria-describedby="read-declaration-status">
          General health
        </a>
      </span>
      {% if session['general-health'] %}
      <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
      {% else %}
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
      {% endif %}
    </li>
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="/corecomponents/Research/3Navigation/WCA-tasklist/PA/lowerbacklegs" aria-describedby="read-declaration-status">
          Lower back and legs
        </a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
        started</strong>
    </li>
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="#" aria-describedby="read-declaration-status">
          Neck and arms
        </a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
        started</strong>
    </li>
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="/corecomponents/Research/3Navigation/WCA-tasklist/PA/cardiovascular" aria-describedby="read-declaration-status">
          Cardiovascular and respiratory
        </a>
      </span> 
      {% if session['cardio'] %}
      <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
      {% else %}
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
      {% endif %}
    </li>
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="#" aria-describedby="read-declaration-status">
          Vision, speech and hearing
        </a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
        started</strong>
    </li>
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="#" aria-describedby="read-declaration-status">
          Central nervous system
        </a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not
        started</strong>
    </li>
  </ul>
</li>

</ol>
        


{% endblock %}
