{% extends "layout-key-detail-bar-start1060-leftnav.html" %}

{% block pageTitle %}
  Condition history tabs
{% endblock %}



{% block mainContent %}

<form action="/wca/leftnav/left-social/save-and-continue" method="post" novalidate>



<div class="govuk-form-group">
  <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
    Social and work history
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Provide all details about your social and work history
  </div>
  <textarea class="govuk-textarea" 
  id="more-detail" 
  name="left-social" 
  rows="10
" aria-describedby="more-detail-hint">{{ session['left-social'] }}</textarea>
</div>





<button class="govuk-button" data-module="govuk-button">
  Save and continue
  </button>


</form>
{% endblock %}
