{% extends "corecomponents/Research/3Navigation/layout-key-detail-bar-start1060-leftnav-Typical.html" %}

{% block pageTitle %}
  Typical day
{% endblock %}



{% block mainContent %}
<h1 class="govuk-heading-l">Typical day</h1>


  

<form action="/corecomponents/Research/3Navigation/WCA-Leftnav/typical-day" method="post" novalidate>



<table class="govuk-table">
  <!-- <caption class="govuk-table__caption">Informal observations</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Statements added</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Actions</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  

{% for leftTypstatement in data.leftTypstatements %}
    <tr class="govuk-table__row">

        <td scope="row" class="govuk-table__cell">{{ leftTypstatement }}</td>

      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Remove</a></td>
    </tr>
{% endfor %}

  </tbody>

</table>



<div class="govuk-form-group">

    <input class="govuk-input" id="leftTypstatement2" name="leftTypstatement" type="text" value="{{data['leftTypstatement2']}}">
</form>
<br>
<br>
<button class="govuk-button govuk-button--secondary" data-module="govuk-button">  Add statement
</button>
</div>


<form action="/wca/leftnav/leftTypstatement/save-and-continue" method="post" novalidate>


{{ govukButton({
  id: "comment",
  name: "comment",
  value: "add-statement",
  text: "Continue"


}) }}
</form>

{% endblock %}
