{% extends "layout-key-detail-bar-status.html" %}

{% block pageTitle %}
  TextArea configurable component
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}
<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
<div class="govuk-grid-column-one-quarter">



<a href="/wca_v1/TakingStatementsentry" class="govuk-body govuk-!-font-size-16">Informal observations</a>
<br>
<br>
<a href="#" class="govuk-body govuk-!-font-size-16">Add attendees</a>
<br>
<br>
<a href="#" class="govuk-body govuk-!-font-size-16">Abandon assessment</a>
<br>
<br>
<hr>
<br>
<br>
<a href="/wca_v1/Landingpage" class="govuk-body govuk-!-font-size-16">Start consultation</a>
<br>
<br>
<a href="/wca_v1/condition_history" class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold">Condition history</a>
<br>
<br>
<a href="#" class="govuk-body govuk-!-font-size-16">Social and work history</a>
<br>
<br>
<a href="#" class="govuk-body govuk-!-font-size-16">Typical day</a>
<br>
<br>
<a href="#" class="govuk-body govuk-!-font-size-16">Medication and side effects</a>
<br>
<br>
<a href="/wca_v1/PA/landingpage" class="govuk-body govuk-!-font-size-16">Physical assessments</a>
<br>
<br>
<a href="#" class="govuk-body govuk-!-font-size-16">Mental health</a>
<br>
<br>

<a href="#" class="govuk-body govuk-!-font-size-16">Finish assessment</a>
<br>
<br>


</div>


      <div class="govuk-grid-column-three-quarters-nav">

<div class="govuk-form-group">
  <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
      Condition history
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Provide all details of your condition history
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10
" aria-describedby="more-detail-hint"></textarea>
</div>





<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
</div>
</div>
</main>

{% endblock %}
