{% extends "layout-key-detail-bar-status.html" %}

{% block pageTitle %}
  TextArea component
{% endblock %}




{% block content %}


  <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">



      <a href="/wca_v1/TakingStatementsentry" class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Informal observations</a>
      <br>
      <br>
      <a href="#" class="govuk-body govuk-!-font-size-16">Add attendees</a>
      <br>
      <br>
      <a href="#" class="govuk-body govuk-!-font-size-16">Abandon assessment</a>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <a href="/wca_v1/Landingpage" class="govuk-body govuk-!-font-size-16">Start consultation</a>
      <br>
      <br>
      <a href="/wca_v1/condition_history" class="govuk-body govuk-!-font-size-16">Condition history</a>
      <br>
      <br>
      <a href="/wca_v1/social&workhistorys" class="govuk-body govuk-!-font-size-16">Social and work history</a>
      <br>
      <br>
      <a href="#" class="govuk-body govuk-!-font-size-16">Typical day</a>
      <br>
      <br>
      <a href="#" class="govuk-body govuk-!-font-size-16">Medication and side effects</a>
      <br>
      <br>
      <a href="/wca_v1/PA/landingpage" class="govuk-body govuk-!-font-size-16">Physical assessments</a>
      <br>
      <br>
      <a href="#" class="govuk-body govuk-!-font-size-16">Mental health</a>
      <br>
      <br>

      <a href="#" class="govuk-body govuk-!-font-size-16">Finish assessment</a>
      <br>
      <br>


      </div>
      <div class="govuk-grid-column-three-quarters">
  <!-- <span class="govuk-caption-l">Review</span> -->
<h1 class="govuk-heading-l">Informal observations</h1>


<form action="/wca_v1/TakingStatementsentry" method="post" novalidate>

<!-- <ul class="govuk-list">
  <li>
  <a href="/form_components/TakingStatements" class="govuk-link">View all previous statements</a>
  </li>
</ul> -->





  <table class="govuk-table">
    <!-- <caption class="govuk-table__caption">Informal observations</caption> -->
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Statements added</th>
        <!-- <th scope="col" class="govuk-table__header govuk-table__header--numeric">Actions</th> -->
      </tr>
    </thead>
    <tbody class="govuk-table__body">

{% for statement in data.statements %}
      <tr class="govuk-table__row">

          <td scope="row" class="govuk-table__cell">{{ statement }}</td>

        <!-- <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Edit</a>&nbsp&nbsp<a href="#" class="govuk-link">Remove</a></td> -->
      </tr>
{% endfor %}

    </tbody>

  </table>



  <div class="govuk-form-group">
    <textarea class="govuk-textarea" id="statement2" name="statement" rows="3" aria-describedby="more-detail-hint" value="{{data['statement2']}}"></textarea>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">  Add statement
    </button>

  </div>






<button class="govuk-button" data-module="govuk-button">
Save & Continue
</button>

</div>
</div>
</main>


{% endblock %}
