{% extends "layout-key-detail-bar-start1060.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="#" class="active" aria-current="section">Assessment started: 14:00</a>
          </li>
          <li>
            <a href="#">Abandon assessment</a>
          </li>



        </ul>
      </nav>

    </div>
  </div>
</main>
{% endblock %}


{% block content %}
<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <!-- <h4 class="govuk-caption-m">Assessment started: (insert time stamp)</h4>
    <a href="#" class="govuk-body govuk-!-font-size-19">Abandon assessment</a>
<hr>
<br>
<br> -->
<table class="govuk-table">
  <!-- <caption class="govuk-table__caption">Months and rates</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <!-- <th scope="col" class="govuk-table__header">PIP Assessment</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th> -->
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="1-consultation-start" class="govuk-body govuk-!-font-size-16">Start consultation</a></th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-tag govuk-phase-banner__content__tag">
        OK
      </div></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="2-History-of-conditions" class="govuk-body govuk-!-font-size-16">History of conditions</a></th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-tag govuk-phase-banner__content__tag">
        OK
      </div></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="3-Current-medication" class="govuk-body govuk-!-font-size-16">Current medication and treatment</a></th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-tag govuk-phase-banner__content__tag">
        OK
      </div></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="4-Social-and-occ-history" class="govuk-body govuk-!-font-size-16">Social and occupational history</a></th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-tag govuk-phase-banner__content__tag">
        OK
      </div></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="5-Functional-history" class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold">Functional history</a></th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="6-Observations" class="govuk-body govuk-!-font-size-16">Observations</a></th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="7-Mental-state" class="govuk-body govuk-!-font-size-16">Mental state</a></th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="8-Musculoskeletal" class="govuk-body govuk-!-font-size-16">Musculoskeletal system</a></th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="9-Other-systems" class="govuk-body govuk-!-font-size-16">Other relevant systems</a></th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="10-Submit" class="govuk-body govuk-!-font-size-16">Confirm and submit</a></th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
    </tr>


  </tbody>
</table>


  </div>
  <div class="govuk-grid-column-three-quarters">
    <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
    <h1 class="govuk-heading-xl">Functional history</h1>
    <form class="form" action="/corecomponents/Research/2Navigation/pip-leftnav/6-Observations" method="post">

      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

      {{ govukTextarea({
      name: "Variability",
      id: "variability",
      label: {
      text: "Variability"
      },
      hint: {
      text: ""
      }
      }) }}{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

    {{ govukTextarea({
    name: "planning-and-following-journeys",
    id: "planning and following journeys",
    label: {
    text: "Planning and following journeys"
    },
    hint: {
    text: ""
    }
    }) }}
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

    {{ govukTextarea({
    name: "moving-around",
    id: "moving around",
    label: {
    text: "Moving around"
    },
    hint: {
    text: ""
    }
    }) }}
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

    {{ govukTextarea({
    name: "preparing-food",
    id: "preparing food",
    label: {
    text: "Preparing food"
    },
    hint: {
    text: ""
    }
    }) }}
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

    {{ govukTextarea({
    name: "taking-nutrition",
    id: "taking nutrition",
    label: {
    text: "Taking nutrition"
    },
    hint: {
    text: ""
    }
    }) }}
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

    {{ govukTextarea({
    name: "managing-therapy",
    id: "managing therapy",
    label: {
    text: "Managing therapy or monitoring a health condition"
    },
    hint: {
    text: ""
    }
    }) }}
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

    {{ govukTextarea({
    name: "washing-and-bathing",
    id: "washing and bathing",
    label: {
    text: "Washing and bathing"
    },
    hint: {
    text: ""
    }
    }) }}
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

    {{ govukTextarea({
    name: "managing-toilet-needs",
    id: "managing toilet needs",
    label: {
    text: "Managing toilet needs or incontinence"
    },
    hint: {
    text: ""
    }
    }) }}
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

    {{ govukTextarea({
    name: "dressing-and-undressing",
    id: "dressing and undressing",
    label: {
    text: "Dressing and undressing"
    },
    hint: {
    text: ""
    }
    }) }}
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

    {{ govukTextarea({
    name: "communicating-verbally",
    id: "communicating verbally",
    label: {
    text: "Communicating verbally"
    },
    hint: {
    text: ""
    }
    }) }}
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

    {{ govukTextarea({
    name: "reading-and-understanding-signs-symbols-and-words",
    id: "reading and understanding signs symbols and words",
    label: {
    text: "Reading and understanding signs, symbols and words"
    },
    hint: {
    text: ""
    }
    }) }}
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

    {{ govukTextarea({
    name: "engaging-with-others-f2f",
    id: "engaging with others face to face",
    label: {
    text: "Engaging with others face to face"
    },
    hint: {
    text: ""
    }
    }) }}
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

    {{ govukTextarea({
    name: "making-budgeting-decisions",
    id: "making budgeting decisions",
    label: {
    text: "Making budgeting decisions"
    },
    hint: {
    text: ""
    }
    }) }}
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

    {{ govukTextarea({
    name: "other-relevant-functional-history",
    id: "other relevant functional history",
    label: {
    text: "Other relevant functional history"
    },
    hint: {
    text: ""
    }
    }) }}
    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
    text: "Save and continue"

    }) }}
  </div>

</div>

</main>
</div>

{% endblock %}
