{% extends "layout.html" %}

{% block pageTitle %}
Work capability assessment report
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

  <span class="govuk-caption-xl">Personal Independence Payment</span>

        <h1 class="govuk-heading-xl">Health assessment report</h1>

        <br>

        <h2 class="govuk-heading-l">Claimant details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              John Doe
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              QQ 12 34 56 X
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              31 December 1995
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Benefit type
            </dt>
            <dd class="govuk-summary-list__value">
              Personal Independence Payment
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date assessment was completed
            </dt>
            <dd class="govuk-summary-list__value">
              3 June 2021
            </dd>
          </div>
       
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name of Healthcare Professional
            </dt>
            <dd class="govuk-summary-list__value">
              Jane Jones
            </dd>
          </div>
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email of Healthcare Professional
            </dt>
            <dd class="govuk-summary-list__value">
              jjones@email.com
            </dd>
          </div> -->
        </dl>




          <h2 class="govuk-heading-l">Health assessment</h2>
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How was the assessment conducted
            </dt>
            <dd class="govuk-summary-list__value">
              Face to Face
            </dd>
          </div>
          
  
    <!-- <h3 class="govuk-heading-m">Additional attendees
    </h3> -->
    <!-- <h3 class="govuk-heading-m">Additional attendees
    </h3>
  
    <dl class="govuk-summary-list">
  
  
    <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__key">
        Attendee 1
      </dt>
      <dd class="govuk-summary-list__value">
        Name: Jayne Helper<br>Relationship to claimant: Support worker
      </dd>
    </div> -->
  <!-- <h3 class="govuk-heading-s">Additional attendee 2
  </h3> -->
  


  
  







         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              History of condition
            </dt>
            <dd class="govuk-summary-list__value">
              Sickle cell disease.<br><br>
            
              He has always lived with this.<br>
He is under a specialist for this. He sees them twice a year and has blood test and urine samples.<br>
He indicates he gets hospitalised 3 times a year usually. He has to be in hospital 3-4 days each time and it takes days to recover.<br>
He is usually hospitalised for pain crisis.<br>
He uses medications and thinks they help sometimes.<br>
Symptoms are pain.<br>
Pain is daily<br>
Pain is worsened in the colder weather and when he gets cold.<br>
Pain is in the joints of the body in different parts.<br>
Pain is daily and he usually daily but restrict functions only at exacerbations.<br>
He has crutches, walking stick and zimmer frame given to him by the Occupational Therapy when he had exacerbations in the past and only needs to use when he has exacerbations.<br>
He does not have any adaptations in the house for him.<br>
He indicates the condition has been the same in the last one year with him having.<br>
-<br>
Although the client has indicated pain in the kidney, he confirms that he has no renal problems.<br>
-<br>
Although client has mentioned anxiety and depression in the questionnaire, the client confirms he does not have any mental health problems.<br>
-<br>
Client confirms he has no other medical problems apart from the ones mentioned.<br>

            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Current medication or treatment
            </dt>
            <dd class="govuk-summary-list__value">
              Paracetamol (for pain) – 1g four times daily.<br>
              Folic Acid (For sickle cell disease) 5mg two times daily<br>
              Penicillin (for sickle cell disease) - 250 mg daily<br>
              Morphine sulphate (for pain) – 40mg up to four times a day when required.<br>
              Ibuprofen (for pain) – 400 mg 3 times a day.<br>
              Oramorph solution (for pain) – 10mg/5mls – 20mls 3 times a week.<br>
              <br>
              Side effects<br>
              <br>
              Indicates some of the medications make him feel occasionally weak tired exhausted, faint and itchy but he is able to carry on with his daily activity despite this except in periods where he has his exacerbations.<br>
              Morphine gives him constipation but this is better now as he only takes the morphine when required.<br>
              GP monitors the medications.<br>
              <br>
              RV<br>
              GP last seen in 2020<br>
              PIP2 indicates he was Hospitalised Jan, Feb and March 2021 for four days each time.
                      </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Social and occupational history
            </dt>
            <dd class="govuk-summary-list__value">
              Evidence used<br>
              <br>
PIP2 dated 3/4/2021<br>
Discharge summary dated 26/1/2021.<br>
Action log.<br>
<br>
Dwelling<br>
Lives in a 3rd floor flat with mother and step father.<br>
There are lifts going up.<br>
He has a bath in the bathroom in the house and everything is on one level.<br>
<br>
Aids and appliances.<br>
He has a crutch, walking stick and zimmer frame which was given to him in the hospital after his crisis.<br>
<br>
Driving<br>
<br>
He does not drive. He can use public transport and taxis.<br>
He attended the appointment today coming to the assessment by himself using the underground. Journey took 50 minutes and he used the excalators without needing any help or walking aid.<br>
<br>
Occupation<br>
<br>
He last worked as a camera operator as he worked in the movie industry and he last did this yesterday and he does this everyday.<br>
This involves lifting equipment but does not carry the equipment but operates the camera<br>
He does this as often as he can and is able to do this most days except when he has exacerbations<br>
He also sings and is trying to become professional.<br>
<br>
Hobbies<br>
He is trying to learn the piano. Singing and making movies are also hobbies.<br>
<br>
Education<br>
He is doing a piano training at a music school close to where he lives.<br>
He goes to piano school Wednesdays. The lesson is an hour lesson.<br>
He went to main stream primary school and he has a diploma in film making.<br>
<br>
Leisure<br>
Spends time doing music and filming.<br>
He states he uses to be able to lift the filming equipment but not able to do that anymore.<br>
He has a friend who he does music with.<br>
He socialised with friend when they make music but this is in his home or at the friends studio.<br>
<br>
Shopping<br>
He can go to the local shop close to his house a few times a week to buy items such as bread and milk when he has money.<br>
Can spend money and manage his bills.<br>
Does not do big supermarket shopping as usually he has not a lot of money.<br>
<br>
Pets<br>
He has no pets.<br>
<br>
He is able to do some housework by himself and would wash the bathroom once a week and can tidy up regularly.
 </dd>
          </div>
        </dl>


          <!-- <h2 class="govuk-heading-l">Day to day life</h2> -->
      
            <h3 class="govuk-heading-m">Preparing food</h3>
          
            <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
              <dt class="govuk-summary-list__key">
                Notes on preparing food
             </dt>
              <dd class="govuk-summary-list__value">
                He can make his meals from scratch.<br>
He is learning to make meals and can make them since his mom got unwell.<br>
He can use the microwave oven and the cooker hub.<br>
He makes a meal daily.<br>
He can make hot drinks by himself.<br>
He mostly eats rice and stew daily and he is able to make this himself from scratch most days except during exacerbations.<br>
He is able to peel off the packets from the vegetables and can peel vegetables without any aid most days.<br>
Does not need any aids to prepare meals.<br>
No history of accidents in the kitchen.<br>
Indicates restrictions stated in PIP 2 is when he has the exacerbations every few months.<br>

              </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
              <dt class="govuk-summary-list__key">
                How well can the claimant cook food?
              </dt>
              <dd class="govuk-summary-list__value">
                Can prepare and cook a simple meal unaided
              </dd>
              </div>

            <div class="govuk-summary-list__row govuk-summary-list">
              <dt class="govuk-summary-list__key">
                What is the reason for this answer?
              </dt>
              <dd class="govuk-summary-list__value">
                Restrictions reported<br>
<br>
PIP2 – yes to condition affecting ability to prepare food.<br>
Impossible to prepare a meal as mother feeds him but has been unwell for 2 years.<br>
Cannot prepare food as cannot stand or sit due to kidney pain, asks friends to buy food sometimes if he has money. Doesn’t remember to eat. Mentions cannot shower and bathe.<br>
<br>
Recommendation and evidence used to support –<br>
Client is likely to be able to prepare a meal reliably on the majority of days.<br>
<br>
Although the condition history and PIP2 indicates client has restrictions as a result of the pain from his sickle cell disease, this is every few months when he has exacerbations and the functional history indicates client is able to make a meal from scratch most days and has been able to do that since his mother became unwell. This is consistent with the normal musculoskeletal examination and observed findings which were normal and the SOH that indicates the client is able to operate a camera, play music and is learning the piano.<br>
<br>
Reasons why the reported restrictions are not supported by evidence-<br>
Although the client indicates medications restrict functions, the SOH indicates client is able to function most days except when he has exacerbations and the Medications section indicates client is able to function despite side effects.<br>
<br>
Although he has mentioned he is unable to shower, this is not in the scope of the descriptor.<br>
<br>
Other descriptors supported by some evidence and the reasons why they haven’t been considered-<br>
Although the client indicates he forgets, the history does not indicate a mental health problem or cognitive problem and this is consistent with the FH that does not indicate any accidents in the kitchen.
</dd>              </dd>        
            </div>
          </dl>

          <h3 class="govuk-heading-m">Taking Nutrition    </h3>
          
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row govuk-summary-list--no-border">
            <dt class="govuk-summary-list__key">
              Notes on taking nutrition
           </dt>
            <dd class="govuk-summary-list__value">
              Can take nutrition and would eat except he has a crisis.<br>
He eats mostly once or twice a day.<br>
He has not lost weight in the last few years.<br>
He does not need help to feed outside when he has exacerbations.<br>
He can cut the food and take the food to the mouth, can chew food and can swallow food and drink.<br>
No history of choking.
        

            </dd>
          </div>
          <div class="govuk-summary-list__row govuk-summary-list--no-border">
            <dt class="govuk-summary-list__key">
              Which of these describes how well the claimant can take nutrition?
            </dt>
            <dd class="govuk-summary-list__value">
              Can take nutrition unaided
            </dd></div>

          <div class="govuk-summary-list__row govuk-summary-list">
            <dt class="govuk-summary-list__key">
              What is the reason for this answer?
            </dt>
            <dd class="govuk-summary-list__value">
              Restrictions reported<br>
PIP2- yes to conditions affecting eating and drinking and indicates he does not use a tube for<br>
Forgets to eat most times. Cannot cut food up because of pain and difficulty to sit sue to pain in the kidneys. Needs constant reminder to wake him up to eat and drink.<br>
Cannot prepare food, cutting peeling, cooking, warming food in microwave is painful due to pain in kidneys. Feels dizzy due to side effects of oxycodone.<br>
Has lost lots of weight.<br>
<br>
Recommendation and evidence used to support<br>
<br>
Client is likely to be able to take nutrition unaided reliably on the majority of days.<br>
<br>
Although the condition history and PIP2 indicates client has restrictions as a result of pain from his sickle cell disease, this is every few months when he has exacerbation aand the functional history indicates client is able to take nutrition daily. This is consistent with the normal musculoskeletal examination and observed findings which were normal and the SOH that indicates the client is able to operate a camera, play music and is learning the piano. The history also does not indicate a mental health problem or cognitive problem and this is consistent with the FH that client has not lost weight in the last few years and that the client has no mental health problem and does not need to be prompted for this. There is no history of choking on food.<br>
<br>
Reasons why the reported restrictions are not supported by evidence<br>
Although the client has indicated problems with mobilising, this is outside the scope of this descriptor.<br>
Also client has indicated drowsiness due to medication use, the medication section indicates client is able to carry on with daily activities despite this.<br>
<br>
Other descriptors supported by some evidence and the reasons why they haven’t been considered.<br>
            </dd>        
          </div>
        </dl>


        <h3 class="govuk-heading-m">Managing therapy</h3>
          
        <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Notes on managing therapy
         </dt>
          <dd class="govuk-summary-list__value">
            He has no problems with this.<br>
He is able to take tablets out of the packet and can take medications except when he has exacerbations which is once every few months.<br>
He does not need help with this.<br>
Not receiving therapy at home<br>
Does not need prompting to take medications.<br>
No sensory problems and has never overdosed or accidentally taken more dosage that prescribed.

          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Which of these describes how well the claimant can manage therapy or monitor a health condition?
          </dt>
          <dd class="govuk-summary-list__value">
            Either does not receive medication or therapy or need to monitor a health condition, or can manage medication or therapy or monitor a health condition unaided         </dd></div>

        <div class="govuk-summary-list__row govuk-summary-list">
          <dt class="govuk-summary-list__key">
            What is the reason for this answer?
          </dt>
          <dd class="govuk-summary-list__value">
            Restrictions reported<br>
PIP2- Yes<br>
Forgets to take medication due to pain. Needs to be reminded by mother to take medications.<br>
Aldo mentions breathing problems.<br>
<br>
Recommendation and evidence used to support<br>
<br>
Client is likely to be able to manage medications unaided reliably on the majority of days.<br>
<br>
Although the condition history and PIP2 indicates client has restrictions as a result of pain from his sickle cell disease, this is every few months when he has exacerbation and the functional history indicates client is able to take medications independently. This is consistent with the normal musculoskeletal examination and observed findings which were normal and the SOH that indicates the client is able to operate a camera, play music and is learning the piano. The history also does not indicate a mental health problem or cognitive problem and this is consistent with the FH that does not indicate any problems with accidental or deliberate overdosing.<br>
<br>
Reasons why the reported resrictions are not supported by evidence<br>
He has mentioned problems with mobility and washing himself and drinking and breathing but these are out of scope of this descriptor and history indicates these happen every few months.<br>
<br>
Other descriptors supported by some evidence and the reasons why they haven’t been considered.

          </dd>        
        </div>
      </dl>
       
        
      <h3 class="govuk-heading-m">Washing and bathing    </h3>
          
      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row govuk-summary-list--no-border">
        <dt class="govuk-summary-list__key">
          Notes on washing and bathing
       </dt>
        <dd class="govuk-summary-list__value">
          He is able to wash himself daily. He can get in and out of the bath himself on the majority of days.<br>
Can stand in the shower for 15 minutes and does not need an aide to wash and bathe.<br>
Can wash upper and lower parts of the body.<br>
Does not need aids to wash but would not wash when he has exacerbations every few months.<br>
No history of accidents in the bathroom.
 </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list--no-border">
        <dt class="govuk-summary-list__key">
          Which of these describes how well the claimant can wash and bathe?
        </dt>
        <dd class="govuk-summary-list__value">
          Can wash and bathe unaided        </dd></div>

      <div class="govuk-summary-list__row govuk-summary-list">
        <dt class="govuk-summary-list__key">
          What is the reason for this answer?
        </dt>
        <dd class="govuk-summary-list__value">
          Restrictions reported<br>
PIP2- yes<br>
Cannot and does not wash self for weeks on end. Cannot wash self and cannot change clothes due to tiredness weakness and drowsiness.<br>
Cannot stand or sit in the bath as may collapse<br>
<br>
Recommendation and evidence used to support<br>
Client is likely to be able to take wash and bathe unaided reliably on the majority of days.<br>
<br>
Although the condition history and PIP2 indicates client has restrictions as a result of pain from his sickle cell disease, this is every few months when he has exacerbation and the functional history indicates client is able to wash and bathe daily and can get unto and out of the bath independently. This is consistent with the normal musculoskeletal examination and observed findings which were normal and the SOH that indicates the client is able to operate a camera, play music and is learning the piano. The history also does not indicate a mental health problem or cognitive problem and this is consistent with the FH that client is able to wash self and does not need help or prompting for this except when there is exacerbations. FH also reports no history of accidents in the bathroom.<br>
<br>
Reasons why the reported restrictions are not supported by evidence<br>
<br>
Other descriptors supported by some evidence and the reasons why they haven’t been considered
        </dd>
        </dd>        
      </div>
    </dl>

    
    <h3 class="govuk-heading-m">Managing toilet needs    </h3>
          
    <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row govuk-summary-list--no-border">
      <dt class="govuk-summary-list__key">
        Notes on managing toilet needs
     </dt>
      <dd class="govuk-summary-list__value">
        Can evacuate bowels and can clean himself after and can get on and off the toilet after this.<br>
No incontinence and does not have to use continence pads.<br>
No change in bowel habits and can manage this independently.<br>
Does not use laxitives.<br>
He can manage when he has exacerbations but sometimes needs help to walk to the toilet.
   </div>
    <div class="govuk-summary-list__row govuk-summary-list--no-border">
      <dt class="govuk-summary-list__key">
        Which of these describes how well the claimant can manage toilet needs?
            </dt>
      <dd class="govuk-summary-list__value">
        Can manage toilet needs or incontinence unaided         </dd></div>

    <div class="govuk-summary-list__row govuk-summary-list">
      <dt class="govuk-summary-list__key">
        What is the reason for this answer?
      </dt>
      <dd class="govuk-summary-list__value">
        Restrictions reported<br>
PIP2-yes<br>
Needs hekp to wipe self, walk to the toilet and back and walks with a crutch or zimmer frame<br>
Challenge due to the pain in the kidneys. Strains to use the toilet as he does not eat a lot. Also forgets due to pain in the ribs and kidneys.<br>
<br>
Recommendation and evidence used to support<br>
<br>
It is likely the client is able to manage toilet needs unaided repeatedly and on the majority of the days.
Although the condition history and PIP2 indicates client has restrictions as a result of pain from his sickle cell disease, this is every few months when he has exacerbation and the functional history indicates client is able to evacuate bowels, clean after herself and can get on and off the toilet independently. Although he mentions constipation, FH indicates he is able to evacuate bowels and does not need to use laxatives. This is consistent with the normal musculoskeletal examination and observed findings which were normal and the SOH that indicates the client is able to operate a camera, play music and is learning the piano.<br>
<br>
Reasons why the reported restrictions are not supported by evidence<br>
<br>
Although client has indicated problems with with mobility affecting this, this si outside the scope of this descriptor.<br>
Although client has mentioned pain in the kidney, the CH indicates client confirms he does not have a renal problem.<br>
<br>
Other descriptors supported by some evidence and the reasons why they haven’t been considered<br>
The problems with mobility can be discussed under the descriptor 12
    </dd>        
    </div>
  </dl>

  <h3 class="govuk-heading-m">Dressing and undressing    </h3>
          
  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Notes on dressing and undressing
   </dt>
    <dd class="govuk-summary-list__value">
      Can dress and undress himself without aids and assistance.<br>
      Changes clothing daily.<br>
      Can dress independently.<br>
      Does not need aids or assistance for this.<br>
      When he has exacerbations, he hardly changes clothing due to pain but this is every few months.<br>
      Can put on clean clothes and does not need to be prompted to dress up and can pick own clothing.
      
    </dd></div>
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Which of these describes how well the claimant can dress and undress?
              </dt>
    <dd class="govuk-summary-list__value">
      Needs to use an aid or appliance to be able to dress or undress       </dd></div>

  <div class="govuk-summary-list__row govuk-summary-list">
    <dt class="govuk-summary-list__key">
      What is the reason for this answer?
    </dt>
    <dd class="govuk-summary-list__value">
      Restrictions reported<br>
PIP2 needs help to dress and takes long as cannot bend and does not use aids and this is all year round, does not use aids but gets help from mother helps to put clothes on.<br>
Mother helps to put clothes on and ambulance crew help to put on simple clothing before going to hospital<br>
<br>
Recommendation and evidence used to support<br>
<br>
Client is likely to be able to dress and undress repeatedly and to an acceptable standard.<br>
Although the condition history and PIP2 indicates client has restrictions as a result of pain from his sickle cell disease, this is every few months when he has exacerbation and the functional history indicates client is able to dress and undress independently. This is consistent with the normal musculoskeletal examination and observed findings which were normal and the SOH that indicates the client is able to operate a camera, play music and is learning the piano. <br>
<br>
Reasons why the reported restrictions are not supported by evidence <br>
<br>
Other descriptors supported by some evidence and the reasons why they haven’t been considered

    </dd>        
  </div>
</dl>


<h3 class="govuk-heading-m">Communicating verbally    </h3>
          
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Notes on communicating verbally
 </dt>
  <dd class="govuk-summary-list__value">
    He has no problem with hearing people and no one has reported problems understanding him.<br>
    He understands what he hears.<br>
    Able to speak to mother nad step father and friend and unfamiliar receptionist in the music school.<br>
    When he has exacerbations, he avoids talking and sometimes writes to communicate.
    
  </dd></div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these describes how well the claimant can communicate verbally?
            </dt>
  <dd class="govuk-summary-list__value">
    Can express and understand verbal information unaided </dd></div>

<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    What is the reason for this answer?
  </dt>
  <dd class="govuk-summary-list__value">
    Restrictions reported<br>
PIP2- cannot concentrate to listen or talk and gets slurred speech due to pain<br>
<br>
Recommendation and evidence used to support<br>
<br>
Client is likely to be able to express and understand verbal information unaided on the majority of days.<br>
<br>
Although the condition history and PIP2 indicates client has restrictions as a result of pain from his sickle cell disease, this is every few months when he has exacerbation and the functional history indicates client is able to communicate and understand communication unaided. This is consistent with the normal mental state examination and observed findings were normal and client was able to give a chronological history of his medical problems and the SOH that indicates the client is able to operate a camera, play music and is learning the piano with friend and can go on public transport and can go to music school. The history also does not indicate a mental health problem or cognitive problem or a sensory problem.<br>
<br>
It is likely that she can prepare and cook food unaided reliably on the majority of days.<br>
<br>
Reasons why the reported restrictions are not supported by evidence<br>
Although he indicates he writes to communicate, there are no reported cognitive problems in the condition history (CH) and the restrictions are only when he has exacerbations and are outside of this descriptor.<br>
<br>
Other descriptors supported by some evidnce and the reasons why they haven’t been considered

  </dd>        
</div>
</dl>



<h3 class="govuk-heading-m">Reading and understanding signs, symbols and words    </h3>
          
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Notes on reading and understanding signs, symbols and words
 </dt>
  <dd class="govuk-summary-list__value">
    He is able to read without any problems and he understands what he reads.<br>
    Able to read magazines and newspapers and can read signs on the roads.<br>
    Confirms he has no visual problems and does not use glasses.
    
  </dd></div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these describes how well the claimant can read and understand signs, symbols and words?            </dt>
  <dd class="govuk-summary-list__value">
    Can read and understand basic and complex written information either unaided or using spectacles or contact lenses </dd></div>

<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    What is the reason for this answer?
  </dt>
  <dd class="govuk-summary-list__value">
    Restrictions reported<br>
    <br>
PIP2<br>
Cannot concentrate to read.<br>
<br>
Recommendations and evidence used to support<br>
<br>
It is likely the client is able to read and understand simple and complex written information on the majority of days and to an acceptable standard indoors and outdoors.<br>
Although the condition history and PIP2 indicates client has restrictions as a result of pain from his sickle cell disease, functional history indicates client is able to read unaided indoors and outdoors independently. This is consistent with the observed findings and being able to give a chronological history of her history and the SOH that indicates the client is able to operate a camera, play music and is learning the piano. The history also does not indicate a mental health problem or a cognitive problem and this si consistent with the FH that does not indicate any problems with overdosing<br>
<br>
Reasons why the reported restrictions are not supported by evidence<br>
<br>
Other descriptors supported by some evidence and the reasons why they haven’t been considered<br>

  </dd>        
</div>
</dl>


<h3 class="govuk-heading-m">Engaging face to face    </h3>
          
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Notes on engaging face to face
 </dt>
  <dd class="govuk-summary-list__value">
    He has no problems with engaging with people. <br>
    He can engage with familiar and unfamiliar people.<br>
    Does not need help to engage with anyone.
    
  </dd></div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these describes how well the claimant can engage face to face?          </dt>
  <dd class="govuk-summary-list__value">
    Can engage with other people unaided</dd></div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    What is the reason for this answer?
  </dt>
  <dd class="govuk-summary-list__value">
    Restrictions reported<br>
    PIP2- Yes<br>
    Gets depressed full of anxiety and stress as he is house bound.<br>
    Does not go out and mostly stays in bed and listens to music<br>
    <br>
    Recommendation and evidence used to support<br>
    <br>
    Client is likely to engage with other people unaided repeatedly and to an acceptable standard on the majority of days.<br>
    <br>
    Although the condition history and PIP2 indicates client has restrictions as a result of pain from his sickle cell disease, the functional history indicates client is able to engage with familiar and unfamiliar people. This is consistent with the SOH that indicates the client is able to operate a camera, play music and is learning the piano. Although he has mentioned anxiety the condition history does not indicate a mental health problem or a cognitive problem and this is consistent with observations that the client was able to give a chronological history of the health problems and had a normal mental health examination assessment.<br>
    <br>
    Reasons why the reported restrictions are not supported by evidence<br>
    <br>
    Other descriptors supported by some evidence and the reasons why they haven’t been considered<br>
    <br>
    He has indicated that only his mother can help him communicate in the PIP 2 but he was able to give a chronological history at assessment, had normal mental state assessment and he attended the assessment centre alone without the support of his mother.
      </dd>        
</div>
</dl>


<h3 class="govuk-heading-m">Budgeting  </h3>
          
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Notes on budgeting
 </dt>
  <dd class="govuk-summary-list__value">
    He can handle his bills and budgets and can read letters he receives.<br>
    He can buy items in the shops.<br>
    Does not need help or prompting with this.
    
  </dd></div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these describes how well the claimant can budget?         </dt>
  <dd class="govuk-summary-list__value">
    Can manage complex budgeting decisions unaided
  </dd></div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    What is the reason for this answer?
  </dt>
  <dd class="govuk-summary-list__value">
    Restrictions reported<br>
    <br>
    PIP 2- Does not have any money to anage. Cannot concentrate and does not go out.<br>
    <br>
    Recommendation and evidence to support<br>
    Although the condition history and PIP2 indicates client has restrictions as a result of pain from his sickle cell disease, this is physical and this is every few months when he has exacerbation and the functional history indicates the client is able to manage complex and simple budgeting.<br>
    This is consistent with the normal mental health examinationnand good rapport at assessment, observed findings which were normal and the SOH that indicates the client is able to operate a camera, play music and is learning the piano. The history also does not indicate a mental health problem or a cognitive problem.<br>
    <br>
    Reasons why the reported restrictions are not supported by evidence<br>
    <br>
    Other descriptors supported by some evidence and the reasons why they haven’t been considered
    </dd>        
</div>
</dl>





<!-- <h2 class="govuk-heading-l">Mobility and getting around</h2> -->
      
<h3 class="govuk-heading-m">Planning and following journeys</h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Notes on planning and following journeys
 </dt>
  <dd class="govuk-summary-list__value">
    He does his singing and music at home<br>
    He is able to plan journeys.<br>
    He is able to walk to the piano school.<br>
    He goes to the friend’s studio 3 times a week.<br>
    He can go to unfamiliar places by himself<br>
    He can go on public transport to the friend studio.<br>
    He has attended the assessment today by himself and was able to plan the journey and attend by himself and he used the bus and the tube.
    
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these describes how well the claimant can plan and follow journeys?
  </dt>
  <dd class="govuk-summary-list__value">
    Can plan and follow the route of a journey unaided              </dd>
</div>

<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    What is the reason for this answer?
  </dt>
  <dd class="govuk-summary-list__value">
    Restrictions reported<br>
    PIP2-Yes<br>
    Doesn’t go out as very risky and dangerous. Stays at home all the time all day all week.<br>
    Cannot plan a journey and won’t go on a journey due to pain, lonliness and depression and stress and anxiety.<br>
    <br>
    Recommendation and evidence to support<br>
    Although the condition history and PIP2 indicates client has restrictions as a result of pain from his sickle cell disease, this is physical and this is every few months when he has exacerbation and the functional history indicates the client is able to plan journeys to the music school 3 times a day and was able to plan and attend the assessment at the assessment centre. This is consistent with the normal musculoskeletal examinations and observed findings which were normal and the SOH that indicates the client is able to operate a camera, play music and is learning the piano and can can go to the music studio 3 times a week and to other unfamiliar places by himself and the client has come to the assessment centre by himself. The history also does not indicate a mental health problem or a cognitive problem which is consistent with the normal mental state at face to face assessment on the date of the assessment.<br>
    <br>
    Reasons why the reported restrictions are not supported by evidence<br>
    <br>
    Other descriptors supported by some evidence and the reasons why they haven’t been considered
    
  </dd>        
</div>
</dl>


<h3 class="govuk-heading-m">Moving around</h3>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Notes on moving around
 </dt>
  <dd class="govuk-summary-list__value">
    He can walk about 15 minutes to the piano studio at a normal pace 3 times a week without a mobility aid.<br>
    He can walk to the piano school at a normal pace 15 minutes on Wednesdays without a mobility aid and without stopping.<br>
    He walked at a normal pace for 10 minutes from Marylebone station to the assessment centre today without a mobility aid.<br>
    Indicates the problems stated in a PIP2 is only when he has exacerbations once a few months and most of the days he is able to mobilise as stated here.
    
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these describes how well the claimant can move around?
  </dt>
  <dd class="govuk-summary-list__value">
    Can stand and then move more than 200 metres, either aided or unaided</dd>
</div>

<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    What is the reason for this answer?
  </dt>
  <dd class="govuk-summary-list__value">
    Restrictions reported<br>
    Walks less than 20m, uses crutches, zimmer frame, walking stick and mum helps to walk to toilet and back<br>
    Cannot walk without aids and with it very slow and uncomfortable and sometimes crawl on the floor to the loo. Suffers from anxiety and confusion, stress and drowsiness. Home bound.<br>
    <br>
    Unable to climb stairs.<br>
    <br>
    Recommendation and evidence to support<br>
    Although the condition history and PIP2 indicates client has restrictions as a result of pain from his sickle cell disease, this is physical and this is every few months when he has exacerbation and the functional history indicates the client is able to mobilise 15 minutes at a normal pace 4 times a week. This is consistent with the normal musculoskeletal examination and observed findings which were normal and the SOH that indicates the client is able to operate a camera, play music and is learning the piano. Also consistent is the normal observation at assessment and the client being able to mobilise 10 minutes at a normal pace from the train station to the assessment centre without a mobility aid and the normal musculoskeletal assessment at face to face assessment.<br>
    <br>
     Reasons why the reported restrictions are not supported by evidence<br>
     <br>
    Other descriptors supported by some evidence and the reasons why they haven’t been considered
    
  </dd>        
</div>
</dl>


  <!-- <h2 class="govuk-heading-l">Current condition</h2> -->

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Physical health
    </dt>
    <dd class="govuk-summary-list__value">
      Upper limb<br>
<br>
Neck<br>
Chin to chest: No gap<br>
Neck extension: 80 degrees or more (normal)<br>
Left neck rotation – 80 degrees or more (normal)<br>
Right neck rotation – 80 degrees or more (normal)<br>
Left ear towards shoulder – Yes<br>
Right ear towards shoulder – Yes<br>
<br>
Left upper arm<br>
Shoulder external rotation – 70 degrees (normal)<br>
Hands behind neck – fingers overlap midline.<br>
Hands behind back – Fingers to mid-scapula<br>
Shoulder abduction- 170 degrees (normal)<br>
<br>
Right upper arm<br>
Shoulder external rotation – 70 degrees (normal)<br>
Hands behind neck – fingers overlap midline.<br>
Hands behind back – Fingers to mid-scapula<br>
Shoulder abduction- 170 degrees (normal)<br>
<br>
Left forearm<br>
Wrist pronation: 70- 80 degrees (normal)<br>
Wrist supination - 70- 80 degrees (normal)<br>
Wrist-dorsiflexion- 30 degrees or more.<br>
Wrist palmar flexion: 30 degrees or more.<br>
Can touch all the fingers to the thumb on the left hand.<br>
<br>
Right forearm<br>
Wrist pronation: 70- 80 degrees (normal)<br>
Wrist supination - 70- 80 degrees (normal)<br>
Wrist-dorsiflexion- 30 degrees or more.<br>
Wrist palmar flexion: 30 degrees or more.<br>
Can touch all the fingers to the thumb on the right hand.<br>
<br>
Lower limbs<br>
<br>
Lower back<br>
Forward flexion- Mid shin<br>
Squat and rise – Full<br>
<br>
Left leg<br>
Straight leg raising: Normal (more than 70 degrees).<br>
Hip flexion: 130 degrees (normal)<br>
Knee flexion: 1209 (normal)<br>
Knee extension: Full<br>
External hip rotation: 45 degrees (normal)<br>
Ankle planter flexion: Normal (50 degrees)<br>
Ankle dorsiflexion: Normal (20 degrees)<br>
<br>
Right leg<br>
Straight leg raising: Normal (more than 70 degrees).<br>
Hip flexion: 130 degrees (normal)<br>
Knee flexion: 1209 (normal)<br>
Knee extension: Full<br>
External hip rotation: 45 degrees (normal)<br>
Ankle planter flexion: Normal (50 degrees)<br>
Ankle dorsiflexion: Normal (20 degrees)<br>

    </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list">
    <dt class="govuk-summary-list__key">
      Mental state
    </dt>
    <dd class="govuk-summary-list__value">
      Appearance<br>
      Tired: Normal<br>
      Grooming: Well kempt<br>
      Dress General: Well<br>
      Tremulous: Absent<br>
      Increased sweating: Absent<br>
      Complexion: Normal<br>
      <br>
      Behaviour<br>
      Activity Rocking: Absent<br>
      Facial Expression: Normal<br>
      Activity General: Normal<br>
      Coping at interview – Coped at interview<br>
      Arousal: Normal<br>
      Rapport: Adequate.<br>
      Eye contact: adequate eye contact.<br>
      <br>
      Speech<br>
      Amount: Normal.<br>
      Rate: Normal.<br>
      Volume: Normal.<br>
      Content: Normal.<br>
      <br>
      Mood<br>
      Demeanour – Normal.<br>
      <br>
      Cognition<br>
      Orientation: Oriented in time, place and person.<br>
      Prompting: Did not require prompting.<br>
      General Memory: Adequate<br>
      Concentration: Adequate<br>
      <br>
      Insight<br>
      Insight: Good
       
 </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list">
    <dt class="govuk-summary-list__key">
      Observations
    </dt>
    <dd class="govuk-summary-list__value">
      He was able to give a chronological history of her medical problems.<br>
      <br>
      Lower limb and back<br>
      Client rose 3 times from sitting in an upright chair (chair with arms) without physical assistance from another person.
      Stood independently for about 2 minutes without difficulty and without an aid.<br>
      Was able to get unto and off the couch without assistance.<br>
      Did not have difficulty using the step to get on and off the couch.<br>
      Did not appear to have any difficulty sitting for the 70 minute duration of the assessment.<br>
      Had normal gait walking the the 5 metres from the reception to the assessment room without using a mobility aid.<br>
      <br>
      Upper limb<br>
      All upper and lower limb movements appeared fluid and pain free.<br>
      <br>
      He was noted to wear several layers of clothes on.
      
 </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list">
    <dt class="govuk-summary-list__key">
      Variability
    </dt>
    <dd class="govuk-summary-list__value">
      Refer to the symptoms as indicated in the condition history for variability.
    </dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list">
    <dt class="govuk-summary-list__key">
      Has the claimant’s functional restriction lasted at least 3 months?
    </dt>
    <dd class="govuk-summary-list__value">
      </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list">
    <dt class="govuk-summary-list__key">
      Is the claimant likely to ave functional restrictions for at least 9 months?
    </dt>
    <dd class="govuk-summary-list__value">
      </dd>
       </div>
       <div class="govuk-summary-list__row govuk-summary-list">
        <dt class="govuk-summary-list__key">
          When should this claim be reviewed?
        </dt>
        <dd class="govuk-summary-list__value">
          No future assessments required
          </dd>
           </div>
           <div class="govuk-summary-list__row govuk-summary-list">
            <dt class="govuk-summary-list__key">
              Why should the claim be reviewed then?
            </dt>
            <dd class="govuk-summary-list__value">
              The client has had sickle cell disease for a long time, restrictions are only significant whenb he has exacerbations every few months and this has been stable for many years and medications and specialist input has not changed and has no specialist review or investigations pending. Although the client has restrictions, currently the restrictions do not cause any functional limitations.<br>
            <br>
            No review therefore appears appropriate.<br>
<br>
QP/PT<br>
<br>
The QP/PT for the daily living component is not applicable.<br>
<br>
The QP/PT for the mobility component is not applicable.<br>
<br>
It is likely that the functional restriction identified in this report will be present at the recommended point of review: Not applicable<br>
<br>
It is likely that the functional restriction identified in this report will be present at the recommended point of review: No it is unlikely.<br>
<br>
The claimant has a mental, intellectual or cognitive impairment and may need additional support to comply with future claim processes: NO it is unlikely<br>
<br>
I confirm that there is no harmful information included in this report.

              </dd>
               </div>
</dl>

<!-- 
<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Print report
</button>

        <form action="#" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

         
        </form> -->




      </div>
    </div>


{% endblock %}
