{% extends "layout-key-detail-bar.html" %}
{% block pageTitle %}
TextArea configurable component
{% endblock %}


{% block beforeContent %}

<a href="/corecomponents/Research/4Navigation/WCA-tasklist/TaskList" class="govuk-back-link">Back to Overview</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <span class="govuk-caption-l">govuk-caption-l</span>
    <h2 class="govuk-heading-l">govuk-heading-l</h2> -->

    <h1 class="govuk-heading-l">Physical assessment</h1>
    <div id="event-name-hint" class="govuk-hint">
      Select areas applicable for this assessment
    </div>
  
    <br>
    <ol class="app-task-list">
     
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">Physical assessment consent
      </h2>
      <ul class="app-task-list__items1">
        <!-- <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="#" aria-describedby="eligibility-status">
                        Consent required
                      </a>
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
                  </li> -->
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/corecomponents/Research/4Navigation/WCA-tasklist/physical-assessments/General-health/GeneralHealth" aria-describedby="read-declaration-status">
              Ask for consent
            </a>
          </span>
          {% if session['general-health'] %}
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          {% endif %}
        </li>
      </ul>
       

        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">General health
        </h2>
        <ul class="app-task-list__items1">
          <!-- <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="#" aria-describedby="eligibility-status">
                          Consent required
                        </a>
                      </span>
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
                    </li> -->
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/corecomponents/Research/4Navigation/WCA-tasklist/physical-assessments/General-health/GeneralHealth" aria-describedby="read-declaration-status">
                General health
              </a>
            </span>
            {% if session['general-health'] %}
            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            {% endif %}
          </li>
        </ul>
         


      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">Lower back and legs
      </h2>
      <ul class="app-task-list__items1">
        <!-- <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="#" aria-describedby="eligibility-status">
                        Consent required
                      </a>
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
                  </li> -->
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/corecomponents/Research/4Navigation/WCA-tasklist/physical-assessments/Lower-back-and-legs/lowerback" aria-describedby="read-declaration-status">
              Lower back
            </a>
          </span>
          {% if session['general-health'] %}
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/corecomponents/Research/4Navigation/WCA-tasklist/physical-assessments/Lower-back-and-legs/left-leg" aria-describedby="read-declaration-status">
              Left leg
            </a>
          </span>
          {% if session['leg-back'] %}
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/corecomponents/Research/4Navigation/WCA-tasklist/physical-assessments/Lower-back-and-legs/right-leg" aria-describedby="read-declaration-status">
              Right leg
            </a>
          </span>
          {% if session['neck-arms'] %}
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          {% endif %}
        </li>
      
      </ul>
  


      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">Neck and arms
      </h2>
      <ul class="app-task-list__items1">
        <!-- <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="#" aria-describedby="eligibility-status">
                        Consent required
                      </a>
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
                  </li> -->
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/corecomponents/Research/4Navigation/WCA-tasklist/physical-assessments/Neck-and-arms/neck" aria-describedby="read-declaration-status">
              Neck
            </a>
          </span>
          {% if session['general-health'] %}
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/corecomponents/Research/4Navigation/WCA-tasklist/physical-assessments/Neck-and-arms/right-upper-arm" aria-describedby="read-declaration-status">
              Left upper arm
            </a>
          </span>
          {% if session['leg-back'] %}
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/corecomponents/Research/4Navigation/WCA-tasklist/physical-assessments/Neck-and-arms/right-upper-arm" aria-describedby="read-declaration-status">
              Right upper arm
            </a>
          </span>
          {% if session['neck-arms'] %}
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/corecomponents/Research/4Navigation/WCA-tasklist/physical-assessments/Neck-and-arms/left-forearm" aria-describedby="read-declaration-status">
              Left forearm
            </a>
          </span>
          {% if session['neck-arms'] %}
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/corecomponents/Research/4Navigation/WCA-tasklist/physical-assessments/Neck-and-arms/right-forearm" aria-describedby="read-declaration-status">
              Right forearm
            </a>
          </span>
          {% if session['neck-arms'] %}
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          {% endif %}
        </li>
      
      </ul>



      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">Cardiovascular and respiratory
      </h2>
      <ul class="app-task-list__items1">
        <!-- <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="#" aria-describedby="eligibility-status">
                        Consent required
                      </a>
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
                  </li> -->
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/corecomponents/Research/4Navigation/WCA-tasklist/physical-assessments/Cardiovascular-and-respiratory/radial-pulse" aria-describedby="read-declaration-status">
              Radial pulse
            </a>
          </span>
          {% if session['general-health'] %}
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/corecomponents/Research/4Navigation/WCA-tasklist/physical-assessments/Cardiovascular-and-respiratory/LeftlegPerip" aria-describedby="read-declaration-status">
              Left leg peripheral circulation
            </a>
          </span>
          {% if session['leg-back'] %}
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/corecomponents/Research/4Navigation/WCA-tasklist/physical-assessments/Cardiovascular-and-respiratory/RightlegPerip" aria-describedby="read-declaration-status">
              Right leg peripheral circulation
            </a>
          </span>
          {% if session['neck-arms'] %}
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/corecomponents/Research/4Navigation/WCA-tasklist/physical-assessments/Cardiovascular-and-respiratory/blood-pressue" aria-describedby="read-declaration-status">
              Blood pressure
            </a>
          </span>
          {% if session['neck-arms'] %}
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/corecomponents/Research/4Navigation/WCA-tasklist/physical-assessments/Cardiovascular-and-respiratory/cardiac" aria-describedby="read-declaration-status">
              Cardiac
            </a>
          </span>
          {% if session['neck-arms'] %}
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/corecomponents/Research/4Navigation/WCA-tasklist/physical-assessments/Cardiovascular-and-respiratory/peakexpiration" aria-describedby="read-declaration-status">
              Peak expiration flow rate
            </a>
          </span>
          {% if session['neck-arms'] %}
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/corecomponents/Research/4Navigation/WCA-tasklist/physical-assessments/Cardiovascular-and-respiratory/breathlessness" aria-describedby="read-declaration-status">
              Breathlessness
            </a>
          </span>
          {% if session['neck-arms'] %}
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          {% endif %}
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/corecomponents/Research/4Navigation/WCA-tasklist/physical-assessments/Cardiovascular-and-respiratory/other-chest-sound-wheeze" aria-describedby="read-declaration-status">
              Other: chest sounds, wheeze

            </a>
          </span>
          {% if session['neck-arms'] %}
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          {% endif %}
        </li>
      </ul>


      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">Vision, speech and hearing
      </h2>
      <ul class="app-task-list__items1">
        <!-- <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="#" aria-describedby="eligibility-status">
                        Consent required
                      </a>
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
                  </li> -->
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/wca/general-health" aria-describedby="read-declaration-status">
              Vision, speech and hearing
            </a>
          </span>
          {% if session['general-health'] %}
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          {% endif %}
        </li>
      </ul>

      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">Central nervous system
      </h2>
      <ul class="app-task-list__items1">
        <!-- <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="#" aria-describedby="eligibility-status">
                        Consent required
                      </a>
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
                  </li> -->
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/wca/general-health" aria-describedby="read-declaration-status">
              Central nervous system
            </a>
          </span>
          {% if session['general-health'] %}
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          {% endif %}
        </li>
      </ul>




    </ol>
    <!-- <button class="govuk-button" data-module="govuk-button">
                Save and continue
              </button> -->
  </div>
  <div class="govuk-grid-column-two-thirds">
  </div>
{% endblock %}
