{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
Report has already been submitted
{% endblock %}


{% block beforeContent %}

{% endblock %}

{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">Report has already been submitted</h1>


        <p class="govuk-body">
          Return to the <a href="https://health-referral-status.herokuapp.com/state-model-mvp/v1/claimant-detail-report">referral information page</a> to update the status.
        </p>



      </div>
    </div>



{% endblock %}
