{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
Assessment has already been completed
{% endblock %}


{% block beforeContent %}
<a href="javascript:window.history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">Report has already been submitted</h1>


        <p class="govuk-body">
          Return to previous page and update the referral activity.
        </p>


      </div>
    </div>



{% endblock %}
