{% extends "layout.html" %}

{% block pageTitle %}
  Session did not load - Health Assessment Service
{% endblock %}




{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">Session not found</h1>


        <p class="govuk-body">

          If you have saved this web address, the address may no longer work. Reload the assessment you need from the health assessment start page.
  </p>
        <p class="govuk-body">
          If you reached this page by selecting a link or button within the Health Assessment Service, go to DWP Place and select the option to 'report an incident'.
        </p>


      </div>
    </div>



{% endblock %}
