{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  Heading with caption
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <span class="govuk-caption-l">Make your selection</span>
        <h2 class="govuk-heading-l">Choose the areas that you have considered relevant to the assessment</h2>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
