{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  Page template
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
  <!-- <span class="govuk-caption-l">Eating and drinking</span> -->
  <br>
    <br>
      <br>
        <br>

  <br>
    <br>
      <br>
        <br>
        <br>
          <br>
            <br>
              <br>

        <br>
          <br>
            <br>
              <br>
</div>
</div>





{% endblock %}
