{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  TextArea component
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
  <!-- <span class="govuk-caption-l">Eating and drinking</span> -->
<h2 class="govuk-heading-l">
  Mobilising and using steps
  </h2>

  <label class="govuk-label">
    Notes on mobilising and using steps
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
" aria-describedby="more-detail-hint"></textarea>


  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <label class="govuk-label">
          Choose the descriptor that's most appropriate to the claimant
        </label>
      </legend>

      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
          <label class="govuk-label govuk-radios__label" for="sign-in">
            (a)  Cannot mobilise more than 50 metres before they have to stop, or 50 metres repeatedly
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
          <label class="govuk-label govuk-radios__label" for="sign-in-2">
            (b) Cannot go up or down 2 steps, even if using a handrail
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sign-in-3" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-3-item-hint">
          <label class="govuk-label govuk-radios__label" for="sign-in-3">
            (c) Cannot mobilise more than 100 metres, or 100 metres repeatedly
          </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in-3" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-3-item-hint">
              <label class="govuk-label govuk-radios__label" for="sign-in-3">
                (d) Cannot mobilise more than 200 metres, or 200 metres repeatedly
              </label>
                </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sign-in-3" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-3-item-hint">
            <label class="govuk-label govuk-radios__label" for="sign-in-3">
              (e) None of the above
            </label>
        </div>
      </div>
    </fieldset>
  </div>

  <label class="govuk-label">
    Give details
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
" aria-describedby="more-detail-hint"></textarea>


</div>
</div>

<button class="govuk-button" data-module="govuk-button">
  Save
</button>



{% endblock %}
