{% extends "layout.html" %}

{% block pageTitle %}
You have been signed out – Health Assessment Service
{% endblock %}



{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">You are signed out</h1>
    

        <p class="govuk-body">
          You were signed out because you did not save any information for 3 hours.
        </p>

        <p class="govuk-body">
          We can only save while you are signed in, so we have not saved the last page.
        </p>
    
        <p class="govuk-body">
          You can return to the  <a href="#" class="govuk-link">Health Assessment Service start page</a> to sign back in again.    </p>
        

<p class="govuk-body">
If the problem persists, go to <a href="#" class="govuk-link">DWP Place (opens in new tab)</a> and select the option to ‘report an incident’.
</p>
      </div>
    </div>
  


{% endblock %}
