{% extends "layout.html" %}

{% block pageTitle %}
Sorry, there is a problem – Health Assessment Service
{% endblock %}



{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">Sorry, there is a problem</h1>
    

        <p class="govuk-body">
          Try again. This is a temporary problem and should be fixed soon.
        </p>

        <p class="govuk-body">
          If you wrote or selected something on the previous page, it might not be saved.
         </p>
     <br>
     <br>
        <p class="govuk-body">
Go to the  <a href="#" class="govuk-link">Health Assessment Service start page</a>.</p>
        
<br>
<p class="govuk-body">
If the problem persists, go to <a href="#" class="govuk-link">DWP Place (opens in new tab)</a> and select the option to ‘report an incident’.
</p>
      </div>
    </div>
  


{% endblock %}
