{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  Question page
{% endblock %}


{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">
    <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
    <form class="form" action="/corecomponents/Research/2Navigation/pip-tasklist/12-Draft-report" method="post">
    {% from "govuk/components/panel/macro.njk" import govukPanel %}

{{ govukPanel({
  titleText: "Consultation complete",
  html: "Duration<br><strong>00:47:35</strong>"
}) }}

    <p>You can still add or amend any of the information captured as part of your review.</p>
    <br>
    <br>
    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
    text: "Review the report"

    }) }}

  </div>

</div>

</main>
</div>

{% endblock %}
