{% extends "layout.html" %}

{% block pageTitle %}
Work capability assessment report
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

  <span class="govuk-caption-xl">Personal Independence Payment</span>

        <h1 class="govuk-heading-xl">Health assessment report</h1>

        <br>

        <h2 class="govuk-heading-l">Claimant details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              John Doe
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              QQ 12 34 56 X
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              31 December 1999
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Benefit type
            </dt>
            <dd class="govuk-summary-list__value">
              Personal Independence Payment
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date assessment was completed
            </dt>
            <dd class="govuk-summary-list__value">
              3 March 2021
            </dd>
          </div>
       
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name of Healthcare Professional
            </dt>
            <dd class="govuk-summary-list__value">
              Jane Jones
            </dd>
          </div>
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email of Healthcare Professional
            </dt>
            <dd class="govuk-summary-list__value">
              jjones@email.com
            </dd>
          </div> -->
        </dl>




          <h2 class="govuk-heading-l">Health assessment</h2>
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How was the assessment conducted
            </dt>
            <dd class="govuk-summary-list__value">
              Telephone
            </dd>
          </div>
          </dl>
  
    <!-- <h3 class="govuk-heading-m">Additional attendees
    </h3> -->
    <h3 class="govuk-heading-m">Additional attendees
    </h3>
  
    <dl class="govuk-summary-list">
  
  
    <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__key">
        Attendee 1
      </dt>
      <dd class="govuk-summary-list__value">
        Name: Jayne Helper<br>Relationship to claimant: Support worker
      </dd>
    </div>
  <!-- <h3 class="govuk-heading-s">Additional attendee 2
  </h3> -->
  


  
  







         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              History of condition
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Current medication or treatment
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Social and occupational history
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </dl>


          <!-- <h2 class="govuk-heading-l">Day to day life</h2> -->
      
            <h3 class="govuk-heading-m">Preparing food</h3>
          
            <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
              <dt class="govuk-summary-list__key">
                Notes on preparing food
             </dt>
              <dd class="govuk-summary-list__value">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
             </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
              <dt class="govuk-summary-list__key">
                How well can the claimant cook food?
              </dt>
              <dd class="govuk-summary-list__value">
                Needs to use an aid or appliance to be able to either prepare or cook a simple meal
              </dd>
              </div>

            <div class="govuk-summary-list__row govuk-summary-list">
              <dt class="govuk-summary-list__key">
                What is the reason for this answer?
              </dt>
              <dd class="govuk-summary-list__value">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
          </dl>

          <h3 class="govuk-heading-m">Taking Nutrition    </h3>
          
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row govuk-summary-list--no-border">
            <dt class="govuk-summary-list__key">
              Notes on taking nutrition
           </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
           
            </dd>
          </div>
          <div class="govuk-summary-list__row govuk-summary-list--no-border">
            <dt class="govuk-summary-list__key">
              Which of these describes how well the claimant can take nutrition?
            </dt>
            <dd class="govuk-summary-list__value">
              Can take nutrition unaided
            </dd></div>

          <div class="govuk-summary-list__row govuk-summary-list">
            <dt class="govuk-summary-list__key">
              What is the reason for this answer?
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </dd>        
          </div>
        </dl>


        <h3 class="govuk-heading-m">Managing therapy    </h3>
          
        <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Notes on managing therapy
         </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Which of these describes how well the claimant can manage therapy or monitor a health condition?
          </dt>
          <dd class="govuk-summary-list__value">
Needs to use an aid or appliance to be able to manage medication, or needs supervision, prompting or assistance to be able to manage medication, or needs supervision, prompting or assistance to be able to monitor a health condition          </dd></div>

        <div class="govuk-summary-list__row govuk-summary-list">
          <dt class="govuk-summary-list__key">
            What is the reason for this answer?
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </dd>        
        </div>
      </dl>
       
        
      <h3 class="govuk-heading-m">Washing and bathing    </h3>
          
      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row govuk-summary-list--no-border">
        <dt class="govuk-summary-list__key">
          Notes on washing and bathing
       </dt>
        <dd class="govuk-summary-list__value">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      <div class="govuk-summary-list__row govuk-summary-list--no-border">
        <dt class="govuk-summary-list__key">
          Which of these describes how well the claimant can wash and bathe?
        </dt>
        <dd class="govuk-summary-list__value">
          Needs to use an aid or appliance to be able to wash or bathe         </dd></div>

      <div class="govuk-summary-list__row govuk-summary-list">
        <dt class="govuk-summary-list__key">
          What is the reason for this answer?
        </dt>
        <dd class="govuk-summary-list__value">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </dd>        
      </div>
    </dl>

    
    <h3 class="govuk-heading-m">Managing toilet needs    </h3>
          
    <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row govuk-summary-list--no-border">
      <dt class="govuk-summary-list__key">
        Notes on managing toilet needs
     </dt>
      <dd class="govuk-summary-list__value">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </dd>
      </div>
        <div class="govuk-summary-list__row govuk-summary-list--no-border">
      <dt class="govuk-summary-list__key">
        Which of these describes how well the claimant can manage toilet needs?
            </dt>
      <dd class="govuk-summary-list__value">
        Needs to use an aid or appliance to be able to wash or bathe         </dd></div>

    <div class="govuk-summary-list__row govuk-summary-list">
      <dt class="govuk-summary-list__key">
        What is the reason for this answer?
      </dt>
      <dd class="govuk-summary-list__value">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
  </dl>

  <h3 class="govuk-heading-m">Dressing and undressing    </h3>
          
  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Notes on dressing and undressing
   </dt>
    <dd class="govuk-summary-list__value">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </dd></div>
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Which of these describes how well the claimant can dress and undress?
              </dt>
    <dd class="govuk-summary-list__value">
      Needs to use an aid or appliance to be able to dress or undress       </dd></div>

  <div class="govuk-summary-list__row govuk-summary-list">
    <dt class="govuk-summary-list__key">
      What is the reason for this answer?
    </dt>
    <dd class="govuk-summary-list__value">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </dd>        
  </div>
</dl>


<h3 class="govuk-heading-m">Communicating verbally    </h3>
          
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Notes on communicating verbally
 </dt>
  <dd class="govuk-summary-list__value">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </dd></div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these describes how well the claimant can communicate verbally?
            </dt>
  <dd class="govuk-summary-list__value">
    Can express and understand verbal information unaided </dd></div>

<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    What is the reason for this answer?
  </dt>
  <dd class="govuk-summary-list__value">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
           </dd>        
</div>
</dl>


<h3 class="govuk-heading-m">Communicating verbally    </h3>
          
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Notes on communicating verbally
 </dt>
  <dd class="govuk-summary-list__value">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
  </dd></div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these describes how well the claimant can communicate verbally?
            </dt>
  <dd class="govuk-summary-list__value">
    Can express and understand verbal information unaided </dd></div>

<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    What is the reason for this answer?
  </dt>
  <dd class="govuk-summary-list__value">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </dd>        
</div>
</dl>


<h3 class="govuk-heading-m">Reading and understanding signs, symbols and words    </h3>
          
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Notes on reading and understanding signs, symbols and words
 </dt>
  <dd class="govuk-summary-list__value">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
  </dd></div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these describes how well the claimant can read and understand signs, symbols and words?            </dt>
  <dd class="govuk-summary-list__value">
    Can read and understand basic and complex written information either unaided or using spectacles or contact lenses </dd></div>

<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    What is the reason for this answer?
  </dt>
  <dd class="govuk-summary-list__value">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </dd>        
</div>
</dl>


<h3 class="govuk-heading-m">Engaging face to face    </h3>
          
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Notes on engaging face to face
 </dt>
  <dd class="govuk-summary-list__value">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </dd></div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these describes how well the claimant can engage face to face?          </dt>
  <dd class="govuk-summary-list__value">
    Can engage with other people unaided</dd></div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    What is the reason for this answer?
  </dt>
  <dd class="govuk-summary-list__value">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </dd>        
</div>
</dl>


<h3 class="govuk-heading-m">Budgeting  </h3>
          
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Notes on budgeting
 </dt>
  <dd class="govuk-summary-list__value">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </dd></div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these describes how well the claimant can budget?         </dt>
  <dd class="govuk-summary-list__value">
    Can manage complex budgeting decisions unaided
  </dd></div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    What is the reason for this answer?
  </dt>
  <dd class="govuk-summary-list__value">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </dd>        
</div>
</dl>





<!-- <h2 class="govuk-heading-l">Mobility and getting around</h2> -->
      
<h3 class="govuk-heading-m">Planning and following journeys</h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Notes on planning and following journeys
 </dt>
  <dd class="govuk-summary-list__value">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these describes how well the claimant can plan and follow journeys?
  </dt>
  <dd class="govuk-summary-list__value">
    Can plan and follow the route of a journey unaided              </dd>
</div>

<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    What is the reason for this answer?
  </dt>
  <dd class="govuk-summary-list__value">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
           
  </dd>        
</div>
</dl>


<h3 class="govuk-heading-m">Moving around</h3>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Notes on moving around
 </dt>
  <dd class="govuk-summary-list__value">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these describes how well the claimant can move around?
  </dt>
  <dd class="govuk-summary-list__value">
    Can plan and follow the route of a journey unaided </dd>
</div>

<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    What is the reason for this answer?
  </dt>
  <dd class="govuk-summary-list__value">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
           
  </dd>        
</div>
</dl>


  <!-- <h2 class="govuk-heading-l">Current condition</h2> -->

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Physical health
    </dt>
    <dd class="govuk-summary-list__value">
      Telephone assessment completed and therefore unable to complete
    </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list">
    <dt class="govuk-summary-list__key">
      Mental state
    </dt>
    <dd class="govuk-summary-list__value">
N/a   
 </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list">
    <dt class="govuk-summary-list__key">
      Observations
    </dt>
    <dd class="govuk-summary-list__value">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list">
    <dt class="govuk-summary-list__key">
      Variability
    </dt>
    <dd class="govuk-summary-list__value">
      N/a
    </dd>
  </div>
</dl>






<dl class="govuk-summary-list"></dl>
  <h3 class="govuk-heading-m">When does this claim need to be reviewed?
  </h3>

  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      When should the next review be?
    </dt>
    <dd class="govuk-summary-list__value">
      18 months </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list">
    <dt class="govuk-summary-list__key">
      Give details
    </dt>
    <dd class="govuk-summary-list__value">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </dd>
       </div>
</dl>

<!-- 
<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Print report
</button>

        <form action="#" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

         
        </form> -->




      </div>
    </div>


{% endblock %}
