{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  TextArea component
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#Dorsalis">State findings detail for Dorsalis pedis pulse</a>
              </li>
              <li>
                <a href="#Oedema">State findings detail for Oedema</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Left Leg Peripheral Circulation
              </h1>
            </legend>
            <div id="citizenship-conditional-hint" class="govuk-hint">
              Select the examination you want to complete
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox" value="email" checked="checked" data-aria-controls="conditional-citizenship-conditional">
                <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                  Dorsalis pedis pulse
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional">
                <div class="govuk-form-group govuk-form-group--error">
                  <label class="govuk-label" for="contact-by-email">
                    State your findings
                  </label>
                  <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> State findings detail for Dorsalis pedis pulse
            </span>
                  <textarea class="govuk-textarea" id="Dorsalis" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" checked="checked" data-aria-controls="conditional-citizenship-conditional-2">
                <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                  Oedema
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-2">
                <div class="govuk-form-group govuk-form-group--error">
                  <label class="govuk-label" for="contact-by-phone">
                    State your findings
                  </label>
                  <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> State findings detail for Oedema
            </span>
                    <textarea class="govuk-textarea" id="Oedema" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                  </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="citizenship-conditional-3" name="citizen" type="checkbox" value="text message" data-aria-controls="conditional-citizenship-conditional-3">
                <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-3">
                  Varicose veins
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-3">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-text">
                    State your findings
                  </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                    </div>

              </div>
            </div>

          </fieldset>
        </div>

</div>
</div>

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>



{% endblock %}
