{% extends "layout.html" %}

{% block pageTitle %}
Work capability assessment report
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

  <!-- <span class="govuk-caption-l">Eating and drinking</span> -->

        <h1 class="govuk-heading-l">Personal Independence Payment assessment report</h1>

        <br>

        <h2 class="govuk-heading-l">Claimant details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Jake Perrier
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              RN 65 43 21 X
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              31 December 1997
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Benefit type
            </dt>
            <dd class="govuk-summary-list__value">
              Personal Independence Payment
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of assessment
            </dt>
            <dd class="govuk-summary-list__value">
              9 April 2021
            </dd>
          </div>
       
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name of Healthcare Professional
            </dt>
            <dd class="govuk-summary-list__value">
              Capita HCP
            </dd>
          </div>
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email of Healthcare Professional
            </dt>
            <dd class="govuk-summary-list__value">
              jjones@email.com
            </dd>
          </div> -->
        </dl>




          <h2 class="govuk-heading-l">Health assessment</h2>
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How was the assessment conducted
            </dt>
            <dd class="govuk-summary-list__value">
              Telephone
            </dd>
          </div>
          </dl>
  
    <!-- <h3 class="govuk-heading-m">Additional attendees
    </h3> -->
    <h3 class="govuk-heading-m">Additional attendees
    </h3>
  
    <dl class="govuk-summary-list">
  
  
    <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__key">
        Attendee 1
      </dt>
      <dd class="govuk-summary-list__value">
        Name: [blank – not sure how this will display if not entered]<br>Relationship to claimant: [blank – not sure how this will display if not entered]
      </dd>
    </div>
  <!-- <h3 class="govuk-heading-s">Additional attendee 2
  </h3> -->

</dl>

  <h3 class="govuk-heading-m">History of condition
    </h3>
         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              History of condition
            </dt>
            <dd class="govuk-summary-list__value">
              Medical Evidence: Date unknown. Cardiology letter confirms condition, however it is currently being monitored without medication. Claimant Questionnaire (CQ) dated 15/06/2020
              <br><br>Primary condition: Paroxysmal Atrial Fibrillation since 2003. Diagnosed by a consultant following scans. Symptoms include erratic heartbeat and shortness of breath. Will have an episode every day. these episodes will last 5- 10 minutes and the frequency of these can vary day to day. these can happen upto 10 times per week. He will not feel any symptoms prior to an episode and does not believe there to be any triggers, but following these episode he will faint and will feel anxious about falling (has never fallen). Will feel tired after an episode and will finish work early due to this. Not currently treated with medication. Has had medication in the past but stopped this following a discussion with consultant due to the side effects this caused. Side effects stomach cramps. This condition also causes a feeling of anxiety due to the worry of an onset of symptoms. Has spoken to GP but no treatment or medication required at this time.
            </dd>
          </div>

  <h3 class="govuk-heading-m">Current medication or treatment
          </h3>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Current medication or treatment
            </dt>
              <dd class="govuk-summary-list__value">
              No medication noted on CQ and no medication reported during assessment. 
              <br><br>Previously took anticoagulant medication but stopped this 3 years ago due to side effects. This was discussed with the consultant.
              </dd>
          </div>
          <div class="govuk-summary-list__row">

  
  <h3 class="govuk-heading-m">Social and occupational history
            </h3>

            <dt class="govuk-summary-list__key">
              Social and occupational history
            </dt>
              <dd class="govuk-summary-list__value">
                lives in a house with his mother, father and 2 siblings (both under 18 years of age). there is one flight and has a bathroom upstairs. There is a bath and a separate shower upstairs and a toilet downstairs. No aids or appliances. his bedroom is on the ground floor to avoid using the stairs. he will avoid the stairs due to a worry of having an episode at the top of the stairs. This has not happened in the past. 
                <br><br>Currently self employed as an accountant. He works from home, with an office space in his bedroom and this job involves talking to clients on the telephone and using the computer to process work. He works monday to Friday - 9 to 5. 
                <br><br>enjoys listening to music and has played the piano since he was a child. this was self taught. He enjoys reading reference books and ways of understanding how things work. With listen to poetry on You tube and the radio. Will visit restraunts with family and will enjoy family walks to the beach. He will walk two jack Russell terriers. Will walk the dogs before work and will feed them. This walk takes approximately 15 mins. 
                <br><br>does have a manual driving license but would find it easier to get a taxi rather than driving. this is due to the business of the roads and struggles with parking. 
                <br><br>no longer leaves the home as much as he used to due to a fear of having an episode. However, he does leave the house everyday, but will tell his family where he is going and how long he will be.
              </dd>
          </div>
        


          <!-- <h2 class="govuk-heading-l">Day to day life</h2> -->
      
            <h3 class="govuk-heading-m">Preparing food</h3>
          
            <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
              <dt class="govuk-summary-list__key">
                Notes on preparing food
             </dt>
              <dd class="govuk-summary-list__value">
                Pass out/ SOB. uses microwave. Is able to prepare food and is able to use the oven and microwave. He is able to use ready meals, is able to cook a meal from scratch. Worries when food is on the hob, in case he has an episode and falls in the kitchen. This has not happened to date.
              </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
              <dt class="govuk-summary-list__key">
                How well can the claimant cook food?
              </dt>
              <dd class="govuk-summary-list__value">
                Can prepare and cook a simple meal unaided
              </dd>
              </div>

            <div class="govuk-summary-list__row govuk-summary-list">
              <dt class="govuk-summary-list__key">
                What is the reason for this answer?
              </dt>
                <dd class="govuk-summary-list__value">
                  Claimant Questionnaire states restrictions due to lightheaded and shortness of breath. The Functional history identifies that despite episodes of breathlessness, this has not happened when cooking in the past and he is able to prepare a meal. It is likely that he can reliably prepare a meal unaided.
                  <br><br>Although History of conditions and the Further Medical Evidence confirm a diagnosis of the condition, they also highlight that no medication or treatment is required at present. Variability shows symptoms are present for up to 10 minutes per day. Social and Occupational history also shows he is able to work full time with no restrictions and walk his dogs every day.
                  <br><br>Aids were considered for this activity, however based on the available evidence, there is minimal information to support a restriction is present on the majority of days. Therefore 1A has been selected.
                </dd>              </dd>        
            </div>
          </dl>

          <h3 class="govuk-heading-m">Taking Nutrition    </h3>
          
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row govuk-summary-list--no-border">
            <dt class="govuk-summary-list__key">
              Notes on taking nutrition
           </dt>
            <dd class="govuk-summary-list__value">
              no restriction
            </dd>
          </div>
          <div class="govuk-summary-list__row govuk-summary-list--no-border">
            <dt class="govuk-summary-list__key">
              Which of these describes how well the claimant can take nutrition?
            </dt>
            <dd class="govuk-summary-list__value">
              Can take nutrition unaided
            </dd></div>

          <div class="govuk-summary-list__row govuk-summary-list">
            <dt class="govuk-summary-list__key">
              What is the reason for this answer?
            </dt>
            <dd class="govuk-summary-list__value">
              *Not completed due to time. Imagine same level of justification given for ‘preparing food’
            </dd>        
          </div>
        </dl>


        <h3 class="govuk-heading-m">Managing therapy    </h3>
          
        <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Notes on managing therapy
         </dt>
          <dd class="govuk-summary-list__value">
            not currently taking meds due to side effects. Would take ad hoc medication as required and would take this as prescribed on the packaging.
          </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Which of these describes how well the claimant can manage therapy or monitor a health condition?
          </dt>
          <dd class="govuk-summary-list__value">
            Either – (i) does not receive medication or therapy or need to monitor a health condition; or can manage medication or therapy or monitor a health condition unaided.
          </dd></div>

        <div class="govuk-summary-list__row govuk-summary-list">
          <dt class="govuk-summary-list__key">
            What is the reason for this answer?
          </dt>
          <dd class="govuk-summary-list__value">
            *Not completed due to time. Imagine same level of justification given for ‘preparing food’
          </dd>        
        </div>
      </dl>
       
        
      <h3 class="govuk-heading-m">Washing and bathing    </h3>
          
      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row govuk-summary-list--no-border">
        <dt class="govuk-summary-list__key">
          Notes on washing and bathing
       </dt>
        <dd class="govuk-summary-list__value">
          Will have a shower every day and maybe a bath once a week. Would rather have a shower than a bath due to a fear of having an episode in the bath. This has not happened to date. Is able to wash all his body and hair. Will leave the door open in fear of having an episode when in the shower.
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list--no-border">
        <dt class="govuk-summary-list__key">
          Which of these describes how well the claimant can wash and bathe?
        </dt>
        <dd class="govuk-summary-list__value">
          Can wash and bathe unaided
        </dd>
      </div>

      <div class="govuk-summary-list__row govuk-summary-list">
        <dt class="govuk-summary-list__key">
          What is the reason for this answer?
        </dt>
        <dd class="govuk-summary-list__value">
          *Not completed due to time. Imagine same level of justification given for ‘preparing food’
        </dd>
        </dd>        
      </div>
    </dl>

    
    <h3 class="govuk-heading-m">Managing toilet needs    </h3>
          
    <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row govuk-summary-list--no-border">
      <dt class="govuk-summary-list__key">
        Notes on managing toilet needs
     </dt>
      <dd class="govuk-summary-list__value">
        no restriction
      </div>
    <div class="govuk-summary-list__row govuk-summary-list--no-border">
      <dt class="govuk-summary-list__key">
        Which of these describes how well the claimant can manage toilet needs?
            </dt>
      <dd class="govuk-summary-list__value">
        Can manage toilet needs or incontinence unaided         </dd></div>

    <div class="govuk-summary-list__row govuk-summary-list">
      <dt class="govuk-summary-list__key">
        What is the reason for this answer?
      </dt>
      <dd class="govuk-summary-list__value">
        *Not completed due to time. Imagine same level of justification given for ‘preparing food’     </dd>        
    </div>
  </dl>

  <h3 class="govuk-heading-m">Dressing and undressing    </h3>
          
  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Notes on dressing and undressing
   </dt>
    <dd class="govuk-summary-list__value">
      sometime lightheaded when bending Is able to dress and undress with out difficulties, but will sit on the bed to put his socks on. He does this due to a fear of becoming dizzy. this has happened in the past, but quotes it is 'nothing remarkable'
    </dd></div>
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Which of these describes how well the claimant can dress and undress?
              </dt>
    <dd class="govuk-summary-list__value">
      Can dress and undress unaided       </dd></div>

  <div class="govuk-summary-list__row govuk-summary-list">
    <dt class="govuk-summary-list__key">
      What is the reason for this answer?
    </dt>
    <dd class="govuk-summary-list__value">
      *Not completed due to time. Imagine same level of justification given for ‘preparing food’
    </dd>        
  </div>
</dl>


<h3 class="govuk-heading-m">Communicating verbally    </h3>
          
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Notes on communicating verbally
 </dt>
  <dd class="govuk-summary-list__value">
    no restrictions. Is able to talk on the phone with people in work and will communicate socially.
  </dd></div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these describes how well the claimant can communicate verbally?
            </dt>
  <dd class="govuk-summary-list__value">
    Can express and understand verbal information unaided </dd></div>

<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    What is the reason for this answer?
  </dt>
  <dd class="govuk-summary-list__value">
    *Not completed due to time. Imagine same level of justification given for ‘preparing food’
  </dd>        
</div>
</dl>


<h3 class="govuk-heading-m">Reading and understanding signs, symbols and words</h3>
          
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Notes on reading and understanding signs, symbols and words
 </dt>
  <dd class="govuk-summary-list__value">
    no restrictions. he enjoys reading reference books and will read paperwork as part of his job.
  </dd></div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these describes how well the claimant can read and understand signs, symbols and words?
            </dt>
  <dd class="govuk-summary-list__value">
    Can read and understand basic and complex written information either unaided or using spectacles or contact lenses</dd></div>

<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    What is the reason for this answer?
  </dt>
  <dd class="govuk-summary-list__value">
    *Not completed due to time. Imagine same level of justification given for ‘preparing food’
  </dd>        
</div>
</dl>


<h3 class="govuk-heading-m">Engaging face to face    </h3>
          
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Notes on engaging face to face
 </dt>
  <dd class="govuk-summary-list__value">
    anxiety = feels safer at home, due to risk of fainting worries he will have an episode outside the home and fears embarriment. This last happened in the park several months ago. This involved a feeling of irregular heart beating, was able to sit on a near bench for upto 15 mins to recover. following this recovery, he was able to continue his activity.
  </dd></div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these describes how well the claimant can engage face to face?          </dt>
  <dd class="govuk-summary-list__value">
    Can engage with other people unaided</dd></div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    What is the reason for this answer?
  </dt>
  <dd class="govuk-summary-list__value">
    *Not completed due to time. Imagine same level of justification given for ‘preparing food’</dd>        
</div>
</dl>


<h3 class="govuk-heading-m">Budgeting  </h3>
          
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Notes on budgeting
 </dt>
  <dd class="govuk-summary-list__value">
    no restrictions
  </dd></div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these describes how well the claimant can budget?         </dt>
  <dd class="govuk-summary-list__value">
    Can manage complex budgeting decisions unaided
  </dd></div>
<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    What is the reason for this answer?
  </dt>
  <dd class="govuk-summary-list__value">
    *Not completed due to time. Imagine same level of justification given for ‘preparing food’</dd>        
</div>
</dl>





<!-- <h2 class="govuk-heading-l">Mobility and getting around</h2> -->
      
<h3 class="govuk-heading-m">Planning and following journeys</h3>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Notes on planning and following journeys
 </dt>
  <dd class="govuk-summary-list__value">
    is able to plan and follow any journey he needs complete without restriction.
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these describes how well the claimant can plan and follow journeys?
  </dt>
  <dd class="govuk-summary-list__value">
    Can plan and follow the route of a journey unaided              </dd>
</div>

<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    What is the reason for this answer?
  </dt>
  <dd class="govuk-summary-list__value">
    *Not completed due to time. Imagine same level of justification given for ‘preparing food’
  </dd>        
</div>
</dl>


<h3 class="govuk-heading-m">Moving around</h3>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Notes on moving around
 </dt>
  <dd class="govuk-summary-list__value">
    varies depending on episodes, unaided. Is able to mobilise inside and outside the house. He tends to walk slower that the rest of his family, but highlights this is because he feels it is a relaxing time and no need to rush. No aids are required. will walk the dogs 7 days per week and will walk them approx. a mile at a slow pace, this will take approx. 15 mins and will stop ' a couple of times' during the week to sit on a bench due to SOB.
  </dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list--no-border">
  <dt class="govuk-summary-list__key">
    Which of these describes how well the claimant can move around?
  </dt>
  <dd class="govuk-summary-list__value">
    Can stand and then move more than 200 metres, either aided or unaided </dd>
</div>

<div class="govuk-summary-list__row govuk-summary-list">
  <dt class="govuk-summary-list__key">
    What is the reason for this answer?
  </dt>
  <dd class="govuk-summary-list__value">
    *Not completed due to time. Imagine same level of justification given for ‘preparing food’
  </dd>        
</div>
</dl>


  <!-- <h2 class="govuk-heading-l">Current condition</h2> -->

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">

  <h3 class="govuk-heading-m">Variability
  </h3>

  
    <div class="govuk-summary-list__row govuk-summary-list">
    <dt class="govuk-summary-list__key">
      Variability
    </dt>
    <dd class="govuk-summary-list__value">
      Please see conditions history
    </dd>
  </div>
</dl>


  <!-- Functional restrictions -->


<h3 class="govuk-heading-m">[Heading tbc]
  </h3>

  
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row govuk-summary-list--no-border">
      <dt class="govuk-summary-list__key">
        Has the claimant's functional restriction lasted at least 3 months?
     </dt>
      <dd class="govuk-summary-list__value">
        No functional restriction
      </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list--no-border">
      <dt class="govuk-summary-list__key">
        Is the claimant likely to have functional restriction for at least 9 months?
      </dt>
      <dd class="govuk-summary-list__value">
        No functional restriction</dd>
    </div>
    </dl>







<dl class="govuk-summary-list"></dl>
  <h3 class="govuk-heading-m">When does this claim need to be reviewed?
  </h3>

  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      When does this claim need to be reviewed?
    </dt>
    <dd class="govuk-summary-list__value">
      No future assessments required</dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list">
    <dt class="govuk-summary-list__key">
      Why should the claim be reviewed then?
    </dt>
    <dd class="govuk-summary-list__value">
      N/A
      </dd>
       </div>
</dl>

<!-- 
<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Print report
</button>

        <form action="#" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

         
        </form> -->




      </div>
    </div>


{% endblock %}
