{% extends "layout.html" %}

{% block pageTitle %}
Work capability assessment report
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

  <!-- <span class="govuk-caption-l">Eating and drinking</span> -->

        <h1 class="govuk-heading-l">Health assessment report</h1>

        <br>

        <h2 class="govuk-heading-l">Claimant details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Laura Doe
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              QQ 12 34 56 X
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              14 November 1987
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Benefit type
            </dt>
            <dd class="govuk-summary-list__value">
              Universal Credit
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of assessment
            </dt>
            <dd class="govuk-summary-list__value">
              24 March 2021
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How was the assessment conducted
            </dt>
            <dd class="govuk-summary-list__value">
              Telephone
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name of Healthcare Professional
            </dt>
            <dd class="govuk-summary-list__value">
              Jane Jones
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email of Healthcare Professional
            </dt>
            <dd class="govuk-summary-list__value">
              jjones@email.com
            </dd>
          </div>
        </dl>





        <h2 class="govuk-heading-l">Assessment</h2>


        <h3 class="govuk-heading-m">Additional attendees
        </h3>
      
        <dl class="govuk-summary-list">
      
        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            
          </dt>
          <dd class="govuk-summary-list__value">
          </dd>
        </div>
      
      
        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            Attendee 1
          </dt>
          <dd class="govuk-summary-list__value">
            Name: David Doe<br>Relationship to claimant: Father
          </dd>
        </div>
      <!-- <h3 class="govuk-heading-s">Additional attendee 2
      </h3> -->
      
      <div class="govuk-summary-list__row ">
        <dt class="govuk-summary-list__key">
          Attendee 2
        </dt>
        <dd class="govuk-summary-list__value">
          Name: Peter Parker<br>Relationship to claimant: Support worker
        </dd>
      </div>
      </dl>
      

<dl class="govuk-summary-list govuk-!-margin-bottom-9">

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Condition history
  </dt>
  <dd class="govuk-summary-list__value">
    Mental Health Problem<br>Diagnosed with anxiety and depression about 6 months.<br>He states that he went to his GP about low moods and suicidal thoughts at this time.<br>He states that he has been seeing his GP for his lowmood, he states that his GP is aware of his suicidal thoughts at that time.<br>He states that he has never self harmed.<br>
    He states that he has not had any suicidal thoughts since June 2017.<br>
    He states that he has been doing exercise at the mood which has help improve his mood.<br>
    He was started on anti-depressants when he went to see his GP in June, he states that he has been weaning off his anti-depressants himself as he finds exercise is the best medication for him.<br>
    He states that in June and July he spent most of his time in bed, however now he says that is not really having any bad days.<br>
    He has been seeing his GP every 4 weeks on average at the moment.<br>
    No input from the community mental health team at the moment.<br>
    No hospital admissions linked to mental health problems.<br>
    No history of alcohol or drugs misuse.<br>
    He finds that a lot of his previous depression symptoms associated with lack of motivation and poor sleeping problems have improved.<br>
    He states that he does not feel anxious at the moment, he says that he does not suffer from panic attacks.<br>
    He states that no situations at the moment cause him anxiety.<br>

  </dd>
</div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Medication and side effects
            </dt>
            <dd class="govuk-summary-list__value">
              Citalopram (antidepressant) taken regularly.<br>He states that he has a box of citalopram in a draw at home however he has not taken any of this medication for thelast 16 days as he has weaned himself off it.<br>There are no reported side effects due to medication.</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Social and work history
            </dt>
            <dd class="govuk-summary-list__value">Evidence reviewed includes the Questionnaire, Med 3 and POID1.<br>The client was seen in an assessment centre.<br>Lives in a house with his parents.<br>
              No dependants or caring responsibilities.<br>Came to assessment today alone on the bus, which took about 30 minutes.<br>Stopped work 5 months ago.<br>Last worked as a [redacted] </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Typical day
            </dt>
            <!-- <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Suspendisse non dictum ipsum. <br>Donec in ultrices metus. Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. <br>Morbi fringilla odio ne<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non dictum ipsum. Donec in ultrices metus. Morbi fringilla odio ne</dd> -->

            <dd class="govuk-summary-list__value">Usually gets up at about 7 am. <br>
              He will have a bath or shower twice a day at the moment, hewill complete this task daily at the moment. <br>
              He will attempt to work out at home using equipment that he has at home 3-4 times a week at the moment.<br>
              He will only go out at the moment if he has to.<br>He states that he lives in a village.<br>
              He communicates with friends via facebook and social media at the moment as most of his friends have moved abroad in recent years.<br>
              His mum will complete most of the food shopping.<br>He will occasionally go to the local Tesco once or twice a fortnight, he will walk there when he goes to this shop.<br>
              He will walk down to the local fish and chip shop himself as well 1-2 times a fortnight as well.<br>
              He says that he has been applying for 3 jobs a day online at the moment.<br>He says that he will gain access to the internet on his mobile phone.<br>
              He says that he will play a lot of x box while laying in bed.<br>
              He enjoys playing on games consoles, he enjoys retro gaming.<br>
              He enjoys reading book and doing painting and art.<br>He will make himselfsimple meals to eat, he has never had any serious accidents in the kitchen when preparing meals.<br>
              He will phone up and make all of his own doctors appointments, he states that he will attend these appointments either by catching the bus or he will walk the1 mile away from the surgery.
              
          <!-- </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Informal observations
            </dt>
            <dd class="govuk-summary-list__value">Walked in normally unaided to and from the assessment room about 20metres, had good eye contact<br>Was able to sit for half and hour in assessment without difficulty. Able to take coat of unaided</dd>

          </div> -->
        </dl>





<dl class="govuk-summary-list"></dl>
  <h3 class="govuk-heading-m">Learning to do new tasks
  </h3>

  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      How does the claimant cope with meeting and being with people?
    </dt>
    <dd class="govuk-summary-list__value">
      None of the above  </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list">
    <dt class="govuk-summary-list__key">
      Give details
    </dt>
    <dd class="govuk-summary-list__value">
      He will have a bath or shower twice a day at the moment, he will complete this task daily at the moment.<br>
      He will attempt to work out at home using equipment that he has at home 3-4 times a week at the moment.<br>
      He says that he will play a lot of x box while laying in bed.<br>
      He will make himself simple meals to eat, he has never had any serious accidents in the kitchen when preparingmeals.<br>

    </dl>

<dl class="govuk-summary-list"></dl>
  <h3 class="govuk-heading-m">Awareness of hazards and danger
  </h3>

  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      How does the claimant cope with meeting and being with people?
    </dt>
    <dd class="govuk-summary-list__value">
      None of the above  </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list">
    <dt class="govuk-summary-list__key">
      Give details
    </dt>
    <dd class="govuk-summary-list__value">
      He will have a bath or shower twice a day at the moment, he will complete this task daily at the moment.<br>
      He will attempt to work out at home using equipment that he has at home 3-4 times a week at the moment.<br>
      He says thathe will play a lot of x box while laying in bed.<br>
      He will make himself simple meals to eat, he has never had any serious accidents in the kitchen when preparingmeals.<br>
      
    </dl>

    <dl class="govuk-summary-list"></dl>
  <h3 class="govuk-heading-m">Planning, starting and finishing everyday tasks
  </h3>

  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      How does the claimant cope with meeting and being with people?
    </dt>
    <dd class="govuk-summary-list__value">
      None of the above  </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list">
    <dt class="govuk-summary-list__key">
      Give details
    </dt>
    <dd class="govuk-summary-list__value">
      He will have a bath or shower twice a day at the moment, he will complete this task daily at the moment.<br>
      He will attempt to work out at home using equipment that he has at home 3-4 times a week at the moment.<br>
      He says that he will play a lot of x box while laying in bed.<br>
      He will make himself simple meals to eat, he has never had any serious accidents in the kitchen when preparingmeals.<br>
      
    </dl>

    <dl class="govuk-summary-list"></dl>
    <h3 class="govuk-heading-m">Coping with changes
    </h3>
  
    <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row govuk-summary-list--no-border">
      <dt class="govuk-summary-list__key">
        How does the claimant cope with meeting and being with people?
      </dt>
      <dd class="govuk-summary-list__value">
        None of the above  </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list">
      <dt class="govuk-summary-list__key">
        Give details
      </dt>
      <dd class="govuk-summary-list__value">
        He will occasionally go to the local Tesco once or twice a fortnight, he will walk there when he goes to this shop.<br>
        He will walk down to the local fish and chip shop himself as well 1-2 times a fortnight as well.<br>
        He says that he has been applying for 3 jobs a day online at the moment.<br>
        He will phone up and make all of his own doctors appointments, he states that he will attend these appointmentseither by catching the bus or he will walk the 1 mile away from the surgery.<br>
        
      </dl>

      <dl class="govuk-summary-list"></dl>
      <h3 class="govuk-heading-m">Getting about
      </h3>
    
      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row govuk-summary-list--no-border">
        <dt class="govuk-summary-list__key">
          How does the claimant cope with meeting and being with people?
        </dt>
        <dd class="govuk-summary-list__value">
          None of the above  </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list">
        <dt class="govuk-summary-list__key">
          Give details
        </dt>
        <dd class="govuk-summary-list__value">
          He will occasionally go to the local Tesco once or twice a fortnight, he will walk there when he goes to this shop.<br>
          He will walk down to the localfish and chip shop himself as well 1-2 times a fortnight as well.<br>
          He says that he has been applying for 3 jobs a day online at the moment.<br>
          He will phone up and make all of his own doctors appointments, he states that he will attend these appointmentseither by catching the bus or he will walk the 1 mile away from the surgery.<br>
          
        </dl>



        <dl class="govuk-summary-list"></dl>
        <h3 class="govuk-heading-m">Coping with social situations
        </h3>
      
        <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row govuk-summary-list--no-border">
          <dt class="govuk-summary-list__key">
            How does the claimant cope with meeting and being with people?
          </dt>
          <dd class="govuk-summary-list__value">
            None of the above  </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list">
          <dt class="govuk-summary-list__key">
            Give details
          </dt>
          <dd class="govuk-summary-list__value">
            He communicates with friends via facebook and social media at the moment as most of his friends have movedabroad in recent years.He will occasionally go to the local Tesco once or twice a fortnight, he will walk there when he goes to this shop.<br>
            He will walk down to the local fish and chip shop himself as well 1-2 times a fortnight as well.<br>
            He says that he has been applying for 3 jobs a day online at the moment.<br>
            He will phone up and make all of his own doctors appointments, he states that he will attend these appointmentseither by catching the bus or he will walk the 1 mile away from the surgery.
          </dl>



          <dl class="govuk-summary-list"></dl>
          <h3 class="govuk-heading-m">Behaving appropriately around other people
          </h3>
        
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row govuk-summary-list--no-border">
            <dt class="govuk-summary-list__key">
              How does the claimant cope with meeting and being with people?
            </dt>
            <dd class="govuk-summary-list__value">
              None of the above  </dd>
          </div>
          <div class="govuk-summary-list__row govuk-summary-list">
            <dt class="govuk-summary-list__key">
              Give details
            </dt>
            <dd class="govuk-summary-list__value">
              He communicates with friends via facebook and social media at the moment as most of his friends have movedabroad in recent years.<br>
              He will occasionally go to the local Tesco once or twice a fortnight, he will walk there when he goes to this shop.<br>
              He will walk down to the local fish and chip shop himself as well 1-2 times a fortnight as well.<br>
              He says that he has been applying for 3 jobs a day online at the moment.<br>
              He will phone up and make all of his own doctors appointments, he states that he will attend these appointmentseither by catching the bus or he will walk the 1 mile away from the surgery.
            </dl>

            <dl class="govuk-summary-list"></dl>
            <h3 class="govuk-heading-m">Behaving appropriately around other people
            </h3>
          
            <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
              <dt class="govuk-summary-list__key">
                How does the claimant cope with meeting and being with people?
              </dt>
              <dd class="govuk-summary-list__value">
                None of the above  </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list">
              <dt class="govuk-summary-list__key">
                Give details
              </dt>
              <dd class="govuk-summary-list__value">
                The evidence does not support that the client cannot eat and drink independently.
              </dl>
  



<dl class="govuk-summary-list"></dl>
<h2 class="govuk-heading-m">Fit for work</h2>

  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      Has the customer service desk (CSD) approved this?
    </dt>
    <dd class="govuk-summary-list__value">
      Yes </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list--no-border">
    <dt class="govuk-summary-list__key">
      What was the practitioner's name?
    </dt>
    <dd class="govuk-summary-list__value">
      Doctor Healing </dd>
  </div>

</dl>



        <form action="#" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>




      </div>
    </div>


{% endblock %}
