{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
  <br>
  <br>
  <h6 class="govuk-heading-s">Assessment ended - Duration: 48 minutes</h6>
  <a href="#" class="govuk-body govuk-!-font-size-19">Abandon assessment</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Page coming soon!</h1>
    <form class="form" action="/1-Consultation-start" method="post">
    <p>Sorry we're not ready to test this page yet.</p>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
text: "Go back"

}) }}

  </div>

</div>

</main>
</div>

{% endblock %}
