{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  TextArea component
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
  <!-- <span class="govuk-caption-l">Eating and drinking</span> -->

  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#claimant-places">Select how does the claimant manage going out to places</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="govuk-form-group govuk-form-group--error">
    <fieldset class="govuk-fieldset" aria-describedby="claimant-places claimant-places-error">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
        How does the claimant manage going out to places?
        </h1>
      </legend>
      <div id="sign-in-hint" class="govuk-hint">
        Select which one best matches
      </div>
      <span id="changed-name-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> Select how does the claimant manage going out to places
  </span>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="claimant-places" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
          <label class="govuk-label govuk-radios__label" for="sign-in">
            Cannot leave their home and goto places
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
          <label class="govuk-label govuk-radios__label" for="sign-in-2">
            Can leave their home and go to places they know
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sign-in-3" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-3-item-hint">
          <label class="govuk-label govuk-radios__label" for="sign-in-3">
            Can leave their home and go to new places
          </label>
            </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sign-in-3" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-3-item-hint">
            <label class="govuk-label govuk-radios__label" for="sign-in-3">
              None of the above
            </label>
        </div>
      </div>
    </fieldset>
  </div>

</div>
</div>

<button class="govuk-button" data-module="govuk-button">
  Save
</button>



{% endblock %}
