{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  Multiple text fields component
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

<!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->


  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
        Add additional names
      </label>
    </h1>
    <div id="event-name-hint" class="govuk-hint">
  Other name you are known by
</div>
    <input class="govuk-input" id="event-name" name="event-name" type="text">
  </div>



</div>
</div>

<button class="govuk-button" data-module="govuk-button">
  Save
</button>



{% endblock %}
