
{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  TextArea component
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
  <!-- <span class="govuk-caption-l">Review</span> -->
  <h1 class="govuk-heading-l">Additional attendees</h1>





  <h2 class="govuk-heading-m">Attendee 1
    <a href="/form_components/AddAnother" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Remove</a>
</h2>


  <form action="#" method="post" novalidate>

    <div class="govuk-form-group">
      <label class="govuk-label" for="width-20">
        First name
      </label>
      <input class="govuk-input" id="width-20" name="width-20" type="text"></div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
          Surname
        </label>
  <input class="govuk-input" id="width-20" name="width-20" type="text"></div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <label class="govuk-label">
          Relationship to claimant
        </label>
      </legend>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live">
            Family member
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
            Friend
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
            Support worker
          </label>
        </div>

      </div>

    </fieldset>
  </div>

<hr>
<br>
<br>
<h2 class="govuk-heading-m">Attendee 2
  <a href="/form_components/AddAnother" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Remove</a>
</h2>

<div class="govuk-form-group">
  <label class="govuk-label" for="width-20">
    First name
  </label>
  <input class="govuk-input" id="width-20" name="width-20" type="text"></div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="width-20">
      Surname
    </label>
<input class="govuk-input" id="width-20" name="width-20" type="text"></div>

<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <label class="govuk-label">
      Relationship to claimant
    </label>
  </legend>
  <div class="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
      <label class="govuk-label govuk-radios__label" for="where-do-you-live">
        Family member
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
      <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
        Friend
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
      <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
        Support worker
      </label>
    </div>

  </div>

</fieldset>
</div>

<hr>
<br>
<br>


<a href="#" class="govuk-link govuk-!-font-size-19">Add another attendee</a>
<br>
<br>
<br>
    {{ govukButton({
      id: "comment",
      name: "comment",
      value: "add-statement",
      text: "Save and continue"
    }) }}

  </div>
  </div>
  </main>



{% endblock %}
