
{% extends "layout-key-detail-bar.html" %}
{% block pageTitle %}
  Question page
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <form action="/pip/evidence-considered/save-and-continue" method="post" novalidate>


    <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
    <h1 class="govuk-heading-xl">Start the consultation</h1>
  

    <div class="govuk-form-group">
      <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label" for="more-detail">
          Evidence considered
        </label>
      </h1>
      <div id="more-detail-hint" class="govuk-hint">
        List all evidence considered alongside the consultation findings
      </div>
      <textarea
        class="govuk-textarea"
        id="evidence-considered"
        name="evidence-considered"
        rows="10"
        aria-describedby="more-detail-hint">{{ session['evidence-considered'] }}</textarea>
    </div>




{{ govukWarningText({
  text: "By starting this consultation I am confirming that the nature and purpose of the consultation has been explained to the claimant and/or their representative.",
  iconFallbackText: "Warning"
}) }}
{% from "govuk/components/button/macro.njk" import govukButton %}

<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

  </div>

</div>

</main>
</div>

{% endblock %}
