{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="#" class="active" aria-current="section">Assessment started: 14:00</a>
          </li>
          <li>
            <a href="#">Abandon assessment</a>
          </li>



        </ul>
      </nav>

    </div>
  </div>
</main>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">
    <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
    <h1 class="govuk-heading-xl">Confirm and submit</h1>
    <form class="form" action="/corecomponents/Research/2Navigation/pip-tasklist/11-Submitted-confirmation" method="post">
    <p>By submitting this assessment I am confirming that I have completed all
necessary consultations with the claimant, and have given them the
opportunity to add any further detail.</p>
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
text: "Submit"

}) }}

  </div>

</div>

</main>
</div>

{% endblock %}
