
{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  TextArea component
{% endblock %}


{% block beforeContent %}

<!-- <a href="#" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <form action="/pip/add-attendee/save-and-continue" method="post" novalidate>

  <!-- <span class="govuk-caption-l">Review</span> -->
  <h1 class="govuk-heading-l">Additional attendees</h1>



<h2 class="govuk-heading-m">Attendee 1</h2>


  <form action="#" method="post" novalidate>

    <div class="govuk-form-group">
      <label class="govuk-label" for="add-attendee">
        Name of individual
      </label>
      <input class="govuk-input" id="add-attendee" name="add-attendee" type="text" value="{{ data['add-attendee'] }}"> 
    </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
          Relationship to claimant
        </label>
  <input class="govuk-input" id="width-20" name="width-20" type="text"></div>


<hr>
<br>

<br>


<a href="AddAnother2_2components_add" class="govuk-link govuk-!-font-size-19">Add another attendee</a>
<br>
<br>
<br>
<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>


  </div>
  </div>
  </main>



{% endblock %}
