{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}

<a href="javascript:window.history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">


  

  <div class="govuk-grid-column-three-quarters">


    <form action="/pip/medication-name/save-and-continue" method="post" novalidate>



    <h1 class="govuk-heading-l">Current medication and treatment</h1>
   
    <div class="govuk-form-group">
      <label class="govuk-label" for="add-attendee">
        Name of medication
      </label>
      <input class="govuk-input" id="Medication" name="Medication" type="text" value="{{ data['Medication'] }}"> 
    </div>
  


      <div class="govuk-form-group">
        <label class="govuk-label" for="add-attendee">
          Dose
        </label>
        <input class="govuk-input" id="Dose" name="Dose" type="text" value="{{ data['Dose'] }}"> 
      </div>
    


      <div class="govuk-form-group">
        <label class="govuk-label" for="add-attendee">
          Frequency
        </label>
        <input class="govuk-input" id="frequency" name="frequency" type="text" value="{{ data['frequency'] }}"> 
      </div>

      <hr>
      <br>
      {{ govukButton({
        text: "Add another medication",
        classes: "govuk-button--secondary"
      }) }}

<br>
<br>

<div class="govuk-form-group">
  <!-- <span class="govuk-caption-l">Section heading (Caption)</span> -->
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label" for="more-detail">
      History
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Including side effects, compliance and efficacy
  </div>
  <textarea
    class="govuk-textarea"
    id="medication-name"
    name="medication-name"
    rows="10"
    aria-describedby="more-detail-hint">{{ session['medication-name'] }}</textarea>
</div>



<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
  </div>

</div>

</main>
</div>

{% endblock %}
