{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="#" class="active" aria-current="section">Assessment started: 14:00</a>
          </li>
          <li>
            <a href="#">Abandon assessment</a>
          </li>



        </ul>
      </nav>

    </div>
  </div>
</main>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">
    <a class="govuk-back-link" href="/url/of/previous/page">Back</a>

    <form action="/pip/observations/save-and-continue" method="post" novalidate>





      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
            Observations
          </label>
        </h1>
        <div id="more-detail-hint" class="govuk-hint">
          Include any observed examinations as appropriate e.g. hearing
        </div>
        <textarea class="govuk-textarea" 
        id="observations" 
        name="observations" 
        rows="5" 
        aria-describedby="more-detail-hint">{{ data['observations'] }}</textarea>
      </div>
      


      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

  </div>

</div>

</main>
</div>

{% endblock %}
