{% extends "layout-key-detail-bar.html" %}

{% block pageTitle %}
  TextArea component
{% endblock %}


{% block beforeContent %}

<a href="javascript:window.history.back();" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

    <form action="/corecomponents/Research/4Navigation/WCA-tasklist/TaskList-PA" method="post" novalidate>



        <span class="govuk-caption-l">Neck and arms</span>
       
        <h2 class="govuk-heading-l">Left upper arm</h2>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
    <label class="govuk-label" for="more-detail">
      Select the examination you want to complete
    </label>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-elbow-flexion-conditional">
        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
          Elbow flexion
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-elbow-flexion-conditional">
        <div class="govuk-form-group">
<fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
  <h1 class="govuk-fieldset__heading">
    Choose below
  </h1>
</legend>
<div class="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
    <label class="govuk-label govuk-radios__label" for="where-do-you-live">
      Normal (130°)
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
    <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
      Can bend elbow beyond half way to between 100° and 120°
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
    <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
      Can bend elbow almost half way to between 80° and 90°
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
    <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
      Can bend elbow less than half way to less than 80°
    </label>
  </div>
</div>

</fieldset>
</div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-hand-behind-back-conditional">
        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
          Hand behind back
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-hand-behind-back-conditional">
        <div class="govuk-form-group">
<fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
  <h1 class="govuk-fieldset__heading">
    Choose below
  </h1>
</legend>
<div class="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live2" type="radio" value="england">
    <label class="govuk-label govuk-radios__label" for="where-do-you-live">
      Finger to mid scapula
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live2" type="radio" value="scotland">
    <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
      Finger below scapula: hand can only reach small of back
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live2" type="radio" value="wales">
    <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
      Cannot put hand behind back

    </label>
  </div>
</div>

</fieldset>
</div>
      </div>


      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-hand-behind-neck-conditional">
        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
          Hand behind neck
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-hand-behind-neck-conditional">
        <div class="govuk-form-group">
<fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
  <h1 class="govuk-fieldset__heading">
    Choose below
  </h1>
</legend>
<div class="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live3" type="radio" value="england">
    <label class="govuk-label govuk-radios__label" for="where-do-you-live">
      Fingers overlap mid line
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live3" type="radio" value="scotland">
    <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
      Fingers do not reach mid line: hand reaches to back of neck but not fully behind it
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live3" type="radio" value="wales">
    <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
      Cannot put hand behind neck: hand does not reach behind neck
    </label>
  </div>
 

</div>
</fieldset>
</div>
      </div>


      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-shoulder-abduction-conditional">
        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
          Shoulder abduction
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-shoulder-abduction-conditional">
        <div class="govuk-form-group">
<fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
  <h1 class="govuk-fieldset__heading">
    Choose below
  </h1>
</legend>
<div class="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live4" type="radio" value="england">
    <label class="govuk-label govuk-radios__label" for="where-do-you-live">
      Normal (more than 170°)
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live4" type="radio" value="scotland">
    <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
      Ability to raise arm away from side to above shoulder is reduced to between 120° and 150°
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live4" type="radio" value="scotland">
    <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
      AAbility to raise arm away from side is restricted around shoulder level to between 70° and 110°
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live4" type="radio" value="scotland">
    <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
      Ability to raise arm away from side is restricted around shoulder level to less than 70°
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live4" type="radio" value="scotland">
    <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
      Painful arm movement above shoulder height at between 100° and 150°
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live4" type="radio" value="scotland">
    <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
      Painful arm movement around shoulder height atbetween 100° and 110°
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live4" type="radio" value="scotland">
    <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
      Painful arm movement around shoulder height atbetween 100° and 110°
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live4" type="radio" value="scotland">
    <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
      Not able to initiate: cannot start to lift arm away from side
    </label>
  </div>
</div>
</fieldset>
</div>
      </div>









      </div>


  </fieldset>
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="more-detail">
      Other findings
    </label>

  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>


<button class="govuk-button" data-module="govuk-button">
Save and continue
</button>
</div>
</div>
{% endblock %}
