
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
  <!-- <span class="govuk-caption-l">Eating and drinking</span> -->
<h2 class="govuk-heading-xl">Health assessment components</h2>
<br>

<h3 class="govuk-heading-l">Global page layout</h3>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/form_components/page-template">Header / Key details bar / Footer (Simple)</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/page-template">Header / Key details bar / Footer (with left/right hand column) (todo)</a>
  </li>
</ul>


<h3 class="govuk-heading-l">Form components / Patterns</h3>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/form_components/TextArea">Text area</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/radios">Radios</a>
  </li>
  <!-- <li>
    <a class="govuk-link" href="/form_components/radios-sectionHeader">Radios with section header</a>
  </li> -->
  <li>
    <a class="govuk-link" href="/form_components/checkboxes">Checkbox</a>
  </li>
  <!-- <li>
    <a class="govuk-link" href="/form_components/checkboxes-sectionHeader">Checkbox with section header</a>
  </li> -->
  <li>
    <a class="govuk-link" href="/form_components/TextField-single">Text input</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/TextField-multiple">Multiple text fields</a>
  </li>
  <li>
    <a class="govuk-link" href="form_components/TakingStatementsentry-v1">Tagging Statements (version 1)</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/TakingStatementsentry">Tagging Statements (version 2) (work in progress)</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/addanother/AddAnother1_1component">Add another - 1 component</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/addanother/AddAnother2_2components">Add another - 2 components</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/addanother/AddAnother3_3components">Add another - 3 multiple components with radios</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/addanother/AddAnother4_3components">Add another - 3 multiple components with checkboxes</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Detail (to do)</a>
  </li>
  <br>



  <h3 class="govuk-heading-s">Reveal form components</h3>
  <li>
    <a class="govuk-link" href="/form_components/radiosreveal">Radios reveal TextArea</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/radiosrevealTextfield">Radios reveal Text field</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/radiosrevealRadio.html">Radios reveal radios</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/checkboxesrevealTextArea">Checkbox reveal Textarea</a>
  </li>

  <li>
    <a class="govuk-link" href="/form_components/checkboxesrevealRadios">Checkbox reveal radios</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/checkboxesrevealTextinputfield.html">Checkbox reveal Text field</a>
  </li>
<br>
    <p class="govuk-body">Radios reveal Checkboxes (Out of scope)<br>Checkbox reveal Checkboxes (Out of scope)</p>

 
  

  <!-- <li>
    <a class="govuk-link" href="/form_components/TakingStatements_alt">Taking Statement alternatives</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/progress_step1">Progress indicator</a>
  </li> -->
</ul>
<br>

<h3 class="govuk-heading-s">Multiple form components in a page</h3>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/form_components/Textcomponents-multiple">Multiple text components</a>
  </li>
<li>
  <a class="govuk-link" href="/form_components/checkboxesSmall_multiLists">Multiple checkbox lists</a>
</li>
<li>
  <a class="govuk-link" href="/form_components/radiosTextarea">Radios list and text area component</a>
</li>
<li>
  <a class="govuk-link" href="#">Multiple text areas (Mental health example) (todo)</a>
</li>
<li>
  <a class="govuk-link" href="/form_components/radiosrevealTextArea_withseparateTextArea">Radios reveal TextArea with additional TextArea component</a>
</li>
<li>
  <a class="govuk-link" href="/form_components/checkboxesrevealTextAreawithadditionalTextAreaComponent">Checkboxes reveal TextArea with additional TextArea component</a>
</li>

<li>
  <a class="govuk-link" href="/form_components/checkboxesrevealRadioswithadditionalTextArea">Checkboxes reveal Radios with additional TextArea component</a>
</li>
<!-- <li>
  <a class="govuk-link" href="/form_components/addanother/multiple_pageComponents/multuple_addAnother-section">1 fixed component then add another</a>
</li>
<li>
  <a class="govuk-link" href="/form_components/addanother/multiple_pageComponents/multuple_addAnother-existingList">2 fixed component then add another</a>
</li> -->




<!-- <li>
  <a class="govuk-link" href="/form_components/TakingStatements_alt">Taking Statement alternatives</a>
</li>
<li>
  <a class="govuk-link" href="/form_components/progress_step1">Progress indicator</a>
</li> -->
</ul>




<h3 class="govuk-heading-s">Review/Report and Confirmation components / Patterns</h3>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/form_components/review">Check your answers (review) </a>
  </li>

  <li>
    <a class="govuk-link" href="/form_components/review_v3_noGroups">Check your answers with no groups (review) </a>
  </li>

  

  <li>
    <a class="govuk-link" href="/form_components/report">Check your answers (report)</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/confirmation">Panel - Confirmation page</a>
  </li>
  </ul>



<h3 class="govuk-heading-s">Error and status</h3>
<ul class="govuk-list">
  <p class="govuk-body">Form field validation</p>
  <li>
    <a class="govuk-link" href="/form_components/Error-TextArea">Text area - Error Summary and message</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/Error-TextField-single">Text field - Error Summary and message</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/error-radios">Radios - Error Summary and message</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/error-checkboxes">Checkboxes - Error Summary and message</a>
  </li>

  <li>
    <a class="govuk-link" href="  /form_components/Error-Textcomponents-multiple">Multiple components with optional field - Error Summary and message</a>
  </li>
 
  <br>
  <li>
    <a class="govuk-link" href="/form_components/error-radiosrevealTextfield-optionSelected">Radios reveal textinput - Error Summary and message</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/error-radiosrevealTextArea-optionSelected">Radios reveal textarea - Error Summary and message</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/error-radiosrevealRadio-optionSelected">Radios reveal Radios - Error Summary and message</a>
  </li>
  <!-- <li>
    <a class="govuk-link" href="/form_components/error-radiosrevealCheckBox-optionSelected">Radios reveal Checkboxes - Error Summary and message</a>
  </li> -->
  <li>
    <a class="govuk-link" href="/form_components/error-checkboxesrevealTextArea-optionsSelected">Checkboxes reveal textarea - Error Summary and message</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/error-checkboxesrevealTextinputfield">Checkboxes reveal input field - Error Summary and message</a>
  </li>
  <li>
    <a class="govuk-link" href="form_components/error-checkboxesrevealRadios">Checkboxes reveal radios - Error Summary and message</a>
  </li>


  <br>
  <p class="govuk-body">Page error status</p>
  <li>
    <a class="govuk-link" href="/form_components/404-Error-page">Page not found - 404 status</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/500-serviceError-page">Service down page - 500 status</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/503-serviceUnavailable-page">Service unavailable - 503 status</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/Error-TakingStatementsentry-v1">Statements - Error summary Service down </a>
  </li>



<br>
<p class="govuk-body">Other status functions</p>
  <li>
    <a class="govuk-link" href="#">Warning (to do)</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Assessment status panel (such as start / timer / finish) (to do)</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Scoring pattern (to do)</a>
  </li>
 


  </ul>

  <h3 class="govuk-heading-s">Navigation (User research and discovery needed)</h3>
  <ul class="govuk-list">
    <li>
      <a class="govuk-link" href="/form_components/Linear-journey/radios">Linear navigation</a>
    </li>
    <li>
      <a class="govuk-link" href="/corecomponents/Research/4Navigation/WCA-tasklist/TaskList-status">Task list navigation</a>
    </li>
    <!-- <li>
      <a class="govuk-link" href="/corecomponents/Research/4Navigation/WCA-tasklist/TaskList-PA">Task list navigation with header</a>
    </li> -->
    <li>
      <a class="govuk-link" href="/form_components/Headingwithcaption">Header Captions</a>
    </li>
    <li>
      <a class="govuk-link" href="/form_components/back-link">Back link</a>
    </li>
    <li>
      <a class="govuk-link" href="/form_components/button-component">Primary Button</a>
    </li>
    <li>
      <a class="govuk-link" href="/form_components/button-secondary-component">Secondary button</a>
    </li>
    

   
    <br>
    <li>
      <p class="govuk-body">Conditional Page Navigation (onhold post mvp)</p>
    </li>
   
  
    <li>
      <p class="govuk-body">Links (onhold post mvp)</p>
    </li>
    <li>
      <p class="govuk-body">Left column navigation (out of scope)</p>
    </li>
   
    </ul>

<br>
<br>

{% endblock %}
