
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
  <!-- <span class="govuk-caption-l">Eating and drinking</span> -->
<h2 class="govuk-heading-xl">Research for Health assessment components</h2>
<br>



    <h3 class="govuk-heading-l">User research prototypes</h3>
    <ul class="govuk-list">

<br>
<br>
<h4 class="govuk-heading-s">Research 3 - (26 - 27 November 2020)</h4>
<p class="govuk-body">Second round of research on navigation</p>

<li>
<a class="govuk-link" href="/wca/task-list">WCA_Tasklist</a>
</li>
<li> 
<a class="govuk-link" href="/corecomponents/Research/3Navigation/WCA-Leftnav/Attendee-question.html">WCA_Left column navigation</a>
</li>
<!-- <li>
<a class="govuk-link" href="/corecomponents/Research/2Navigation/tasklist/Test2-tasklist_entry_rightnav">Tasklist-rightnav</a>
</li>
<li>
<a class="govuk-link" href="/corecomponents/Research/2Navigation/tasklist/Test3-tasklist_entry_tabs">Tasklist-tabs</a>
</li> -->
<li>
<a class="govuk-link" href="/corecomponents/Research/3Navigation/pip-tasklist/0-TaskList">PIP_Tasklist</a>
</li>
<li>
  <a class="govuk-link" href="/corecomponents/Research/3Navigation/pip-leftnav-non-forced/1-Consultation-start">PIP_Left column (Non-forced)</a>
  </li>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- <li>
  <a class="govuk-link" href="/pip/leftnav/left-start">PIP_Left column navigation</a>
  </li>
<li>
  <a class="govuk-link" href="/corecomponents/Research/3Navigation/WCA-Leftnav/pa-tasklist">PA-left-nav-tasklist</a>
  </li> -->




        <h4 class="govuk-heading-s">Research 2 (planned week commencing 19th October 2020)</h4>
<p class="govuk-body">Research comparing left hand navigation vs tasklist, which is most appropriate for PIP and WCA</p>

      <li>
        <a class="govuk-link" href="/corecomponents/Research/2Navigation/tasklist/Test1-tasklist_entry">WCA_Tasklist</a>
      </li>
      <li>
        <a class="govuk-link" href="/corecomponents/Research/2Navigation/tabs-ticks/condition_history-tabs">WCA_Left column navigation</a>
      </li>
      <!-- <li>
        <a class="govuk-link" href="/corecomponents/Research/2Navigation/tasklist/Test2-tasklist_entry_rightnav">Tasklist-rightnav</a>
      </li>
      <li>
        <a class="govuk-link" href="/corecomponents/Research/2Navigation/tasklist/Test3-tasklist_entry_tabs">Tasklist-tabs</a>
      </li> -->
      <li>
        <a class="govuk-link" href="/corecomponents/Research/2Navigation/pip-tasklist/0-tasklist_entry">PIP_Tasklist</a>
      </li>
      <li>
        <a class="govuk-link" href="/corecomponents/Research/2Navigation/pip-leftnav/pip-leftnav-tick/1-Consultation-start">PIP_Left column navigation</a>
      </li>

      <br>
      <br>

            <h4 class="govuk-heading-s">Research 1 (23 September 2020)</h4>
            <p class="govuk-body">Reviewing the 'Informal observations' component and navigation</p>

              <li>
                <a class="govuk-link" href="/wca_v1/Landingpage">WCA prototype with left navigation</a>
              </li>
      </ul>

<br>
<br>
<br>
      <h3 class="govuk-heading-l">Navigation ideas</h3>
      <h4 class="govuk-heading-s">Previous proposals and ideas</h4>
      <ul class="govuk-list">
        <li>
          <li>
            <a class="govuk-link" href="/Archive/1-Consultation-start">PIP2 example (march2020)</a>
          </li>

<!-- <li>
  <a class="govuk-link" href="/wca_v1/Landingpage">Left column navigation</a>
</li>

          <li>
            <a class="govuk-link" href="/corecomponents/Research/2Navigation/tabs/condition_history-tabs">Left column and Tabs navigation</a>
          </li>

          <li>
            <a class="govuk-link" href="/corecomponents/Research/2Navigation/tasklist/tasklist_entry">Tasklist navigation</a>
          </li>
          <li>
            <a class="govuk-link" href="/corecomponents/Research/2Navigation/tasklist-no-captions/tasklist_entry">Tasklist navigation with captions removed</a>
          </li> -->

          <!-- <li>
            <a class="govuk-link" href="/wca_v1/tasklist/tasklist2column">Tasklist grid navigation</a>
          </li> -->
          <br>


        </ul>

    </div>
    </div>
{% endblock %}
