
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
  <!-- <span class="govuk-caption-l">Eating and drinking</span> -->
<h2 class="govuk-heading-l">Health assessment components</h2>
<br>

<h3 class="govuk-heading-m">Global page layout</h3>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/form_components/page-template">Header / Key details bar / Footer (Simple)</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/page-template">Header / Key details bar / Footer (with left/right hand column) (todo)</a>
  </li>
</ul>


<h3 class="govuk-heading-m">Form components / Patterns</h3>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/form_components/TextArea">Text area</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/radios">Radios</a>
  </li>
  <!-- <li>
    <a class="govuk-link" href="/form_components/radios-sectionHeader">Radios with section header</a>
  </li> -->
  <li>
    <a class="govuk-link" href="/form_components/checkboxes">Checkbox</a>
  </li>
  <!-- <li>
    <a class="govuk-link" href="/form_components/checkboxes-sectionHeader">Checkbox with section header</a>
  </li> -->
  <li>
    <a class="govuk-link" href="/form_components/TextField-single">Text input.</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/TextField-multiple">Multiple text fields</a>
  </li>

  <li>
    <a class="govuk-link" href="/form_components/TakingStatements">Tagging Statements</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Add another (to do)</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Detail (to do)</a>
  </li>
  <br>
  <h3 class="govuk-heading-s">Reveal form components</h3>
  <li>
    <a class="govuk-link" href="/form_components/radiosreveal">Radios reveal TextArea</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Radios reveal Checkboxes (to do)</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Radios reveal radios (to do)</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Radios reveal Text field (to do)</a>
  </li>
    <br>
  <li>
    <a class="govuk-link" href="#">Checkbox reveal Textarea (to do)</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Checkbox reveal Checkboxes (to do)</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Checkbox reveal radios (to do)</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Checkbox reveal Text field (to do)</a>
  </li>

  <!-- <li>
    <a class="govuk-link" href="/form_components/TakingStatements_alt">Taking Statement alternatives</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/progress_step1">Progress indicator</a>
  </li> -->
</ul>


<h3 class="govuk-heading-m">Review/Report and Confirmation components / Patterns</h3>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/form_components/review">Check your answers (review) (todo) </a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/review">Check your answers (report) (todo) </a>
  </li>
  <li>
    <a class="govuk-link" href="#">Confirmation (to do)</a>
  </li>
  </ul>



<h3 class="govuk-heading-m">Error and status</h3>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/form_components/review">Error summary (todo)</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Error message (to do)</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Page not found status (to do)</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Warning (to do)</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Assessment status panel (such as start / timer / finish) (to do)</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Scoring pattern (to do)</a>
  </li>

  </ul>

  <h3 class="govuk-heading-m">Navigation (User research and discovery needed)</h3>
  <ul class="govuk-list">
    <li>
    <p class="govuk-body">Linear navigation</p>
    </li>
    <li>
      <p class="govuk-body">Conditional Page Navigation</p>
    </li>
    <li>
      <p class="govuk-body">Global Navigation</p>
    </li>
    <li>
      <p class="govuk-body">Task navigation (e.g. Index page)</p>
    </li>
    <li>
      <p class="govuk-body">Button</p>
    </li>
    <li>
      <p class="govuk-body">Secondary button</p>
    </li>
    <li>
      <p class="govuk-body">Links</p>
    </li>
    <li>
      <p class="govuk-body">Back link</p>
    </li>
    </ul>



    </div>
    </div>
{% endblock %}
