
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
  <!-- <span class="govuk-caption-l">Eating and drinking</span> -->
<h1 class="govuk-heading-xl">Health assessment components and reports</h1>
<br>

<h2 class="govuk-heading-l">Assessments</h2>

<h3 class="govuk-heading-s">Core component library</h3>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="corecomponents/components/current/index_components">View core components</a>
  </li>
</ul>



<h3 class="govuk-heading-s">Components research and Prototypes</h3>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="corecomponents/Research/index_research">View research and prototypes</a>
  </li>
  </ul>

    </div>
    </div>
<br>
<br>
    <h2 class="govuk-heading-l">Reports</h2>

    <h3 class="govuk-heading-s">Report templates and research</h3>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="reports/reports_templates/index_reports">View report templates</a>
  </li>
</ul>



{% endblock %}
