
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
  <!-- <span class="govuk-caption-l">Eating and drinking</span> -->
<h2 class="govuk-heading-l">Library of components to use in a configurable health assessment</h2>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/form_components/TextArea">Text area</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/radios">Radios</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/radios-sectionHeader">Radios with section header</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/checkboxes">Checkbox</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/checkboxes-sectionHeader">Checkbox with section header</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/TextField-single">Text input.</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/TextField-multiple">Multiple text fields</a>
  </li>

  <li>
    <a class="govuk-link" href="/form_components/TakingStatements">Tagging Statements</a>
  </li>
  <!-- <li>
    <a class="govuk-link" href="/form_components/TakingStatements_alt">Taking Statement alternatives</a>
  </li>
  <li>
    <a class="govuk-link" href="/form_components/progress_step1">Progress indicator</a>
  </li> -->
  <li>
    <a class="govuk-link" href="/form_components/review">Review</a>
  </li>



</ul>




</div>
</div>




{% endblock %}
